aiosqlite==0.21.0
fastapi==0.114.2
uvicorn==0.30.6
SQLAlchemy==2.0.34
aiojobs==1.4.0
pydantic-extra-types==2.10.5
pydantic==2.9.1
dnspython==2.6.1
cpeguess @ git+https://github.com/lmsecure/CPEGuess@99e3fe10574d138aaefaf56b354e58a6edb973a0
passlib==1.7.4
sqlmodel==0.0.22
PyJWT==2.10.0
Jinja2==3.1.4
aiofiles==24.1.0
aiohttp==3.11.7
orjson==3.10.12
pyOpenSSL==25.1.0
websockets==15.0.1
python-multipart==0.0.20
python-dotenv==1.1.1
xmltodict==0.15.0
scapy==2.6.1
pycryptodome==3.23.0
playwright==1.55.0
loguru==0.7.3
alembic==1.16.5
pydantic-settings==2.10.1
asyncpg==0.30.0