<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/assets/favicon.ico" rel="icon">
  <link href="/static/css/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/vendor/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/css/src/reg_and_auth.css" rel="stylesheet">
  <link href="/static/css/src/particles.css" rel="stylesheet">
  <script src="/static/js/libs/bootstrap.bundle.min.js"></script>
  <script src="/static/js/libs/particles.min.js"></script>
  <script src="/static/js/libs/i18next.min.js"></script>
  <script src="/static/js/src/translate_i18n.js"></script>
  <script src="/static/js/src/toasts.js"></script>
  <title>Setezor: Auth</title>
</head>

<body>
  <div id="particles-js"></div>
  <div class="position-fixed top-0 end-0" id="toastHolderParent" style="margin-top: 5px;">
    <div id="toast_holder"></div>
  </div>
  <form onsubmit="auth(event)" name="AuthorizationFormName">
    <div class="wrapper">
      <h2 style="margin-bottom: 2rem;" data-i18n="Authorization"></h2>
      <div class="input-field">
        <input type="text" name="username" required>
        <label data-i18n="Login"></label>
      </div>
      <div class="input-field">
        <input type="password" name="password" id="password" required>
        <label data-i18n="Password"></label>
        <span class="toggle-password" onclick="togglePasswordVisibility()">
          <i class="bi bi-eye"></i>
        </span>
      </div>
      <button type="submit" data-i18n-value="Login" data-i18n="Log In"></button>
      <div class="register">
        <p>
          <span data-i18n="Don't have an account?"></span>
          <a href="/registration" style="color: rgb(2, 144, 214); display: block; padding: 4px;" data-i18n="Register"></a>
        </p>
      </div>
      <div class="dropdown" style="margin-top: -2rem;">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown" style="--bs-btn-color: rgb(17,17,17); --bs-btn-border-color: rgb(17,17,17);"
            data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-translate"></i>
          <span id="currentLanguage">EN</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
          <li><a class="dropdown-item language-option" href="#" data-value="en">English</a></li>
          <li><a class="dropdown-item language-option" href="#" data-value="ru">Русский</a></li>
        </ul>
      </div>
    </div>
  </form>

  <script>
    async function auth(event) {
      event.preventDefault();
      let formData = new FormData(event.target)
      let response = await fetch("/api/v1/auth/login", {
        method: 'post',
        body: formData
      })
      let answer = await response.json()
      if (response.status != 200) {
        create_toast("Error", answer.detail, 'error')
        return
      }
      window.location.href = "/projects"
    }
    function togglePasswordVisibility() {
      const passwordInput = document.getElementById('password');
      const toggleIcon = document.querySelector('.toggle-password i');

      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        toggleIcon.classList.remove('bi-eye');
        toggleIcon.classList.add('bi-eye-slash');
      } else {
        passwordInput.type = 'password';
        toggleIcon.classList.remove('bi-eye-slash');
        toggleIcon.classList.add('bi-eye');
      }
    }
  </script>
  <script defer src="/static/js/src/particles.js"></script>
  <script defer src="static/js/src/update_language.js"></script>
</body>

</html>