<!DOCTYPE html>
<html>

<head>
	<link rel="icon" href="/static/assets/favicon.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/bootstrap-icons.css" />
	<script src="/static/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="/static/js/bootstrap.bundle.min.js" type="module"></script>
	<script src="/static/js/i18next.min.js"></script>
	<script src="/static/js/translate_i18n.js"></script>
	<script src="/static/js/scripts.js"></script>
	<script src="/static/js/axios.min.js"></script>
	<script src="static/js/agents.js"></script>
	<script src="static/js/interfaces.js"></script>

	<title>Setezor: {% block title required %}{% endblock %}</title>

	{% block scripts %}{% endblock %}

	{% import 'network/nmap.html' as nmap %}
	{{ nmap.nmap_full_script_modal() }}
	{% import 'network/scapy.html' as scapy %}
	{{ scapy.scapy_full_script_modal() }}
	{% import 'network/masscan.html' as masscan%}
	{{ masscan.masscan_full_modal() }}
	{% import 'network/cert.html' as cert%}
	{{ cert.cert_full_modal() }}
	{% import 'network/whois.html' as whois%}
	{{ whois.whois_full_modal() }}
	{% import 'network/domains.html' as domains%}
	{{domains.domains_full_modal()}}   
	{% import 'network/wappalyzer.html' as wappalyzer%}
	{{wappalyzer.wappalyzer_full_script_modal()}}   
	{% import 'network/snmp.html' as snmp%}
	{{snmp.snmp_full_script_modal()}}   
	{% import 'network/cpe.html' as cpe%}
	{{cpe.cpe_full_script_modal()}}   
	{% import 'network/search_vulns.html' as search_vulns%}
	{{search_vulns.search_vulns_full_script_modal()}}   
	{% import 'network/speed_test.html' as speed_test %}
	{{speed_test.speed_test_full_script_modal()}}
</head>

<body>
	<header id="myHeader">
		<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
			<div class="container-fluid d-flex justify-content-between" style="--bs-gutter-x: 0.5rem">
				<div class="bd-highlight" style="margin-left: 40px;">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item d-inline">
							<a class="navbar-brand" href="/projects">
								<img src="/static/assets/logo.png"  width="120px" height="auto"
									style="margin-left: 0.5rem; margin-bottom:0.2rem" />
							</a>
						</li>
					</ul>
				</div>
				<div class="bd-highlight">
					{% if current_project %}
					<ul class="navbar-nav me-auto mb-2 mb-lg-0" >
						<li class="nav-item">
							<a class="nav-link" style="color: rgb(109, 145, 115)" aria-current="page" data-i18n="Project" data-current-project="{{ current_project }}"></a>
						</li>
					</ul>
					{% endif %}
				</div>
				
				<div class="d-flex align-items-center gap-2 ">
					{% if is_superuser %}
						<button class="btn btn-success" 
						data-bs-toggle="modal" 
						onclick='document.getElementById("inviteToSetezorToken").value=""; document.getElementById("inviteToSetezorURL").value = "";'
						data-bs-target="#inviteToSetezorTokenModal" data-i18n="Invite to Setezor"> 
						</button>
					{% endif %}
					
					<div class="dropdown">
						<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown" style="--bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C;"
								data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-translate"></i>
							<span id="currentLanguage">EN</span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="languageDropdown">
							<li><a class="dropdown-item language-option" href="#" data-value="en">English</a></li>
							<li><a class="dropdown-item language-option" href="#" data-value="ru">Русский</a></li>
						</ul>
					</div>
					<a type="button" class="btn btn-outline-primary ms-auto" href="https://help.setezor.net/?utm_source=public"
						target="_blank" style="--bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C;"
						data-testid="wiki_help">
						<i class="bi bi-book" style="font-family: 'Times New Roman', Times, serif" data-i18n-title="Wiki"></i>
					</a>
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
						data-bs-target="#aboutModal" style=" --bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C"
						data-testid="about_project">
						<i class="bi bi-question-circle" style="font-family: 'Times New Roman', Times, serif"
						data-i18n-title="About project"></i>
					</button>
					<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 data-i18n="About project"></h4>
								</div>
								<div class="modal-body">
									<div data-i18n="About Setezor text" style="margin-bottom: 0.5rem;">
									</div>
									<div class="list-group">
										<a href="https://setezor.net"
											class="list-group-item list-group-item-action list-group-item-success"
											target="_blank">Site</a>
										<a href="https://t.me/lmsecurity"
											class="list-group-item list-group-item-action list-group-item-primary"
											target="_blank">Telegram</a>
										<a href="https://github.com/lmsecure/Setezor"
											class="list-group-item list-group-item-action list-group-item-secondary"
											target="_blank">GitHub</a>
										<a href="https://hub.docker.com/r/lmsecure/setezor"
											class="list-group-item list-group-item-action list-group-item-danger"
											target="_blank">DockerHub</a>
									</div>
									<hr>
									<div data-i18n="Donates" style="margin-top: 1rem; margin-bottom: 0.5rem; font-size: large;">
									</div>
									<div class="list-group">
										<span>Bitcoin: </span>
											<div class="input-group mb-3">
												<input type="text" class="form-control" name="bitcoin" value="bc1qa2evk7khm246lhvljy8ujqu7m9m88gt84am9rz" disabled>
												<button class="btn btn-outline-secondary" type="button" id="copyBitcoinBtn" data-i18n="Copy"></button>
											  </div>
										<span>Dash: </span>
											<div class="input-group mb-3">
												<input type="text" class="form-control" name="dash" value="XoJ3pBDG6f5L6NwoqUqg7dpeT9MHKcNtwT" disabled>
												<button class="btn btn-outline-secondary" type="button" id="copyDashBtn" data-i18n="Copy"></button>
											  </div>
									</div>
								</div>
								<div class="modal-footer flex-row justify-content-between bd-highlight mb-3">
									<h6 data-i18n="SetezorVersion"></h6>
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal" data-i18n="Close"></button>
								</div>
							</div>
						</div>
					</div>

					<button type="button" class="btn btn-outline-info" data-bs-toggle="offcanvas"
						style=" --bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C"
						data-bs-target="#offcanvasNotifications">
						<i class="bi bi-bell" style="font-family: 'Times New Roman', Times, serif" data-i18n-title="Notifications"></i>
					</button>

					<button class="btn btn-outline-danger" type="submit" onclick="logoutFromProject()"
						data-testid="exit_project"
						style="margin-right: 0.5rem; --bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C">
						<i class="bi bi-box-arrow-right" style="font-family: 'Times New Roman', Times, serif;"
						data-i18n-title="Exit to project menu"></i>
					</button>

				</button>
				</div>
			</div>
			</div>
		</nav>

		<script>
			const logoutFromProject = async () => {
				await fetch('/api/v1/auth/logout_from_project', { method: 'POST' }).then(response => {
					window.location.href = "/projects"
				})
			}
		</script>
	</header>
	{% if current_project %}
	<div id="wrapper" class="toggled-2">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
				<li>
					<button class="btn btn-outline-light" id="menu-toggle-2" data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasNavbar"
					style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C"
					data-testid="open_navbar_button"><i class="bi bi-list fs-4" data-i18n-title="Open/Close sidebar"></i></button>
				</li>
				<li class="active">
					<a href="/projects_dashboard" style="margin-top: 6px;">
						<button class="btn btn-outline-light"
							style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
							<i class="bi-kanban fs-4" data-i18n-title="Dashboard"></i>
						</button>
						<span style="margin-left: 1rem; color: #54B49C;" data-i18n="Dashboard"></span>
					</a>
				</li>
				<li>
					<a href="/network-map">
						<button class="btn btn-outline-light"
							style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
							<i class="bi bi-bezier2 fs-4" data-i18n-title="Network Map"></i>
						</button>
						<span style="margin-left: 1rem; color: #54B49C;" data-i18n="Network Map"></span>
					</a>
				</li>
				{% if role.name == "owner" or role.name == "executor"%}
				<li>
					{% if current_project %}
					<a href="#" onclick="openTasksModal();">
						<button type="button" class="btn btn-outline-light"
							style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
							<i class=" bi bi-play-circle fs-4" data-i18n-title="Tasks list"></i>
						</button>
							<span style="margin-left: 1rem; color: #54B49C;" data-i18n="Tasks list"></span>
					</a>
					{% endif %}
					<div class="modal fade" id="tasksListManager" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-xl" style="--bs-modal-width: 1300px">
							<div class="modal-content">
								<div class="modal-header">
									<h4 data-i18n="Tasks list"></h4>
								</div>
								<div class="modal-body">
									<div id="v-pills-tasks" role="tabpanel" aria-labelledby="v-pills-tasks-tab">
										<div class="row ms-1" style="display: flex !important;">
											<ul class="nav nav-pills"
												style="margin-bottom: 1rem; margin-left: -0.5rem; display: flex !important;">
												<li class="nav-item">
													<button class="nav-link active" data-bs-toggle="pill" style="--bs-nav-link-padding-y: 0px"
														data-bs-target="#v-pills-tasks-created" type="button" role="tab"
														aria-controls="v-pills-tasks-created" aria-selected="true"
														id="tasks_created_pill" data-i18n="CREATED"></button>
												</li>
												<li class="nav-item">
													<button class="nav-link" data-bs-toggle="pill" style="--bs-nav-link-padding-y: 0px"
														data-bs-target="#v-pills-tasks-started" type="button" role="tab"
														aria-controls="v-pills-tasks-started" aria-selected="false"
														id="tasks_started_pill" data-i18n="STARTED"></button>
												</li>
												<li class="nav-item">
													<button class="nav-link" data-bs-toggle="pill" style="--bs-nav-link-padding-y: 0px"
														data-bs-target="#v-pills-tasks-failed" type="button" role="tab"
														aria-controls="v-pills-tasks-failed" aria-selected="false"
														id="tasks_failed_pill" data-i18n="FAILED"></button>
												</li>
												<li class="nav-item">
													<button class="nav-link" data-bs-toggle="pill" style="--bs-nav-link-padding-y: 0px"
														data-bs-target="#v-pills-tasks-finished"
														id="tasks_finished_pill" type="button" role="tab"
														aria-controls="v-pills-tasks-finished"
														aria-selected="false" data-i18n="FINISHED"></button>
												</li>
											</ul>
										</div>
									</div>
									<div class="p2 tab-content" id="v-pills-tasksContent">

										<div class="tab-pane active show" id="v-pills-tasks-created" role="tabpanel"
											aria-labelledby="v-pills-tasks-created-tab">
											{% import 'task_manager_tabs.html' as task_manager with context %}
											{{ task_manager.show() }}
										</div>

										<div class="tab-pane fade" id="v-pills-tasks-started" role="tabpanel"
											aria-labelledby="v-pills-tasks-started-tab">
										</div>

										<div class="tab-pane fade" id="v-pills-tasks-failed" role="tabpanel"
											aria-labelledby="v-pills-tasks-failed-tab">
										</div>

										<div class="tab-pane fade" id="v-pills-tasks-finished" role="tabpanel"
											aria-labelledby="v-pills-tasks-finished-tab">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				{% endif %}
				{% if role.name == "owner" or role.name == "executor"%}
				<li>
					<a href="/scopes">
						<button class="btn btn-outline-light"
							style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
							<i class="bi bi-card-list fs-4" data-i18n-title="Scopes"></i>
						</button>
						<span style="margin-left: 1rem; color: #54B49C;" data-i18n="Scopes"></span>
					</a>
				</li>
				{% endif %}
				{% if role.name == "owner" or role.name == "executor"%}
				<li>
					<a href="#" data-toggle="collapse" data-target="#tools-submenu" aria-expanded="false">
						<button class="btn btn-outline-light"
						style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
						<i class="bi bi-tools fs-4" data-i18n-title="Tools"></i>
						</button>
						<span style="margin-left: 1rem; color: #54B49C;" data-i18n="Tools"></span>
					</a>
					<ul class="collapse" id="tools-submenu">
						<li>
							<a href="#" data-toggle="collapse" data-target="#tool-category-1" aria-expanded="false">
								<button class="btn btn-outline-light"
								style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
								<i class="bi bi-reception-4 fs-4" data-i18n-title="Network"></i>
								</button>
								<span style="color: #54B49C;" data-i18n="Network"></span>
							</a>
							<ul class="collapse" id="tool-category-1">
								<li><a href="#" onclick="nmap_full_modal_window()"><span style="color: #54B49C;">NMAP</span></a></li>
								<li><a href="#" onclick="masscan_full_modal_window()"><span style="color: #54B49C;">MASSCAN</span></a></li>
								<li><a href="#" onclick="scapy_full_modal_window()"><span style="color: #54B49C;">SCAPY</span></a></li>
								<li><a href="#" onclick="snmp_full_modal_window()"><span style="color: #54B49C;">SNMP</span></a></li>
								<li><a href="#" onclick="speed_test_modal_window()"><span style="color: #54B49C;">Speed Test</span></a></li>
							</ul>
						</li>
						<li>
							<a href="#" data-toggle="collapse" data-target="#tool-category-2" aria-expanded="false">
								<button class="btn btn-outline-light"
								style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
								<i class="bi bi-wifi fs-4" data-i18n-title="Web"></i>
								</button>
								<span style="color: #54B49C;" data-i18n="Web"></span>
							</a>
							<ul class="collapse" id="tool-category-2">
								<li><a href="#" onclick="domains_full_modal_window()"><span style="color: #54B49C;">Domains</span></a></li>
								<li><a href="#" onclick="cert_full_modal_window()"><span style="color: #54B49C;">TLS/SSL CERT</span></a></li>
								<li><a href="#" onclick="whois_full_modal_window()"><span style="color: #54B49C;">WHOIS</span></a></li>
								<li><a href="#" onclick="wappalyzer_full_modal_window()"><span style="color: #54B49C;">WAPPALYZER</span></a></li>
								<!-- <li><a href="#" onclick="screenshoter_full_modal_window()">SCREENSHOTER</a></li> -->
							</ul>
						</li>
						<li>
							<a href="/tools" data-toggle="collapse" data-target="#tool-category-2" aria-expanded="false">
								<button class="btn btn-outline-light"
								style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
								<i class="bi bi-bug fs-4" data-i18n-title="Vulnerability"></i>
								</button>
								<span style="color: #54B49C;" data-i18n="Vulnerability"></span>
							</a>
							<ul class="collapse" id="tool-category-3">
								<li><a href="/tools" onclick=""><span style="color: #54B49C;">ACUNETIX</span></a></li>
								<li><a href="#" onclick="cpe_full_modal_window()"><span style="color: #54B49C;">CPEGuess</span></a></li>
								<li><a href="#" onclick="search_vulns_full_modal_window()"><span style="color: #54B49C;">SearchVulns</span></a></li>
							</ul>
						</li>
					</ul>
				</li>
				{% endif %}
				<li>
					<a href="/vulnerabilities">
						<button class="btn btn-outline-light"
							style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
							<i class="bi bi-shield-fill-exclamation fs-4" data-i18n-title="Vulnerabilities"></i>
						</button>
						<span style="margin-left: 1rem; color: #54B49C;" data-i18n="Vulnerabilities"></span>
					</a>
				</li>
				<li>
					<a href="/info">
						<button class="btn btn-outline-light"
							style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
							<i class="bi bi-table fs-4" data-i18n-title="Information"></i>
						</button>
						<span style=" margin-left: 1rem; color: #54B49C;" data-i18n="Information"></span>
					</a>
				</li>
				{% if role.name == "owner" or role.name == "executor" %}
				<li>
					<a href="#" data-toggle="collapse" data-target="#settings-submenu" aria-expanded="false">
						<button class="btn btn-outline-light"
								style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
								<i class="bi bi-gear fs-4" data-i18n-title="Settings"></i>
								</button>
								<span style="margin-left: 1rem; color: #54B49C;" data-i18n="Settings"></span>
					</a>
					<ul class="collapse" id="settings-submenu">
						<li>
							<a href="/project_settings" data-toggle="collapse" data-target="#settings-category-1" aria-expanded="false">
								<button class="btn btn-outline-light"
								style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
								<i class="bi bi-person-workspace fs-4" data-i18n-title="Project settings"></i>
								</button>
								<span style="color: #54B49C;" data-i18n="Project settings"></span>
							</a>
						</li>
						<!-- <li>
							<a href="/user_settings" data-toggle="collapse" data-target="#settings-category-2" aria-expanded="false">
								<button class="btn btn-outline-light"
								style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
								<i class="bi bi-person-vcard-fill fs-4" title="User settings"></i>
								</button>
								<span style="color: #54B49C;" >User</span>
							</a>
						</li>
						<li>
							<a href="/application_settings" data-toggle="collapse" data-target="#settings-category-3" aria-expanded="false">
								<button class="btn btn-outline-light"
								style=" --bs-btn-padding-x: 0.2rem; --bs-btn-border-width: 0px; --bs-btn-line-height: 0.5; --bs-btn-color: #54B49C; --bs-btn-hover-bg: none; --bs-btn-hover-color: #54B49C">
								<i class="bi bi-menu-button-wide fs-4" title="Application settings"></i>
								</button>
								<span style="color: #54B49C;" >Application</span>
							</a>
						</li> -->
					</ul>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
	{% endif %}
	<div id="content">
		{% block content required %}{% endblock content %}
	</div>
	<div class="position-fixed top-0 end-0 pe-1" id="toastHolderParent" style="margin-top: 65px;">
		<div id="toast_holder"></div>
	</div>
	</div>
	</div>
	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNotifications"
		aria-labelledby="offcanvasNotificationsLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasNotificationsLabel" data-i18n="Notifications"></h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body" id="notifications_body">
		</div>
	</div>
	<footer class="footer fixed-bottom">
	</footer>
	<div class="modal fade" id="addScanModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel" data-i18n="Adding scan"></h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form onsubmit="addScan(event)" name="addScanFormName">
					<div class="modal-body">
						<div class="mb-3">
							<label for="scanNameID" class="col-form-label" data-i18n="Scan name"></label>
							<input type="text" class="form-control" id="scanNameID" name="name" required>
						</div>
						<div class="mb-3">
							<label for="scanDescriptionID" class="col-form-label" data-i18n="Description"></label>
							<input type="text" class="form-control" id="scanDescriptionID" name="description">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
							id="closeAddScanModalButton" data-i18n="Close"></button>
						<button type="submit" class="btn btn-primary" data-i18n="Add"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="inviteToSetezorTokenModal" data-bs-backdrop="static" data-bs-keyboard="false">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="inviteToSetezorTokenModalLabel" data-i18n="Registration token"></h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form onsubmit="generateRegisterToken(event)" name="generateRegisterTokenFormName">
			  <div class="modal-body">
				<div class="mb-3">
				  <label for="inviteToSetezorCount" class="col-form-label" data-i18n="Person count"></label>
				  <input type="number" id="inviteToSetezorCount" min="1" value="1" class="form-control" name="count">
				  <label for="inviteToSetezorToken" class="col-form-label" data-i18n="Token"></label>
				  <div class="input-group mb-3">
					<input type="text" class="form-control" name="invite_to_setezor_token" disabled id="inviteToSetezorToken">
					<button class="btn btn-outline-secondary" type="button" id="copyRegisterTokenBtn" data-i18n="Copy"></button>
				  </div>
				  <label for="inviteToSetezorURL" class="col-form-label" data-i18n="Registration link"></label>
				  <div class="input-group mb-3">
					<input type="text" class="form-control" name="invite_to_setezor_url" id="inviteToSetezorURL" readonly>
					<button class="btn btn-outline-secondary" type="button" id="copyLinkBtn" data-i18n="Copy"></button>
				  </div>
				  <!-- <div class="mt-2">
								  <a href="#" id="inviteToSetezorURLLink" target="_blank">Open registration page</a>
							  </div> -->
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="Close"></button>
				<button type="submit" class="btn btn-success" data-i18n="Create"></button>
			  </div>
			</form>
		  </div>
		</div>
	  </div>
	<style>
		#v-pills-tasks ul.nav-pills {
			display: flex !important; 
		}
		body {
			font-family: "Lato", sans-serif;
		}

		header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1051;
		}

		#content {
			padding-left: 2.5rem;
			padding-top: 58px;
		}

		#sidebar-wrapper {
			z-index: 1052;
			position: fixed;

			width: 0;
			height: 100%;

			overflow-y: auto;
			background: #212529;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}

		#wrapper.toggled #sidebar-wrapper {
			width: 13rem;
		}

		#sidebar-wrapper {
			width: 13rem;
		}

		#wrapper.toggled #sidebar-wrapper {
			width: 13rem;
		}

		#wrapper.toggled-2 #sidebar-wrapper {
			width: 2.5rem;
		}

		.sidebar-nav {
			position: absolute;
			top: 0;
			width: 12rem;
			margin: 0;
			padding: 0;
			list-style: none;
			margin-top: 2px;
		}

		.sidebar-nav li {
			text-indent: 0.2rem;
			line-height: 3rem;
		}

		.sidebar-nav li a {
			display: block;
			text-decoration: none;
			color: #999999;
		}

		.sidebar-nav li a:hover {
			text-decoration: none;
			color: #fff;
			background: rgba(255, 255, 255, 0.2);
		}

		.sidebar-nav li a:active,
		.sidebar-nav li a:focus {
			text-decoration: none;
		}
	</style>
	<script>
		function sanitize(string) {
			const map = {
				'&': '&amp;',
				'<': '&lt;',
				'>': '&gt;',
				'"': '&quot;',
				"'": '&#x27;',
				"/": '&#x2F;',
			};
			const reg = /[&<>"'/]/ig;
			if (string) {
				return string.replace(reg, (match) => map[match]);
			} else {
				return ""
			}
		}
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});

		$("#menu-toggle-2").click(function (e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled-2");
			$('#menu ul').hide();
		});

		function initMenu() {
			$('#menu ul').hide(); // Скрыть все вложенные списки
			$('#menu ul').children('.current').parent().show(); // Показать вложенные списки текущего элемента

			$('#menu li a').click(function (e) {
				var checkElement = $(this).next();

				// Проверка, является ли следующий элемент подменю
				if (checkElement.is('ul')) {
					e.preventDefault(); // Отключаем переход по ссылке

					if (checkElement.is(':visible')) {
						// Если подменю уже открыто, скрываем его
						checkElement.slideUp('normal');
					} else {
						// Скрываем только подменю того же уровня
						$(this).parent().siblings().find('ul:visible').slideUp('normal');

						// Открываем текущее подменю
						checkElement.slideDown('normal');
					}

					return false;
				}
			});
		}
		$(document).ready(function () {
    initMenu();

    // Обработчик для закрытия меню при клике вне его области
    $(document).click(function (e) {
			// Проверяем, что клик был не по элементам меню и не по кнопкам открытия меню
			if (!$(e.target).closest('#wrapper, #menu-toggle, #menu-toggle-2').length) {
				// Закрываем меню
				$('#wrapper').addClass('toggled toggled-2');
				$('#menu ul').slideUp('normal');
			}
		});

		// Останавливаем всплытие событий клика внутри меню, чтобы они не достигали document
		$('#wrapper, #menu-toggle, #menu-toggle-2').click(function (e) {
			e.stopPropagation();
		});

		$('#menu li a[data-target="#settings-submenu"]').click(function (e) {
			e.preventDefault();
			var settingsSubmenu = $('#settings-submenu');
			if (!settingsSubmenu.is(':visible')) {
				settingsSubmenu.slideDown('normal');
			}
			if ($('#wrapper').hasClass('toggled-2')) {
				$('#wrapper').removeClass('toggled-2');
			}
		});
		
		$('#menu li a[data-target="#tools-submenu"]').click(function (e) {
			e.preventDefault();
			var toolsSubmenu = $('#tools-submenu');
			if (!toolsSubmenu.is(':visible')) {
				toolsSubmenu.slideDown('normal');
			}
			if ($('#wrapper').hasClass('toggled-2')) {
				$('#wrapper').removeClass('toggled-2');
			}
		});
	});

	</script>

	<script>
		{% if role and (role.name == "owner" or role.name == "executor") %}
		let currentAcunetixName = "";

		createAgentBar("agent_tools");
		createAgentBar("agent_net_map");
		createAgentBar("agent_nmap");
		createAgentBar("agent_scapy");
		createAgentBar("agent_masscan");
		createAgentBar("agent_snmp");
		createAgentBar("agent_domains");
		createAgentBar("agent_cert");
		createAgentBar("agent_whois");
		createAgentBar("agent_acunetix");
		createAgentBar("agent_screenshoter");
		createAgentBar("agent_wappalyzer");
		createAgentBar("agent_cpeguess");
		createAgentBar("agent_searchvulns");


		createInterfaceBar("interface_tools");
		createInterfaceBar("interface_net_map");
		createInterfaceBar("interface_nmap");
		createInterfaceBar("interface_scapy");
		createInterfaceBar("interface_masscan");
		createInterfaceBar("interface_snmp");
		createInterfaceBar("interface_domains");
		createInterfaceBar("interface_cert");
		createInterfaceBar("interface_whois");
		createInterfaceBar("interface_acunetix");
		createInterfaceBar("interface_screenshoter");
		createInterfaceBar("interface_wappalyzer");
		createInterfaceBar("interface_cpeguess");
		createInterfaceBar("interface_searchvulns");

		interfaceData = null

		getAgentData().then((data) => {
			agentData = data
			fillAgentBar("agent_tools");
			fillAgentBar("agent_net_map");
			fillAgentBar("agent_nmap");
			fillAgentBar("agent_scapy");
			fillAgentBar("agent_masscan");
			fillAgentBar("agent_snmp");
			fillAgentBar("agent_domains");
			fillAgentBar("agent_cert");
			fillAgentBar("agent_whois");
			fillAgentBar("agent_acunetix");
			fillAgentBar("agent_screenshoter");
			fillAgentBar("agent_wappalyzer");
			fillAgentBar("agent_cpeguess");
			fillAgentBar("agent_searchvulns");
			getInterfaceData(agentData.default_agent).then((data) => {
				interfaceData = data
				fillInterfaceBar("interface_tools");
				fillInterfaceBar("interface_net_map");
				fillInterfaceBar("interface_nmap");
				fillInterfaceBar("interface_scapy");
				fillInterfaceBar("interface_masscan");
				fillInterfaceBar("interface_snmp");
				fillInterfaceBar("interface_domains");
				fillInterfaceBar("interface_cert");
				fillInterfaceBar("interface_whois");
				fillInterfaceBar("interface_acunetix");
				fillInterfaceBar("interface_screenshoter");
				fillInterfaceBar("interface_wappalyzer");
				fillInterfaceBar("interface_cpeguess");
				fillInterfaceBar("interface_searchvulns");
			})
		})
		getScans().then((data) => {
			scans = data;
			getCurrentScan().then((currentScan) => {
				// Передаем массив идентификаторов
				redrawScanPickDropdown(scans, currentScan,
					[
						"scans_bar_tools",
						"scans_bar_net_map",
						"scans_bar_nmap",
						"scans_bar_scapy",
						"scans_bar_masscan",
						"scans_bar_snmp",
						"scans_bar_domains",
						"scans_bar_net_map",
						"scans_bar_cert",
						"scans_bar_whois",
						"scans_bar_acunetix",
						"scans_bar_screenshoter",
						"scans_bar_wappalyzer",
						"scans_bar_cpeguess",
						"scans_bar_searchvulns",
						"scans_bar_speed_test"
					]);
			});
		});
		function redrawScanPickDropdown(scans, currentScan, scansDivIds) {
			for (const scanDivId of scansDivIds) {
				let el = document.getElementById(scanDivId);
				if (!el) continue;
				let result = `<div class="btn-group">`
				let scan_id = ''
				if (currentScan == null) {
					result += `
                <button type="button" class="btn btn-success" disabled id="currentPickedScan">${i18next.t('No scan')}</button>
            `
				} else {
					scan_id = currentScan.id
					result += `<button type="button" class="btn btn-success" disabled id="currentPickedScan">${currentScan.name}</button>`
				}
				result += "</div>"
				el.innerHTML = result
			}
		}
		async function addScan(event) {
			event.preventDefault()
			let formdata = new FormData(event.target)
			let resp = await fetch("/api/v1/scan", {
				method: "POST",
				headers: { "Content-type": "application/json" },
				body: JSON.stringify(Object.fromEntries(formdata))
			})
			if (resp.ok) {
				getScans().then((data) => {
					scans = data
					getCurrentScan().then((currentScan) => {
						redrawScanPickDropdown(scans, currentScan,
							[
								"scans_bar_tools",
								"scans_bar_net_map",
								"scans_bar_nmap",
								"scans_bar_scapy",
								"scans_bar_masscan",
								"scans_bar_snmp",
								"scans_bar_domains",
								"scans_bar_net_map",
								"scans_bar_cert",
								"scans_bar_whois",
								"scans_bar_acunetix",
								"scans_bar_screenshoter",
								"scans_bar_wappalyzer",
								"scans_bar_cpeguess",
								"scans_bar_searchvulns",
								"scans_bar_speed_test"
							])
						let el = document.getElementById("closeAddScanModalButton")
						el.click()
					})
				})
			}
		}
		async function setCurrentScan(scanID) {
			let resp = await fetch("/api/v1/scan/set_current", {
				method: "POST",
				headers: { "Content-type": "application/json" },
				body: JSON.stringify({ scan_id: scanID })
			})
			if (resp.ok) {
				getScans().then((data) => {
					scans = data
					getCurrentScan().then((currentScan) => {
						redrawScanPickDropdown(scans, currentScan,
							[
								"scans_bar_tools",
								"scans_bar_net_map",
								"scans_bar_nmap",
								"scans_bar_scapy",
								"scans_bar_masscan",
								"scans_bar_snmp",
								"scans_bar_domains",
								"scans_bar_net_map",
								"scans_bar_cert",
								"scans_bar_whois",
								"scans_bar_acunetix",
								"scans_bar_screenshoter",
								"scans_bar_wappalyzer",
								"scans_bar_cpeguess",
								"scans_bar_searchvulns",
								"scans_bar_speed_test"
							])
						let el = document.getElementById("closeAddScanModalButton")
						el.click();
						get_snmp_ip_port_list();
					})
				})
			}
		}
		{% endif %}
	async function generateRegisterToken(event) {
		event.preventDefault();
		let formdata = new FormData(event.target);
		
		try {
			let resp = await fetch("/api/v1/auth/generate_register_token", {
				method: "POST",
				body: JSON.stringify(Object.fromEntries(formdata)),
				headers: { "Content-type": "application/json" },
			});
			
			if (!resp.ok) throw new Error("Network response was not ok");
			
			let data = await resp.json();
			let tokenEl = document.getElementById("inviteToSetezorToken");
			let urlInput = document.getElementById("inviteToSetezorURL");
			
			tokenEl.value = data.token;
			
			const baseUrl = window.location.origin;
			const registrationLink = `${baseUrl}/registration?token=${data.token}`;
			
			urlInput.value = registrationLink;
			
		} catch (error) {
			console.error("Error:", error);
			alert("Error generating token: " + error.message);
		}
	}
	document.addEventListener('DOMContentLoaded', function() {
		function handleCopy(event) {
			const button = event.target;
			const input = button.closest('.input-group').querySelector('input');
			
			navigator.clipboard.writeText(input.value)
				.then(() => {
					button.classList.remove('btn-outline-secondary');
					button.classList.add('btn-success');
					button.textContent = i18next.t('Copied!');
					
					setTimeout(() => {
						button.classList.remove('btn-success');
						button.classList.add('btn-outline-secondary');
						button.textContent = i18next.t('Copy');
					}, 2000);
				})
				.catch(err => {
					console.error('Ошибка при копировании: ', err);
				});
		}
		
			document.getElementById('copyBitcoinBtn').addEventListener('click', handleCopy);
			document.getElementById('copyDashBtn').addEventListener('click', handleCopy);
			document.getElementById('copyRegisterTokenBtn').addEventListener('click', handleCopy);
			document.getElementById('copyLinkBtn').addEventListener('click', handleCopy);
	});
	</script>
	<script defer src="static/js/update_language.js"></script>
</body>

</html>