{% macro create_donut(title, main_id, data, labels, heigth=none, width=none) %}

<div id="{{main_id|safe}}" class="card m-1" style="width: 26.1rem;">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <div id="{{main_id|safe}}_donut"></div>
    </div>

</div>
<script>
createDashboardChar("{{main_id|safe}}_donut", JSON.parse({{data}}), JSON.parse({{labels}}), {% if heigth %} {{heigth}} {% endif %})
    function createDashboardChar(elementId, values, labels, height = null, text_inside = '') {
        let data;

        if (values.length === 0 || labels.length === 0) {
            data = [{
                values: [1],
                labels: ['No Data'],
                type: 'pie',
                textinfo: "label",
                textposition: "inside",
                hole: 0.6,
                marker: { colors: ['#ddd'] }
            }];
        } else {
            data = [{
                values: values,
                labels: labels,
                type: 'pie',
                textinfo: "label",
                textposition: "inside",
                hole: 0.6,
            }];
        }

        layout = {
            autosize: true,
            margin: { "t": 0, "b": 0, "l": 0, "r": 0 },
            showlegend: true,
            annotations: [{ text: text_inside, showarrow: false }]
        }
        if (height != null) {
            layout.height = height
        }

        chart = Plotly.newPlot(elementId, data, layout, { displayModeBar: false })
        return chart
    }

</script>

{% endmacro %}

{% macro create_standart_graph(title, main_id, data, labels, heigth=none, width=none) %}

<div id="{{main_id|safe}}" class="card w-100" style="margin-top: 0.5%; margin-left: 0.5%; margin-right: 0.66%;">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <div id="{{main_id|safe}}_donut"></div>
    </div>

</div>
<script>
createDashboardGraph("{{main_id|safe}}_donut", {{data|tojson}}, {{labels|tojson}}, {% if heigth %} {{heigth}} {% endif %})
function createDashboardGraph(elementId, values, labels, height = null, text_inside = '') {
        let data;

        if (values.length === 0 || labels.length === 0) {
            data = [{
                x: ['No Data'],
                y: [0],
                type: 'bar',
                textinfo: "label",
                textposition: "inside",
                marker: { colors: ['#ddd'] },
            }];
        } else {
            data = [{
                x: labels,
                y: values,
                type: 'bar',
                textinfo: "label",
                textposition: "inside",
            }];
        }

        const layout = {
            autosize: true,
            margin: { "t": 0, "b": 30, "l": 20, "r": 0 },
            showlegend: false,
        }
        if (height != null) {
            layout.height = height;
        }

        chart = Plotly.newPlot(elementId, data, layout, { displayModeBar: false });
        return chart;
    }
</script>

{% endmacro %}

{% macro create_double_sunburst(title, main_id, labels, parents, graph_values, heigth=none, width=none) %}

<div id="{{main_id|safe}}" class="card" style="width: 49%; margin: 0.5%;">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <div id="{{main_id|safe}}_donut"></div>
    </div>

</div>
<script>
createSunburstChart("{{main_id|safe}}_donut", JSON.parse('{{labels}}'), JSON.parse('{{parents}}'), JSON.parse('{{graph_values}}'), {% if heigth %} {{heigth}} {% endif %});
function createSunburstChart(elementId, labels, parents, graph_values, height = null) {
        let data;

        if (labels.length === 0 || parents.length === 0 || graph_values.length === 0) {
            data = [{
                type: 'sunburst',
                labels: ['No Data'],
                parents: [''],
                values: [0],
                branchvalues: 'total',
                textinfo: "label+value",
                marker: { colors: ['#ddd'] }
            }];
        } else {
            data = [{
                type: 'sunburst',
                labels: labels,
                parents: parents,
                values: graph_values,
                branchvalues: 'total',
            }];
        }

        const layout = {
            autosize: true,
            margin: { t: 0, b: 0, l: 0, r: 0 },
            showlegend: false
        };

        if (height != null) {
            layout.height = height;
        }

        Plotly.newPlot(elementId, data, layout, { displayModeBar: false });
    }
</script>

{% endmacro %}