{% extends 'base.html' %}
{% block title %}
Information
{% endblock title %}
{% block scripts %}

<link href="/static/css/tabulator.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/tabulator_bootstrap4.min.css" rel="stylesheet">
<script src="/static/js/tabulator.min.js" type="text/javascript"></script>
<script src="/static/js/luxon.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.inputmask.js" type="text/javascript"></script>
<script src="/static/js/agents.js"></script>
<script src="/static/js/interfaces.js"></script>
{% endblock %}

{% block content %}

{% import 'network/nmap.html' as nmap %}
{{ nmap.nmap_script_modal() }}
{% import 'network/masscan.html' as masscan%}
{{ masscan.masscan_modal() }}
{% import 'network/domains.html' as domains%}
{{domains.domains_modal()}}
{% import 'network/cert.html' as cert%}
{{ cert.cert_modal() }}

<div id="main_bar" class="container-fluid justify-content-between bd-highlight mb-3">
    <div class="row">
        <div class="col-2">
            <div class="p-2 bd-highlight">
                <div class="d-flex flex-column flex-shrink-0 p-3">
                    <h4>Tables</h4>
                    <div class="nav flex-column nav-pills me-1" id="tab_buttons" role="tablist"
                        aria-orientation="vertical">
                        {% for tab in tabs %}
                        {% if not tab.is_hide %}
                        <button class="nav-link {% if loop.index0 == 0 %}active{% endif %}" id="infotabs-{{tab.name}}"
                            data-bs-toggle="tab"
                            data-bs-target="#tab-content-{{tab.name}}" type="button" role="tab"
                            aria-controls="tab-content-{{tab.name}}">{{ tab.name.upper()}}
                        </button>
                        {% endif %}
                        {% endfor %}
                        <div id="collapseExtra" class="accordion-collapse collapse" aria-labelledby="headingExtra"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% for tab in tabs %}
                                {% if tab.is_hide %}
                                <button class="nav-link {% if loop.index0 == 0 %}active{% endif %} w-100" id="infotabs-{{tab.name}}" 
                                    data-bs-toggle="tab"
                                    data-bs-target="#tab-content-{{tab.name}}" type="button" role="tab"
                                    aria-controls="tab-content-{{tab.name}}">{{ tab.name.upper()}}
                                </button>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10">

            <div class="d-flex mb-2" style="padding-top: 1rem;">
            <div id="agent_bar" class="me-3"></div>
            <div id="interface_bar" class="ms-3"></div>
            </div>
    
            <script>
                createAgentBar('agent_bar')

                createInterfaceBar('interface_bar')

                interfaceData = null

                getAgentData().then((data) => {
                    agentData = data
                    fillAgentBar('agent_bar')
                    getInterfaceData(agentData.default_agent).then((data) => {
                        interfaceData = data
                        fillInterfaceBar('interface_bar')
                    })
                })
            </script>
            <div class="tab-content" id="nav-tabContent">
                {% for tab in tabs %}
                <div class="tab-pane fade{% if loop.index0 == 0 %} show active{% endif %}" id="tab-content-{{tab.name}}"
                    role="tabpanel" aria-labelledby="infotabs-{{name}}">
                    <div class="d-flex flex-row justify-content-between">
                        <div id="filter {{tab.name}}" class="d-flex flex-row py-2">
                            <div class="btn-group" style="padding-right: 0.3rem;" role="group">
                                <!-- <button class="btn btn-primary" id="{{tab.name}}-add-row" onclick="{{tab.name}}addRow()"><i
                                        class="bi bi-plus-square"></i></button> -->
                                <button class="btn btn-primary" id="{{tab.name}}-reload-data"
                                    onclick="{{tab.name}}_table.dataLoader.reloadData()"><i
                                        class="bi bi-arrow-clockwise"></i></button>
                            </div>
                            <div class="me-1">
                                <select class="form-select" id="filter-field-{{tab.name}}">
                                    {% for col in tab.columns %}
                                    <option value={{col.field}}>{{col.title}}</option>
                                    {%endfor%}
                                </select>
                            </div>

                            <div class="me-1">
                                <select class="form-select" id="filter-type-{{tab.name}}">
                                    <option value="=">=</option>
                                    <option value="<">
                                        < </option>
                                    <option value="<=">
                                        <= </option>
                                    <option value=">">></option>
                                    <option value=">=">>=</option>
                                    <option value="!=">!=</option>
                                    <option value="like">like</option>
                                </select>
                            </div>
                            <input id="filter-value-{{tab.name}}" class="form-control me-1" type="text"
                                placeholder="value to filter" style="width: 20%">
                            <button id="filter-search-{{tab.name}}" class="btn btn-primary me-1" style="width: 5rem; "
                                onclick="{{tab.name}}ApplyFilter()">Search</button>
                            <button id="filter-clear-{{tab.name}}" class="btn btn-danger me-1" style="width: 5rem; "
                                onclick="{{tab.name}}clearFilter()">Clear</button>

                        {% if tab.name == 'resource_software' or tab.name == 'ip_mac_port' %}
                            <!-- <div class="me-1">
                                <select class="form-select" style="width: 12rem; " id="filter-tools-{{tab.name}}">
                                    <option value="nmap">nmap</option>
                                    <option value="masscan">masscan</option>
                                    <option value="cert">cert</option>
                                    <option value="whois">whois</option>
                                </select>
                            </div> -->
                        {% elif tab.name == 'domain_ip' %}
                        <!-- <div class="me-1">
                            <select class="form-select" style="width: 12rem; " id="filter-tools-{{tab.name}}">
                                <option value="domains">domains</option>
                                <option value="whois">whois</option>
                            </select>
                        </div>    -->
                        {% endif %}    
                            <script>
                                function {{tab.name}}get_selected_rows()
                                {
                                    let chk = document.querySelectorAll('[id^="{{tab.name}}-checkbox"]');
                                    let t_rows = {{tab.name}}_table.getData()
                                    let selected_id = [];
                                    for (const [k, v] of {{tab.name}}_selected_row)
                                    {
                                        if (v)
                                            selected_id.push(Number(k.split('-')[2]));
                                    }
                                    let result = [];
                                    for (let i = 0; i < t_rows.length; i++)
                                    {
                                        if (selected_id.includes(t_rows[i].id))
                                            result.push(t_rows[i]);
                                    }
                                    return result;
                                }
                                function getIface() {
                                    iface = interfaceData.interfaces.find((elem) => elem.id == interfaceData.default_interface)
                                    return iface.name
                                }
                                function getAgent() {
                                    agent = agentData.agents.find((elem) => elem.id == agentData.default_agent)
                                    return agent.id
                                }
                                function start_nmap_from_modal(rows)
                                {

                                    var params = Object.fromEntries(new FormData(document.getElementById('nmapScanSimpleForm'), null).entries())
                                        if (params.targetPorts === undefined) {
                                            params['targetPorts'] = '-sn'
                                        }
                                        if (params.targetPorts[0] != '-') {
                                            params['targetPorts'] = '-p ' + params.targetPorts
                                        }
                                        params['iface'] = getIface()
                                        params['agent_id'] = getAgent()

                                    for (const row of rows)
                                    {
                                        params["targetIP"] = row.ipaddr;
                                        fetch('/api/v1/task/nmap_scan', { method: 'POST', body: JSON.stringify(params) })
                                    }
                                }
                                function start_domains_from_modal(rows)
                                {
                                    const domainParams = {};
                                    domainParams['crt_sh'] = document.getElementById('crt.sh').checked;
                                    domainParams['dns_search'] = document.getElementById('dns_search').checked;
                                    for (const row of rows) {
                                        domainParams["targetDOMAIN"] = row.domain;
                                        if (domainParams['dns_search']) {
                                        fetch('/api/v1/task/dns_info', {method: 'POST', body: JSON.stringify(domainParams)});
                                        }
                                        fetch('/api/v1/task/sd_find', {method: 'POST', body: JSON.stringify(domainParams)});
                                    }
                                }
                                function start_masscan_from_modal(rows)
                                {
                                    var params = Object.fromEntries(new FormData(document.getElementById('masscanScanForm'), null).entries())
                                        if (params.ports === undefined) {
                                            params['ping'] = true
                                        } else {
                                            params['ports'] = params.ports
                                        }
                                        for (const row of rows)
                                        {
                                        params["target"] = row.ipaddr;
                                        fetch('/api/v1/task/masscan_scan', {
                                            method: 'POST', body: JSON.stringify({arguments: params, iface: getIface(), agent_id: getAgent()})
                                    })
                                }
                                }
                                function {{tab.name}}open_modal_tools()
                                {
                                    let tool = document.getElementById('filter-tools-{{tab.name}}').value.toString()
                                    rows = {{tab.name}}get_selected_rows();
                                    if (rows.length)
                                    {
                                        switch (tool) {
                                        case "nmap":
                                            nmap_modal_window();
                                            document.getElementById('startScanSimpleBtn').disabled = false;
                                            document.getElementById('startScanSimpleBtn').setAttribute("data-bs-dismiss", "modal");
                                            document.getElementById('startScanSimpleBtn').setAttribute('onclick','start_nmap_from_modal(rows); document.getElementById("idNmapModal").innerHTML = ``;');
                                            break;
                                        case "masscan":
                                            masscan_modal_window();
                                            document.getElementById('startMasscanScanBtn').disabled = false;
                                            document.getElementById('startMasscanScanBtn').setAttribute("data-bs-dismiss", "modal");
                                            document.getElementById('startMasscanScanBtn').setAttribute('onclick','start_masscan_from_modal(rows)');
                                            break;
                                        case "domains":
                                            domains_modal_window();
                                            document.getElementById('startSdFind').setAttribute("data-bs-dismiss", "modal");
                                            document.getElementById('startSdFind').setAttribute('onclick','start_domains_from_modal(rows)');
                                            break;
                                        case "cert":
                                            let combinedParams = {};
                                            for (const row of rows) {
                                                combinedParams["Port"] = row.port;
                                                if (row.ipaddr != null)
                                                    combinedParams["Target"] = row.ipaddr;
                                                else if (row.domain != null) 
                                                    combinedParams["Target"] = row.domain;

                                                if (combinedParams["Target"] != null)
                                                fetch('/api/v1/task/cert_info', {
                                                    method: 'POST',
                                                    body: JSON.stringify(combinedParams)
                                                })};
                                            break;
                                        case "whois":
                                            let domainAndIpParams = {}
                                            domainAndIpParams["Target"] = null
                                            for (const row of rows) {
                                                if (row.ipaddr != null)
                                                    domainAndIpParams["Target"] = row.ipaddr;
                                                else if (row.domain != null) 
                                                    domainAndIpParams["Target"] = row.domain;

                                                if (domainAndIpParams["Target"] != null) {
                                                fetch('/api/v1/task/whois', {
                                                method: 'POST', body: JSON.stringify(domainAndIpParams)
                                            })}};
                                            break;
                                        default:
                                            console.log("Неизвестный инструмент: " + tool);
                                            break;
                                        }
                                    }
                                }
                            </script>
                            {% if tab.name == 'resource_software' or tab.name == 'ip_mac_port' or tab.name == 'domain_ip' %}
                                <!-- <button class="btn btn-success" style="width: 5rem; " onclick="{{tab.name}}open_modal_tools();"> Start </button> -->
                            {% endif %}
                        </div>

                        {% if tab.name == 'resource_software' %}
                        <!-- FIXME -->
                        <!-- <div id="download_report_container">
                            <div class="d-flex p-1">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="reports_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="bi bi-download"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="reports_dropdown">
                                        <li><a class="dropdown-item"
                                                href="javascript:window.location='/api/v1/reports/xlsx'">xlsx</a></li>
                                        <li>
                                            <button class="dropdown-item" onclick="get_csv_report()">
                                                csv
                                            </button>
                                            <script type="text/javascript">
                                                async function get_csv_report() {
                                                    filters = resource_software_table.getFilters()
                                                    filters = JSON.stringify(filters)
                                                    params = new URLSearchParams({ filters: filters })
                                                    resp = await fetch(`/api/v1/reports/csv?${params}`)
                                                    blob = await resp.blob()
                                                    var file = window.URL.createObjectURL(blob);
                                                    window.location.assign(file);
                                                }
                                            </script>
                                        </li>
                                        <li><a class="dropdown-item disabled" href="#">pdf</a></li>
                                        <li><a class="dropdown-item disabled" href="#">docx</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        {% endif %}

                        <script>
                            function create_url_params_from_filter() {
                                filters = resource_software_table.getFilters()
                                filters = JSON.stringify(filters)
                                param = new URLSearchParams({ filters: filters })
                                return param
                            }
                            function {{tab.name}}clearFilter(){
                                document.getElementById('filter-value-{{tab.name}}').value = ''
                                {{tab.name}}_table.clearFilter()
                            }

                            function {{tab.name}}ApplyFilter() {
                                let field = document.getElementById('filter-field-{{tab.name}}').value.toString()
                                let option = document.getElementById('filter-type-{{tab.name}}').value.toString()
                                let value = document.getElementById('filter-value-{{tab.name}}').value.toString()
                                {{tab.name}}_table.setFilter(field, option, value)
                            }

                        </script>
                    </div>

                    <div id="{{tab.name}}-table" style="max-height: 650px;"></div>
                    <div id="{{tab.name}}ModalDelete"></div>
                    <script>
                        function buttons_formatter(cell, formatterParams, onRendered) {
                            return `<div class='btn btn-primary btn-sm' id="{{tab.name}}-edit-${cell.getRow().getData().id}" onclick="{{tab.name}}editEvent(this)">Edit</div>
                            <div class='btn btn-danger btn-sm' id="{{tab.name}}-delete-${cell.getRow().getData().id}" onclick="{{tab.name}}deleteEvent(this)">Delete</div>
                            <div class='btn btn-success btn-sm' id="{{tab.name}}-save-${cell.getRow().getData().id}" style="display:none" onclick="{{tab.name}}saveEvent(this)">Save</div>
                            <div class='btn btn-warning btn-sm' id="{{tab.name}}-cancel-${cell.getRow().getData().id}" style="display:none" onclick="{{tab.name}}cancelEvent(this)">Cancel</div>
                            <div class='btn btn-success btn-sm' id="{{tab.name}}-create-${cell.getRow().getData().id}" style="display:none" onclick="{{tab.name}}createRowEvent(this)">Create</div>
                            <div class='btn btn-warning btn-sm' id="{{tab.name}}-cancel-create-${cell.getRow().getData().id}" style="display:none" onclick="{{tab.name}}cancelCreateEvent(this)">Cancel</div>`;
                        }
                        let {{tab.name}}_selected_row = new Map();
                        function checkbox_formatter(cell, formatterParams, onRendered)
                        {
                            let checkbox_id = '{{tab.name}}-checkbox-' + cell.getRow().getData().id;
                            return `<input type='checkbox' class='row-checkbox' id='${checkbox_id}' onclick="( function(elem, status){ {{tab.name}}_selected_row.set(elem, status); }(this.id, this.checked) )" >`
                        }
                        function {{tab.name}}addRow() {
                            rowIndex = ""
                            {{tab.name}}_table.addRow({ id: rowIndex }, true);
                            {{tab.name}}_table.validate(rowIndex)
                            document.getElementById("{{tab.name}}-delete-" + rowIndex).style.display = "none"
                            document.getElementById("{{tab.name}}-edit-" + rowIndex).style.display = "none"
                            document.getElementById("{{tab.name}}-create-" + rowIndex).style.display = ""
                            document.getElementById("{{tab.name}}-cancel-create-" + rowIndex).style.display = ""
                            {{tab.name}}_table.selectRow(rowIndex)

                        }
                        function {{tab.name}}editEvent(element) {
                            var rowIndex = element.id.split("-").at(-1)
                            document.getElementById("{{tab.name}}-cancel-" + rowIndex).style.display = ""
                            document.getElementById("{{tab.name}}-save-" + rowIndex).style.display = ""
                            document.getElementById("{{tab.name}}-delete-" + rowIndex).style.display = "none"
                            element.style.display = "none"
                            {{tab.name}}_table.selectRow(rowIndex)
                        }
                        function {{tab.name}}saveEvent(element) {
                            var rowIndex = element.id.split("-").at(-1)
                            if ({{tab.name}}_table.getRow(rowIndex).getCells().every(element => element.isValid() === true)) {
                            document.getElementById("{{tab.name}}-cancel-" + rowIndex).style.display = "none"
                            document.getElementById("{{tab.name}}-edit-" + rowIndex).style.display = ""
                            document.getElementById("{{tab.name}}-delete-" + rowIndex).style.display = ""
                            element.style.display = "none"
                            fetch("{{tab.base_url}}/from_table", { method: 'PUT', body: JSON.stringify({{tab.name}}_table.getRow(rowIndex).getData())
                        })
                        {{tab.name}}_table.deselectRow(rowIndex)
                        {{tab.name}}_table.dataLoader.reloadData()
                            } else {
                            {{tab.name}}_table.validate()
                        }
                        }
                        function {{tab.name}}cancelEvent(element) {
                            var rowIndex = element.id.split("-").at(-1)
                            document.getElementById("{{tab.name}}-edit-" + rowIndex).style.display = ""
                            document.getElementById("{{tab.name}}-save-" + rowIndex).style.display = "none"
                            document.getElementById("{{tab.name}}-delete-" + rowIndex).style.display = ""
                            element.style.display = "none"
                            var row = {{tab.name}} 
                            _table.getRow(rowIndex)
                        var cells = row.getCells()
                        for (i = 0; i < cells.length; i++) {
                            if (cells[i].getOldValue() != null) {
                                cells[i].restoreOldValue();
                            }
                        }
                        {{tab.name}}_table.deselectRow()
                        }
                        function {{tab.name}}deleteEvent(element) {
                            var rowIndex = element.id.split("-").at(-1)
                            {{tab.name}}_table.getRow(rowIndex).delete()
                            create_modal("{{tab.name}}ModalDelete", "Row deletion", "Are you sure? Deletion can have cascade effect.", "Delete",
                                function () { fetch("{{tab.base_url}}/", { method: "DELETE", body: JSON.stringify({ id: rowIndex }) }) })
                                .show()

                            //Add confim modal "are you sure?"
                        }
                        function {{tab.name}}createRowEvent(element) {
                            var rowIndex = element.id.split("-").at(-1)
                            if ({{tab.name}}_table.getRow(rowIndex).getCells().every(element => element.isValid() === true)) {
                            fetch("{{tab.base_url}}/from_table", { method: "POST", body: JSON.stringify({{tab.name}}_table.getRow(rowIndex).getData())
                        })
                        {{tab.name}}_table.dataLoader.reloadData()
                            } else {
                            {{tab.name}}_table.validate()
                        }
                        }
                        function {{tab.name}}cancelCreateEvent(element) {
                            var rowIndex = element.id.split("-").at(-1)
                            {{tab.name}}_table.getRow(rowIndex).delete()
                        }
                        function isRowSelected(cell) {
                            return cell.getRow().isSelected()
                        }
                        function getForiegnKeys(url) {
                            var response = ''
                            $.ajax({
                                url: url,
                                type: 'GET',
                                async: false,
                                success: function (json) { response = json }
                            })
                            return response
                        }
                        {% for col in tab.columns %} {% if col.editor_entity %}
                        var foriegnData{{ col.field }} = getForiegnKeys("/api/v1/{{col.editor_entity}}/all_short"){% endif %} {% endfor %}
                        function foriegnKeyReplace(data) {
                            var foriegnData = data;
                            function wrapped(cell) {
                                var value = cell.getValue()
                                var finded = foriegnData.find(obj => { return obj.value == value })
                                if (finded === undefined) {
                                    return ''
                                } else {
                                    return finded.label
                                }
                            }
                            return wrapped
                        }
                        function datetimeFormatter(cell) {
                            try {
                                res = luxon.DateTime.fromSeconds(cell.getValue()).toFormat('dd.MM.yyyy HH:mm:ss.S')
                                if (res === 'Invalid DateTime') { throw 'Datetime Error' }
                                return res
                            } catch (error) {
                                return ''
                            }
                        }
                        function datetimeEditor(cell, onRendered, success, cancel) {
                            try {
                                var cellValue = luxon.DateTime.fromSeconds(cell.getValue()).toFormat('dd.MM.yyyy hh:mm:ss')
                                if (cellValue === 'Invalid DateTime') { throw 'Datetime Error' }
                            } catch (error) {
                                var cellValue = ""
                            }
                            input = document.createElement("input");
                            var mask = new Inputmask("99.99.9999 99:99:99")
                            mask.mask(input)
                            input.setAttribute("type", "text");
                            input.style.padding = "4px";
                            input.style.width = "100%";
                            input.style.boxSizing = "border-box";
                            input.value = cellValue;
                            onRendered(function () {
                                input.focus();
                                input.style.height = "100%";
                            });
                            function onChange() {
                                try {
                                    v = luxon.DateTime.fromFormat(input.value, 'dd.MM.yyyy hh:mm:ss').toSeconds()
                                    success(v);
                                } catch {
                                    cancel()
                                }
                            }
                            input.addEventListener("blur", onChange);
                            input.addEventListener("change", onChange)
                            return input;
                        }
                        var headerMenu = function () {
                            var menu = [];
                            var columns = this.getColumns();
                            for (let column of columns) {
                                if (column.getDefinition().field) {
                                    let icon = document.createElement("i");
                                    icon.classList.add("bi");
                                    icon.classList.add(column.isVisible() ? "bi-check-square" : "bi-square");
                                    let label = document.createElement("span");
                                    let title = document.createElement("span");
                                    title.textContent = " " + column.getDefinition().title;
                                    label.appendChild(icon);
                                    label.appendChild(title);
                                    menu.push({
                                        label: label,
                                        action: function (e) {
                                            e.stopPropagation();
                                            column.toggle();
                                            if (column.isVisible()) {
                                                icon.classList.remove("bi-square");
                                                icon.classList.add("bi-check-square");
                                            } else {
                                                icon.classList.remove("bi-check-square");
                                                icon.classList.add("bi-square");
                                            }
                                            {{tab.name}}_table.redraw()
                                        }
                                    });
                                }
                            }
                            return menu;
                        };
                        var {{tab.name}}_table = new Tabulator('#{{tab.name}}-table', {
                            {% if  tab.name == 'soft_vuln_link' or tab.name =='task' %}
                                layout: "fitDataTable",
                            {% else %}
                                layout: "fitColumns",
                            {% endif %}
                            ajaxURL: "{{tab.base_url}}",

                            ajaxURLGenerator: function (url, config, params) {
                                //url - the url from the ajaxURL property or setData function
                                //config - the request config object from the ajaxConfig property
                                //params - the params object from the ajaxParams property, this will also include any pagination, filter and sorting properties based on table setup

                                //return request url
                                return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
                            },
                            selectable: false,
                            sortMode: "local",
                            filterMode: "local",
                            pagination: true,
                            paginationMode: "local",
                            paginationSize: 10,
                            paginationInitialPage: 1,
                            paginationSizeSelector: [5, 10, 25, 50, 100],
                            validationMode: 'highlight',
                            columns: [
                                {% if tab.name == 'resource_software' or tab.name == 'ip_mac_port' or tab.name == 'domain_ip' or tab.name == 'soft_vuln_link' %}
                                    {{ '{' }} title: "Select", field: "selected", formatter: checkbox_formatter, headerSort: false {{ '}' }}
                                {% endif %},
                                {% for col in tab.columns %}
                                    {{'{'}}title: "{{col.title}}", field: "{{col.field}}", headerMenu: headerMenu
                                    {% if col.editor %}, editable: isRowSelected{% if col.editor == "datetime" %}, editable: false, editor: datetimeEditor, formatter: datetimeFormatter{% else %}, editor: "{{col.editor}}"{% endif %} {% endif %}
                                    {% if col.formatter %}, editorParams: { values: foriegnData{{ col.field }}, itemFormatter: function(label, value, item, element) { label = label.length > 0 ? `<strong>${label}</strong>` : "<i>empty string</i>"; return label + `<br/><div style="font-size:80%">id: ${value}</div>` } }, formatter: {{ col.formatter }} (foriegnData{{ col.field }}) {% endif %}
                                    {% if col.validator %}, validator: "{{col.validator}}"{% endif %} {{ '}' }},
                                {% endfor %}
                                
                                ] })
                    </script>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<script>
    var message_sock = create_websocket(`/api/v1/project/ws`)
    function getIface() {
    iface = interfaceData.interfaces.find((elem) => elem.id == interfaceData.default_interface.id)
    return iface
}</script>
    {% endblock content %}