{% extends 'base.html' %}
{% block title %}
Information
{% endblock title %}
{% block scripts %}

<link href="/static/css/tabulator.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/tabulator_bootstrap4.min.css" rel="stylesheet">
<script src="/static/js/tabulator.min.js" type="text/javascript"></script>
<script src="/static/js/luxon.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.inputmask.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

{% import 'network/nmap.html' as nmap %}
{{ nmap.nmap_script_modal_to_info_tabs() }}
{% import 'network/masscan.html' as masscan%}
{{ masscan.masscan_modal_to_info_tabs() }}
{% import 'network/cert.html' as cert%}
{{ cert.nmap_script_modal_to_info_tabs() }}
{% import 'network/whois.html' as whois%}
{{ whois.whois_script_modal_to_info_tabs() }}
{% import 'network/domains.html' as domains%}
{{ domains.domains_script_modal_to_info_tabs() }}

<div id="main_bar" class="container-fluid justify-content-between bd-highlight mb-3">
    <div class="row">
        <div class="col-2">
            <div class="p-2 bd-highlight">
                <div class="d-flex flex-column flex-shrink-0 p-3">
                    <h4 data-i18n="Tables"></h4>
                    <div class="nav flex-column nav-pills me-1" id="tab_buttons" role="tablist"
                        aria-orientation="vertical">
                        {% for tab in tabs %}
                        <button class="nav-link {% if loop.index0 == 0 %}active{% endif %}" id="infotabs-{{tab.name}}"
                            data-bs-toggle="tab"
                            data-bs-target="#tab-content-{{tab.name}}" type="button" role="tab"
                            aria-controls="tab-content-{{tab.name}}">{{ tab.name.upper()}}
                        </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                {% for tab in tabs %}
                <div class="tab-pane fade{% if loop.index0 == 0 %} show active{% endif %}" id="tab-content-{{tab.name}}"
                    role="tabpanel" aria-labelledby="infotabs-{{name}}">
                    <div class="d-flex flex-row justify-content-between">
                        <div id="filter {{tab.name}}" class="d-flex flex-row py-2">
                            <div class="btn-group" style="padding-right: 0.3rem;" role="group">
                                <button class="btn btn-primary" id="{{tab.name}}-reload-data"
                                    onclick="{{tab.name}}_table.dataLoader.reloadData()"><i
                                        class="bi bi-arrow-clockwise" style="font-family: 'Times New Roman', Times, serif;"></i></button>
                            </div>
                            <div class="me-1">
                                <select class="form-select" id="filter-field-{{tab.name}}">
                                    {% for col in tab.columns %}
                                        {% if col.title != "ID" %}
                                            <option value="{{ col.field }}">{{ col.title }}</option>
                                        {% endif %}
                                    {%endfor%}
                                </select>
                            </div>

                            <div class="me-1">
                                <select class="form-select" id="filter-type-{{tab.name}}">
                                    <option value="=">=</option>
                                    <option value="<">&lt;</option>
                                    <option value="<=">&lt;=</option>
                                    <option value=">">&gt;</option>
                                    <option value=">=">&gt;=</option>
                                    <option value="!=">!=</option>
                                    <option value="like">like</option>
                                </select>
                            </div>
                            <input id="filter-value-{{tab.name}}" name="filter-value-{{tab.name}}" class="form-control me-1" type="text"
                            data-i18n-placeholder="value to filter" style="width: 40%">
                            <button id="filter-search-{{tab.name}}" class="btn btn-primary me-1" style="width: 5rem; "
                                onclick="{{tab.name}}ApplyFilter()" data-i18n="Search"></button>
                            <button id="filter-clear-{{tab.name}}" class="btn btn-danger me-1" style="width: 7rem; "
                                onclick="{{tab.name}}clearFilter()" data-i18n="Clear"></button>

                        {% if tab.name == 'software' or tab.name == 'ip_mac_port' %}
                            <div class="me-1">
                                <select class="form-select" style="width: 12rem; " id="filter-tools-{{tab.name}}">
                                    <option value="nmap">nmap</option>
                                    <option value="masscan">masscan</option>
                                    <option value="cert">cert</option>
                                    <option value="whois">whois</option>
                                </select>
                            </div>
                        {% elif tab.name == 'auth_credentials' or tab.name == 'domain_ip' %}
                        <div class="me-1">
                            <select class="form-select" style="width: 12rem; " id="filter-tools-{{tab.name}}">
                                <option value="nmap">nmap</option>
                                <option value="masscan">masscan</option>
                                <option value="cert">cert</option>
                                <option value="domains">domains</option>
                                <option value="whois">whois</option>
                            </select>
                        </div>   
                        {% endif %}
                        {% if tab.name == 'software' or tab.name == 'ip_mac_port' or tab.name == 'domain_ip' or tab.name == 'auth_credentials' %}
                            <button class="btn btn-success" style="width: 7rem;"  onclick="{{tab.name}}open_modal_tools();" data-i18n="Start"></button>
                        {% endif %}    
                    </div>

                </div>

                <div id="{{tab.name}}-table" ></div>

                <style>
                    .tabulator {
                        border-radius: 8px;
                        overflow: hidden;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    }
                    
                    
                    .tabulator .tabulator-row {
                        background-color: white;
                    }
                    
                    .tabulator .tabulator-row:nth-child(odd) {
                        background-color: #f8f9fa;
                    }
                    
                    .tabulator .tabulator-row:hover {
                        background-color: #e9ecef;
                    }
                    
                    .tabulator .tabulator-cell {
                        padding: 12px;
                        text-align: center;
                        vertical-align: middle;
                        border-right: 1px solid #dee2e6;
                    }
                </style>
                <script>
                    function {{tab.name}}get_selected_rows()
                    {
                        let chk = document.querySelectorAll('[id^="{{tab.name}}-checkbox"]');
                        let t_rows = {{tab.name}}_table.getData()
                        console.log(t_rows)
                        let selected_id = [];
                        for (const [k, v] of {{tab.name}}_selected_row)
                        {
                            if (v)
                                selected_id.push(Number(k.split('-')[2]));
                        }
                        let result = [];
                        for (let i = 0; i < t_rows.length; i++)
                        {
                            if (selected_id.includes(t_rows[i].id))
                                result.push(t_rows[i]);
                        }
                        return result;
                    }
                    function {{tab.name}}open_modal_tools()
                    {
                        let tool = document.getElementById('filter-tools-{{tab.name}}').value.toString()
                        rows = {{tab.name}}get_selected_rows();
                        
                        {
                            switch (tool) {
                            case "nmap":
                                nmap_script_modal_to_info_tabs(rows);
                                break;
                            case "masscan":
                                masscan_script_modal_to_info_tabs(rows);
                                break;
                            case "domains":
                                domains_script_modal_to_info_tabs(rows)
                                break;
                            case "cert":
                                cert_script_modal_to_info_tabs(rows)
                                break;
                            case "whois":
                                whois_script_modal_to_info_tabs(rows)
                                break;
                            default:
                                break;
                            }
                        }
                    }

                    function {{tab.name}}clearFilter(){
                        document.getElementById('filter-value-{{tab.name}}').value = ''
                        {{tab.name}}_table.clearFilter()
                    }

                    function {{tab.name}}ApplyFilter() {
                        let field = document.getElementById('filter-field-{{tab.name}}').value.toString();
                        let type = document.getElementById('filter-type-{{tab.name}}').value.toString();
                        let value = document.getElementById('filter-value-{{tab.name}}').value.toString();
                        
                        if (field && value) {
                            {{tab.name}}_table.setFilter(field, type, value);
                        }
                    }
                    function {{tab.name}}getCurrentFilters() {
                        return {{tab.name}}_table.getFilters();
                    }

                    let {{tab.name}}_selected_row = new Map();
                    function checkbox_formatter(cell, formatterParams, onRendered)
                    {
                        let checkbox_id = '{{tab.name}}-checkbox-' + cell.getRow().getData().id;
                        return `<input type='checkbox' name="{{tab.name}}-checkbox" class='row-checkbox' id='${checkbox_id}' onclick="( function(elem, status){ {{tab.name}}_selected_row.set(elem, status); }(this.id, this.checked) )" >`
                    }
                    function isRowSelected(cell) {
                        return cell.getRow().isSelected()
                    }
                    var headerMenu = function () {
                        var menu = [];
                        var columns = this.getColumns();
                        for (let column of columns) {
                            if (column.getDefinition().field) {
                                let icon = document.createElement("i");
                                icon.classList.add("bi");
                                icon.classList.add(column.isVisible() ? "bi-check-square" : "bi-square");
                                let label = document.createElement("span");
                                let title = document.createElement("span");
                                title.textContent = " " + column.getDefinition().title;
                                label.appendChild(icon);
                                label.appendChild(title);
                                menu.push({
                                    label: label,
                                    action: function (e) {
                                        e.stopPropagation();
                                        column.toggle();
                                        if (column.isVisible()) {
                                            icon.classList.remove("bi-square");
                                            icon.classList.add("bi-check-square");
                                        } else {
                                            icon.classList.remove("bi-check-square");
                                            icon.classList.add("bi-square");
                                        }
                                        {{tab.name}}_table.redraw()
                                    }
                                });
                            }
                        }
                        return menu;
                    };
                    var {{tab.name}}_table = new Tabulator('#{{tab.name}}-table', {
                        {% if  tab.name =='soft_vuln_link' or tab.name == 'auth_credentials' or tab.name == 'software' %}
                            layout: "fitDataStretch",
                        {% else %}
                            layout: "fitColumns",
                        {% endif %}
                        ajaxURL: "{{tab.base_url}}",

                        ajaxURLGenerator: function (url, config, params) {
                            //url - the url from the ajaxURL property or setData function
                            //config - the request config object from the ajaxConfig property
                            //params - the params object from the ajaxParams property, this will also include any pagination, filter and sorting properties based on table setup

                            //return request url
                            const sort = encodeURIComponent(JSON.stringify(params.sort || []));
                            const filter = encodeURIComponent(JSON.stringify(params.filter || []));
                            return url + "?page=" + params.page + "&size=" + params.size + "&sort=" + sort + "&filter=" + filter; //encode parameters as a json object
                        },
                        selectable: false,
                        sortMode: "remote",
                        filterMode: "remote",
                        pagination: true,
                        paginationMode: "remote",
                        paginationSize: 10,
                        paginationInitialPage: 1,
                        paginationSizeSelector: [5, 10, 25, 50, 100],
                        validationMode: 'highlight',
                        columns: [
                            {% if tab.name == 'software' or tab.name == 'ip_mac_port' or tab.name == 'domain_ip' or tab.name == 'auth_credentials' %}
                                { 
                                    title: "<div class='d-flex justify-content-center'><button class='btn btn-sm btn-outline-primary select-all-btn' title='Select all/none'><i class='bi bi-check-square'> Select </i></button></div>", 
                                    field: "selected", 
                                    formatter: checkbox_formatter, 
                                    headerSort: false,
                                    headerTooltip: "Click to select/deselect all",
                                    hozAlign: "center",
                                    headerHozAlign: "center",
                                    headerClick: function(e, column){
                                        const checkboxes = document.querySelectorAll('input[name="{{tab.name}}-checkbox"]');
                                        let allChecked = true;
                                        
                                        checkboxes.forEach(checkbox => {
                                            if(!checkbox.checked) {
                                                allChecked = false;
                                            }
                                        });
                                        
                                        const newState = !allChecked;
                                        const btn = column.getElement().querySelector('.select-all-btn');
                                        
                                        checkboxes.forEach(checkbox => {
                                            checkbox.checked = newState;
                                            const clickEvent = new Event('click');
                                            checkbox.dispatchEvent(clickEvent);
                                        });
                                    },
                                    formatterParams: {
                                        selectAll: false
                                    }
                                }
                            {% endif %},
                            {% for col in tab.columns %}
                                {{'{'}}
                                title: "{{col.title}}",
                                field: "{{col.field}}",
                                headerMenu: headerMenu
                                {{ '}' }},
                            {% endfor %}
                            
                            ] })
                </script>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<script>
    var message_sock = create_websocket(`/api/v1/project/ws`, '{{user_id}}')
</script>
{% endblock content %}