{% extends 'base.html' %}
{% block title %} Information {% endblock title %}
{% block scripts %}
<link href="/static/css/vendor/tabulator.min.css" rel="stylesheet" />
<link href="/static/css/vendor/tabulator_bootstrap4.min.css" rel="stylesheet" />
<script src="/static/js/libs/tabulator.min.js"></script>
<script src="/static/js/libs/luxon.min.js"></script>
<script src="/static/js/libs/xlsx.full.min.js"></script>
<script src="/static/js/libs/jspdf.umd.min.js"></script>
<script src="/static/js/libs/jspdf.plugin.autotable.min.js"></script>
{% endblock %}
{% block content %}

<style>
  .tabulator-menu { max-height: 200px; overflow-y: auto; }

  .toolbar-btn {
    height: 34px;
    white-space: nowrap;
  }
  .toolbar-control {
    height: 34px;
    width: 10rem;
  }
  [id^="filter-panel-container-"] .btn,
  [id^="filter-panel-container-"] .form-select,
  [id^="filter-panel-container-"] .form-control,
  [id^="filter-panel-container-"] input {
    height: 34px;
  }

  .tab-pane {
    display: block !important;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
  }
  .tab-pane.active {
    visibility: visible;
    position: relative;
    pointer-events: auto;
  }
</style>

<div id="main_bar" class="container-fluid bd-highlight mb-3">
  <div class="col-12">
    <hr style="margin: 0.4rem 0;">
    <ul class="nav nav-pills" id="tab_buttons" role="tablist"></ul>
  </div>
  <hr style="margin: 0.4rem 0;">
  <div class="tab-content" id="nav-tabContent"></div>
</div>

<!-- Модалка уязвимостей -->
<div class="modal fade" id="vulnsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-i18n="Vulnerabilities"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="vulnsModalContent">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="Close"></button>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/static/js/pages/info_tables/info_tables.js"></script>

<script>
  var message_sock = create_websocket(`/api/v1/project/ws`, "{{user_id}}");
</script>

{% endblock content %}