{% extends "base.html" %}
{% block title %}
Dashboard
{% endblock title %}
{% block scripts %}

{% endblock %}
{% block content %}
<script src="/static/js/plotly-2.29.1.min.js.js"></script>
<link href="/static/css/tabulator.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/tabulator_bootstrap4.min.css" rel="stylesheet">
<script src="/static/js/tabulator.min.js" type="text/javascript"></script>
<script src="/static/js/donut.js" type="text/javascript"></script>
<!-- <link href="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/snow.min.css" rel="stylesheet"> -->
<!-- <script src="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/Snow.min.js"></script> -->
<!-- <script>
    new Snow();
</script> -->
<script>
    var message_sock = create_websocket(`/api/v1/project/ws`, '{{user_id}}')
</script>
<!-- <div class="modal fade" id="dontShowModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height: 40rem;">
            <div class="modal-header">
                <h5 class="modal-title" data-i18n="Welcome to setezor!"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 data-i18n="Before you start..."></h4>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators" style="margin-bottom: -1rem;">
                        <button type="button" style="background-color:black" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" style="background-color:black" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" style="background-color:black" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" style="background-color:black" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" style="background-color:black" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="m-3 d-flex justify-content-center align-items-center"
                                style="height: 80%; text-align: center;">
                                <h5 data-i18n="For local tasks..."> </h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="m-3">
                                <h5 data-i18n="Agents are added in the settings tab"></h5>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <img src="../static/assets/slide2.1.png" style="height: 11rem;"
                                    class="d-block w-50 mx-2">
                                <img src="../static/assets/slide2.2.png" style="height: 11rem;"
                                    class="d-block w-50 mx-2">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="m-3">
                                <h5 data-i18n="To add an artificial agent..."></h5>
                            </div>
                            <img src="../static/assets/slide3.1.png" style="height: 22rem;" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <div class="m-3">
                                <h5 data-i18n="Then manually configure its interfaces."></h5>
                            </div>
                            <img src="../static/assets/slide4.1.png" style="height: 16rem;" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <div class="m-3">
                                <h5 data-i18n="To add a real agent, specify..."></h5>
                            </div>
                            <img src="../static/assets/slide5.1.png" style="height: 6rem;" class="d-block mx-auto w-50">
                            <div class="m-3">
                                <h5 data-i18n="Next, in the interface configuration..."> </h5>
                            </div>
                            <img src="../static/assets/slide5.2.png" style="height: 11rem;"
                                class="d-block mx-auto w-50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="dontShowAgain">
                    <label class="form-check-label" for="dontShowAgain" data-i18n="Dont show again"></label>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModal" data-i18n="Close"></button>
            </div>
        </div>
    </div>
</div> -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (!localStorage.getItem('dontShowModal') || localStorage.getItem('dontShowModal') === 'false') {
            let myModal = new bootstrap.Modal(document.getElementById('dontShowModal'));
            myModal.show();
        }

        document.getElementById('closeModal').addEventListener('click', function () {
            const dontShowAgain = document.getElementById('dontShowAgain').checked;

            if (dontShowAgain) {
                localStorage.setItem('dontShowModal', 'true');
            }
        });
    });
</script>
<div class="row mt-3 w-100">

    <div class="col-1">
        <div class="d-flex flex-wrap w-100 h-100" style="margin-top: 0.3rem; margin-left: 1rem; ">

            <div class="card mb-3 w-100" style="height: 23%;">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title" data-i18n="Objects" style="text-align: center;"></h5>
                    <p id="object-count" class="card-text" style="text-align: center; color: #0055ff; font-size: 2rem;">
                        <!-- количество Objects -->
                    </p>
                </div>
            </div>

            <div class="card mb-3 w-100" style="height: 23.1%;">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title" data-i18n="IPs" style="text-align: center;"></h5>
                    <p id="ip-count" class="card-text" style="text-align: center; color: #0055ff; font-size: 2rem;">
                        <!-- количество IP -->
                    </p>
                </div>
            </div>

            <div class="card mb-3 w-100" style="height: 23%;">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title" data-i18n="Macs" style="text-align: center;"></h5>
                    <p id="mac-count" class="card-text" style="text-align: center; color: #0055ff; font-size: 2rem;">
                         <!-- количество MAC -->
                        </p>
                </div>
            </div>

            <div class="card mb-3 w-100" style="height: 23.1%;">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title" data-i18n="Ports" style="text-align: center;"></h5>
                    <p id="port-count" class="card-text" style="text-align: center; color: #0055ff; font-size: 2rem;">
                         <!-- количество Ports -->
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-5">

        <div class="d-flex flex-wrap h-50">
            <div id="ports-and-protocols-container" style="width: 49%; margin: 0.5%; padding-top: 0.2%;" ></div>
            <div id="products-and-service-name-container" style="width: 49%; margin: 0.5%; padding-top: 0.2%;" ></div>
        </div>

        <div class="d-flex flex-wrap h-50">
            <div id="device-type-container" class="w-100" style="margin-right: 0.5%; margin-left: 0.5%; padding-bottom: 0.5%;"></div>
        </div>

    </div>

    <div class="col-6" style="padding-right: 0px; padding-left: 0px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 0.2rem;">
            <li class="nav-item w-50" role="presentation">
                <button class="nav-link active w-100" id="table-tab" data-bs-toggle="tab" data-bs-target="#table"
                    type="button" role="tab" aria-controls="table" aria-selected="true">cpe2.3</button>
            </li>
            <li class="nav-item w-50" role="presentation">
                <button class="nav-link w-100" id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button"
                    role="tab" aria-controls="new" aria-selected="false" data-i18n="Vulnerabilities"></button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                <div class="table_container" style="margin-top: 0.2rem; overflow-y: auto; max-height: 40rem;">
                    <table id="softwareTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 25%;" data-i18n="Product"></th>
                                <th style="text-align: center; width: 25%;" data-i18n="Version"></th>
                                <th style="text-align: center; width: 25%;">cpe:2.3</th>
                                <th style="text-align: center; width: 25%;" data-i18n="Count"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
                <div class="table_container" style="overflow-y: auto; max-height: 40rem">
                    <table id="vulnerabilitiesTable" class="table table-striped table-bordered" style="width: 100%; table-layout: fixed;">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 25%;" data-i18n="Name"></th>
                                <th style="text-align: center; width: 25%;">cve</th>
                                <th style="text-align: center; width: 25%;" data-i18n="Description"></th>
                                <th style="text-align: center; width: 25%;">cvss_score</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="pivot_table" style="margin-top: 1.5rem; margin-bottom: 1rem;">
    </div>



    <style>
        .table_container {

            border-collapse: separate;
            border-spacing: 0;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }

        th {
            background-color: #ffffff;
            font-weight: bold;
            font-size: 16px;
            top: 0;
        }

        tr:nth-child(even) {
            background-color: #ffffff;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        tr:hover {
            background-color: #ffffff;
            transition: background-color 0.3s;
        }

        .tabulator {
            border: 0px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding-right: 0px;
            padding-left: 0px;
            margin-left: 2rem;
            width: calc(100% - 2rem);
        }

        .tabulator .tabulator-header {
            background-color: #007bff;
            font-weight: bold;
        }

        .tabulator .tabulator-row {
            background-color: white;
        }

        .tabulator .tabulator-row:nth-child(odd) {
            background-color: #f8f9fa;
        }

        .tabulator .tabulator-row:hover {
            background-color: #e9ecef;
        }

        .tabulator .tabulator-cell {
            padding: 12px;
            text-align: center;
            vertical-align: middle;
            border-right: 1px solid #dee2e6;
        }

        /* Фиксируем размер модального окна */
        #dontShowModal .modal-dialog {
            max-width: 800px;
            /* Фиксированная ширина */
            width: 100%;
        }

        /* Фиксируем высоту модального окна */
        #dontShowModal .modal-content {
            height: 600px;
            /* Фиксированная высота */
        }

        /* Обеспечиваем одинаковый размер изображений */
        #dontShowModal .carousel-item img {
            width: 100%;
            height: 300px;
            /* Фиксированная высота для всех изображений */
            object-fit: contain;
            /* Изображение не растягивается, сохраняет пропорции */
            margin: 0 auto;
            /* Центрирование изображения */
        }

        /* Убираем прыгание карусели */
        #dontShowModal .carousel {
            height: 100%;
        }

        #dontShowModal .carousel-inner {
            height: 100%;
        }

        #dontShowModal .carousel-item {
            height: 100%;
        }

        /* Центрируем текст и изображения */
        #dontShowModal .carousel-item div {
            text-align: center;
        }
    </style>

    <script>

        var headerMenu = function () {
            var menu = [];
            var columns = this.getColumns();
            for (let column of columns) {
                if (column.getDefinition().field) {
                    let icon = document.createElement("i");
                    icon.classList.add("bi");
                    icon.classList.add(column.isVisible() ? "bi-check-square" : "bi-square");
                    let label = document.createElement("span");
                    let title = document.createElement("span");
                    title.textContent = " " + column.getDefinition().title;
                    label.appendChild(icon);
                    label.appendChild(title);
                    menu.push({
                        label: label,
                        action: function (e) {
                            e.stopPropagation();
                            column.toggle();
                            if (column.isVisible()) {
                                icon.classList.remove("bi-square");
                                icon.classList.add("bi-check-square");
                            } else {
                                icon.classList.remove("bi-check-square");
                                icon.classList.add("bi-square");
                            }
                            { { tab.name } } _table.redraw()
                        }
                    });
                }
            }
            return menu;
        }

        var pivot_table = new Tabulator('#pivot_table', {
            layout: "fitColumns",
            ajaxURL: "{{tab.base_url}}",

            ajaxURLGenerator: function (url, config, params) {
                //url - the url from the ajaxURL property or setData function
                //config - the request config object from the ajaxConfig property
                //params - the params object from the ajaxParams property, this will also include any pagination, filter and sorting properties based on table setup
                //return request url
                return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
            },
            selectable: false,
            sortMode: "local",
            filterMode: "local",
            pagination: true,
            paginationMode: "local",
            paginationSize: 10,
            paginationInitialPage: 1,
            paginationSizeSelector: [5, 10, 25, 50, 100],
            columns: [
                {% for col in tab.columns %}
        {{ '{'}}title: "{{col.title}}", field: "{{col.field}}", headerMenu: headerMenu},
        {% endfor %}
        ]
}
)
    </script>
    <script>

        async function get_object_count() {
        try {
            const response = await axios.get("/api/v1/analytics/get_object_count");
            const objectCountElement = document.getElementById('object-count');
            objectCountElement.textContent = response.data;
        } catch (error) {
            console.error('Load data error:', error);
        }
    }

        async function get_ip_count() {
        try {
            const response = await axios.get("/api/v1/analytics/get_ip_count");
            const ipCountElement = document.getElementById('ip-count');
            ipCountElement.textContent = response.data;
        } catch (error) {
            console.error('Load data error:', error);
        }
    }

        async function get_mac_count() {
        try {
            const response = await axios.get("/api/v1/analytics/get_mac_count");
            const macCountElement = document.getElementById('mac-count');
            macCountElement.textContent = response.data;
        } catch (error) {
            console.error('Load data error:', error);
        }
    }

        async function get_port_count() {
        try {
            const response = await axios.get("/api/v1/analytics/get_port_count");
            const portCountElement = document.getElementById('port-count');
            portCountElement.textContent = response.data;
        } catch (error) {
            console.error('Load data error:', error);
        }
    }

        async function get_software_version_cpe() {
            try {
                const response = await axios.get("/api/v1/analytics/get_software_version_cpe");
                const analytics = response.data;


                const product = analytics.product;
                const version = analytics.version;
                const cpe23 = analytics.cpe23;
                const data = analytics.data;
                const tableBody = document.querySelector("#softwareTable tbody");
                tableBody.innerHTML = "";

                for (let i = 0; i < product.length; i++) {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                <td style="text-align: center; word-wrap: break-word; white-space: normal;">${product[i]}</td>
                <td style="text-align: center; word-wrap: break-word; white-space: normal;">${version[i]}</td>
                <td style="word-wrap: break-word; white-space: normal;">${cpe23[i]}</td>
                <td style="text-align: center; word-wrap: break-word; white-space: normal;">${data[i]}</td>
            `;
                    tableBody.appendChild(row);
                }
            } catch (error) {
                console.error("Error fetching software version CPE:", error);
            }
        }
        
        async function get_vulnerabilities() {
                try {
                    const response = await axios.get("/api/v1/analytics/get_vulnerabilities");
                    const analytics = response.data;
                    const name  = analytics.name;
                    const cve  = analytics.cve;
                    const description  = analytics.description;
                    const cvss_score  = analytics.cvss_score;
                    const tableBody = document.querySelector("#vulnerabilitiesTable tbody");
                    tableBody.innerHTML = "";

                    for (let i = 0; i < name.length; i++) {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                <td style="text-align: center; word-wrap: break-word; white-space: normal;">${name[i]}</td>
                <td style="word-wrap: break-word; white-space: normal;">${cve[i]}</td>
                <td style="word-wrap: break-word; white-space: normal;">${description[i]}</td>
                <td style="text-align: center; word-wrap: break-word; white-space: normal;">${cvss_score[i]}</td>
            `;
                        tableBody.appendChild(row);
                    }
                } catch (error) {
                    console.error("Error fetching vulnerabilities:", error);
                }
            }

    async function get_device_types() {
            const response = await axios.get("/api/v1/analytics/get_device_types");
            const data = response.data;
            
            createGraphDeviceType(
                i18next.t('device_types_title'),
                'device_types',
                data.data || [],
                data.labels || [],
                268
            );
        }

        async function get_ports_and_protocols() {
            const response = await axios.get('/api/v1/analytics/get_ports_and_protocols');
            const data = response.data;
            labels = JSON.parse(data.labels)
            parents = JSON.parse(data.parents)
            graph_values = data.graph_values
            createPortsAndProtocols(
                i18next.t('ports_protocols_title'),
                'ports_and_protocols-id',
                labels || [],
                parents || [],
                graph_values || [],
                250
            );
        }

        async function get_products_and_service_name() {
            const response = await axios.get('/api/v1/analytics/get_products_and_service_name');
            const data = response.data;
            labels = JSON.parse(data.labels)
            parents = JSON.parse(data.parents)
            graph_values = data.graph_values
            createProductsAndServiceName(
                i18next.t('products_service_title'),
                'products_and_service_name-id',
                labels || [],
                parents || [],
                graph_values || [],
                250
            );
        }
        get_device_types();
        get_object_count()
        get_ip_count()
        get_mac_count()
        get_port_count()
        get_software_version_cpe()
        get_vulnerabilities()
        get_ports_and_protocols()
        get_products_and_service_name()
    </script>
    {% endblock content %}