{% extends "base.html" %}
{% block title %}
Vulnerabilities
{% endblock title %}
{% block scripts %}
<link href="/static/css/tabulator.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/tabulator_bootstrap4.min.css" rel="stylesheet">
<script src="/static/js/tabulator.min.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
{% import 'modals.html' as modals %}
{{ modals.create_vulnerabilities_add_modal() }}
<div class="container-fluid">
    <div class="row p-3">
        <div class="col">
            <div id="area_table_l4">
                <div id="table-l4_resources"></div>
            </div>
        </div>
        <div class="col">
            <div id="resourceINFO">
                
            </div>
            <div id="carouselCards" class="carousel slide carousel-dark" data-bs-interval="false">
            </div>
        </div>
    </div>
</div>
<div class="modal modal-lg fade" id="screenshotsModal" tabindex="-1" aria-labelledby="screenshotsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="screenshotsModalLabel" data-i18n="Screenshots"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="screenshotForm" name="screenshotFormName">
            <div class="modal-body" >
                <div id="rowContainer">
                    <div class="row mb-2">
                        <div class="col-7">
                            <label for="noteInput1" class="form-label" data-i18n="Note"></label>
                            <input type="text" class="form-control" name="note1" id="noteInput1" required>
                        </div>
                        <div class="col-5">
                            <label for="screenshotInput1" class="form-label" data-i18n="Screenshot"></label>
                            <input type="file" class="form-control" accept="image/*" name="image1" id="screenshotInput1" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success mt-2" onclick="addScreenshotRow()">+</button>
                <hr>
                <h5 data-i18n="Existing Screenshots"></h5>
                <div id="existingScreenshots">
                    
                </div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelAddingScreenshot" data-i18n="Close"></button>
                <button type="submit" class="btn btn-primary" data-i18n="Add"></button>
              </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="zoomedImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" data-dismiss="modal">
      <div class="modal-content"> 
        <div class="modal-header">
            <h5 class="modal-title" id="screenshotsModalLabel" data-i18n="Screenshot"></h5>
            <button type="button" data-bs-toggle="modal" data-bs-target="#screenshotsModal" class="btn-close" aria-label="Close"></button>
          </div>             
        <div class="modal-body" id="zoomINBody">
        </div> 
      </div>
    </div>
  </div>
<style>
    .tabulator {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabulator .tabulator-header {
    background-color: #007bff;
    font-weight: bold;
}

.tabulator .tabulator-row {
    background-color: white;
}

.tabulator .tabulator-row:nth-child(odd) {
    background-color: #f8f9fa;
}

.tabulator .tabulator-row:hover {
    background-color: #e9ecef;
}

.tabulator .tabulator-cell {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dee2e6;
}
</style>
<script>
    var message_sock = create_websocket(`/api/v1/project/ws`, '{{user_id}}')
    let currentResourceID = 0
    let currentResourceVulnerabilityID = ""
    var headerMenu = function () {
        var menu = [];
        var columns = this.getColumns();
        for (let column of columns) {
            if (column.getDefinition().field) {
                let icon = document.createElement("i");
                icon.classList.add("bi");
                icon.classList.add(column.isVisible() ? "bi-check-square" : "bi-square");
                let label = document.createElement("span");
                let title = document.createElement("span");
                title.textContent = " " + column.getDefinition().title;
                label.appendChild(icon);
                label.appendChild(title);
                menu.push({
                    label: label,
                    action: function (e) {
                        e.stopPropagation();
                        column.toggle();
                        if (column.isVisible()) {
                            icon.classList.remove("bi-square");
                            icon.classList.add("bi-check-square");
                        } else {
                            icon.classList.remove("bi-check-square");
                            icon.classList.add("bi-square");
                        }
                        { { groups_tab.name } } _table.redraw()
                    }
                });
            }
        }
        return menu;
    }
    let counter = 1
    let objCount = 0
    var {{ tab.name }}_table = new Tabulator('#table-{{ tab.name }}', {
                            layout: "fitColumns",
                            ajaxURL: "/api/v1/{{ tab.base_url }}",

                            ajaxURLGenerator: function (url, config, params) {
                                //url - the url from the ajaxURL property or setData function
                                //config - the request config object from the ajaxConfig property
                                //params - the params object from the ajaxParams property, this will also include any pagination, filter and sorting properties based on table setup

                                //return request url
                                return url
                            },
                            selectable: false,
                            sortMode: "local",
                            filterMode: "local",
                            pagination: true,
                            paginationMode: "local",
                            paginationSize: 10,
                            paginationInitialPage: 1,
                            paginationSizeSelector: [5, 10, 25, 50, 100],
                            validationMode: 'highlight',
                            columns: [
                                {% for col in tab.columns %}
                                {{'{'}}title: "{{col.title}}", field: "{{col.field}}", headerMenu: headerMenu
                                {% if col.editor %}, editable: isRowSelected{% if col.editor == "datetime" %}, editable: false, editor: datetimeEditor, formatter: datetimeFormatter{% else %}, editor: "{{col.editor}}"{% endif %} {% endif %}
                        {% if col.formatter %}, editorParams: { values: foriegnData{{ col.field }}, itemFormatter: function(label, value, item, element) { label = label.length > 0 ? `<strong>${label}</strong>` : "<i>empty string</i>"; return label + `<br/><div style="font-size:80%">id: ${value}</div>` } }, formatter: {{ col.formatter }} (foriegnData{{ col.field }}) {% endif %}
                        {% if col.validator %}, validator: "{{col.validator}}"{% endif %} {{ '}' }}, {% endfor %}
                        {{ '{' }} title: "Actions", formatter: buttons_formatter_{{ tab.name }}, headerSort: false{{ '}' }}]
                        })
    function buttons_formatter_{{ tab.name }}(cell, formatterParams, onRendered) {
        return `<button class='btn btn-outline-primary btn-sm btnIdentifyClass' id="{{tab.name}}-edit-${cell.getRow().getData().id}" onclick="currentResourceID='${cell.getRow().getData().id}';getVulnerabilities_{{ tab.name }}('${cell.getRow().getData().id}');">${i18next.t('Vulnerabilities')} (${cell.getRow().getData().vuln_count})</button>`;
    }



    async function getVulnerabilities_{{ tab.name }}(id){
        let resource = {{ tab.name }}_table.getRow(id).getData();
        let els = document.getElementsByClassName("btnIdentifyClass");
        for (const el of els){
            if (el.id == `resource_vulnerabilities-edit-${id}`){
                el.classList.add("btn-primary")
                el.classList.remove("btn-outline-primary")
            }else{
                el.classList.add("btn-outline-primary")
                el.classList.remove("btn-primary")
            }
        }
        let resp = await fetch(`/api/v1/{{ tab.base_url }}/${currentResourceID}/vulnerabilities`)
        let data = await resp.json()
        let vulnerabilities = data
        let first = true
        let result = ""
        for (const vuln of vulnerabilities){
            let links = ""
            for (const link of vuln.links){
                links += `<p><a href="${link}" target="_blank">${link}</a></p>`
            }
            result += `
            <div class="carousel-item ${first ? 'active' : ''} h-100">
                <div class="card-wrapper d-flex h-100 justify-content-around">
                    <div id="confirmation-card-${vuln.vuln_res_soft_id}" ${vuln.confirmed?'class="card border border-success border-5"':'class="card border border-danger border-5"'} style="width: 40rem;">
                        <div class="card-body">
                            <h3 id="confirmation-${vuln.vuln_res_soft_id}">${i18next.t('Confirmed')}: ${vuln.confirmed?true:false}</h3>
                            <hr>
                            <h5 class="card-title">${i18next.t('Vulnerability')}</h5>
                            <h6>${i18next.t('Name')}: ${sanitize(vuln.name)}</h6>
                            <h6>CVE: ${sanitize(vuln.cve)}</h6>
                            <h6>CWE: ${sanitize(vuln.cwe)}</h6>
                            {% if role.name == "owner" or role.name == "executor" %}
                            <button class="btn btn-danger" onclick="setVulnerabilityStatus_{{ tab.name }}('${vuln.vuln_res_soft_id}',false)">${i18next.t('Reset')}</button>
                            <button class="btn btn-success" onclick="setVulnerabilityStatus_{{ tab.name }}('${vuln.vuln_res_soft_id}',true)">${i18next.t('Confirm')}</button>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#screenshotsModal" id="screenshot-btn-${vuln.vuln_res_soft_id}" onclick="currentResourceVulnerabilityID='${vuln.vuln_res_soft_id}';resetContainer()">${i18next.t('Screenshots')} (${vuln.screenshots_count})</button>
                            {% endif %}
                            <hr>
                            <h5>${i18next.t('Software')}</h5>
                            <h6>${i18next.t('Vendor')}: ${sanitize(vuln.vendor)}</h6>
                            <h6>${i18next.t('Product')}: ${sanitize(vuln.product)}</h6>
                            <h6>${i18next.t('Version')}: ${sanitize(vuln.version)}</h6>
                            <h6>${i18next.t('Build')}: ${sanitize(vuln.build)}</h6>
                            <hr>
                            <h5>${i18next.t('Links')}</h5>
                            ${links}
                        </div>
                    </div>
                </div>
            </div>`
            first = false
        }
        if (result != ""){
            document.getElementById("carouselCards").innerHTML = `<div class="text-center" id="cardsCounter"></div>
                <div class="carousel-inner" id="cardsHolder">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselCards"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselCards"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>`
            let el = document.getElementById("cardsHolder")
            el.innerHTML = result
            counter = 1
            objCount = vulnerabilities.length
            document.getElementById("cardsCounter").innerHTML = `${counter} / ${objCount}`
        }else{
            document.getElementById("carouselCards").innerHTML = "Not found"
        }
        if (Object.keys(resource).length != 0){
            let html_content = `
                {% if role.name == "owner" or role.name == "executor" %}
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#vulnerabilityAddModal" 
                    onclick="document.getElementById('addingVulnerabilityForm').reset();"
                    >${i18next.t('Add Vulnerability')}</button>
                {% endif %}
                <p>IP: ${resource.ip}</p>
                <p>${i18next.t('PORT')}: ${resource.port}</p>
            `
            if (resource.domain) {
                html_content += `<p>${i18next.t('DOMAIN')}: ${resource.domain}</p>`;
            }
            document.getElementById("resourceINFO").innerHTML = html_content;
        }
    }

    var myCarousel = document.getElementById('carouselCards')
    myCarousel.addEventListener('slide.bs.carousel', function (event) {
        if (event.direction == "left"){
            counter++
        }else{
            counter--
        }
        if (counter > objCount){
            counter = 1
        }
        if (counter < 1){
            counter = objCount
        }
        document.getElementById("cardsCounter").innerHTML = `${counter} / ${objCount}`
      })

    async function setVulnerabilityStatus_{{ tab.name }}(id, status){
        resp = await fetch(`/api/v1/{{ tab.base_url }}-vulnerability/${id}/confirm`,{method:'put',headers: {"Content-Type": "application/json",},body:JSON.stringify({"status":status})})
        status = await resp.json()
        document.getElementById(`confirmation-${id}`).innerHTML = `${i18next.t('Confirmed')}: ${status}`
        if (status){
            document.getElementById(`confirmation-card-${id}`).classList = "card border border-success border-5"
        }else{
            document.getElementById(`confirmation-card-${id}`).classList = "card border border-danger border-5"
        }
    }

    let screenshotsCounter = 1
    async function resetContainer(){
        let el = document.getElementById("rowContainer");
        screenshotsCounter = 1
        el.innerHTML = `
            <div class="row mb-2">
                    <div class="col-7">
                        <label for="noteInput1" class="form-label">${i18next.t('Note')}</label>
                        <input type="text" class="form-control" name="note${screenshotsCounter}" id="noteInput${screenshotsCounter}" required>
                    </div>
                    <div class="col-5">
                        <label for="screenshotInput1" class="form-label">${i18next.t('Screenshot')}</label>
                        <input type="file" class="form-control" accept="image/*" name="image${screenshotsCounter}" id="screenshotInput${screenshotsCounter}" required>
                    </div>
                </div>
        `
        let resp = await fetch(`/api/v1/l4-vulnerability/${currentResourceVulnerabilityID}/screenshots`)
        let screenshots = await resp.json()
        let scr = document.getElementById("existingScreenshots")
        let result = ""
        for (let screenshot of screenshots){
            result += `
            <div class="row mb-5" id="scheenshotRow${screenshot.id}">
                    <div class="col-6">
                        <input type="text" class="form-control" disabled value="${sanitize(screenshot.note)}">
                    </div>
                    <div class="col-5">
                        <img class="img-thumbnail" onclick="zoomImage('${screenshot.id}')"
                        data-bs-toggle="modal" data-bs-target="#zoomedImage"
                        src="/api/v1/l4-vulnerability/get-screenshot/${screenshot.id}" alt="">
                    </div>
                    <div class="col-1">
                        <span class="btn btn-danger" onclick="deleteScreenshot('${screenshot.id}')">X</span>
                    </div>
                </div>
            `
        }
        scr.innerHTML = result
    }

    function zoomImage(id){
        document.getElementById("zoomINBody").innerHTML = `
        <img class="img-fluid w-100" data-bs-target="#screenshotsModal" data-bs-toggle="modal"
        src="/api/v1/l4-vulnerability/get-screenshot/${id}" alt="">
        `
    }

    function addScreenshotRow(){
        let container = document.getElementById("rowContainer");
        screenshotsCounter++
        let div = document.createElement("div")
        div.classList = "row mb-2"
        div.innerHTML = `<div class="col-7">
                        <label for="noteInput${screenshotsCounter}" class="form-label">${i18next.t('Note')}</label>
                        <input type="text" class="form-control" name="note${screenshotsCounter}" id="noteInput${screenshotsCounter}" required>
                    </div>
                    <div class="col-5">
                        <label for="screenshotInput${screenshotsCounter}" class="form-label">${i18next.t('Screenshot')}</label>
                        <input type="file" class="form-control" accept="image/*" name="image${screenshotsCounter}" id="screenshotInput${screenshotsCounter}" required>
                    </div>`
        container.appendChild(div)
    }

    async function deleteScreenshot(id){
        let resp = await fetch(`/api/v1/l4-vulnerability/${id}/screenshots`,{method:"DELETE"})
        if (resp.status == 200){
            let el = document.getElementById(`scheenshotRow${id}`)
            el.remove()
            let cnt = await resp.json()
            el = document.getElementById(`screenshot-btn-${currentResourceVulnerabilityID}`)
            el.innerHTML = `Screenshots (${cnt})`
        }
    }

    screenshotForm.onsubmit = async (e) => {
        e.preventDefault();
        let map = {}
        let form = new FormData(screenshotForm)
        
        for (const [key, value] of form){
            if (typeof(value) == "object"){
                var reader = new FileReader();
                reader.onload = (function (key, file) {
                    return async function (e) {
                        data = {file: e.target.result, filename: file.name, note:map["note" + key.slice(-1)]}
                        data.note = sanitize(data.note)
                        resp = await axios.post(`/api/v1/l4-vulnerability/${currentResourceVulnerabilityID}/screenshots`, data, {
                            headers: { 'Content-Type': 'application/json' }
                        });
                        let cnt = resp.data;
                        let el = document.getElementById(`screenshot-btn-${currentResourceVulnerabilityID}`);
                        el.innerHTML = `Screenshots (${cnt})`;
                        document.getElementById("cancelAddingScreenshot").click();
                    }
                })(key, value)
                reader.readAsDataURL(value);
            }else{
                map[key] = value
            }
        }
      };
</script>
<style>
    .card-body{
        max-height: 550px;
        min-height: 550px;
        overflow-x: auto;
    }
    .img-thumbnail{
        cursor: pointer;
    }
    .tabulator-tableholder{
        max-height: 572px;
        min-height: 572px;
    }
</style>
<script>
    async function func_reload_data_update() {
        await getVulnerabilities_l4_resources(currentResourceID);
        l4_resources_table.dataLoader.reloadData()
    }
</script>
{% endblock content %}