{% macro cert_input_ip() %}

<span class="input-group-text" id="basic-addon1" data-i18n="TARGET"></span>
<datalist id="DomainsAndIp"></datalist>
<input type="text" list="DomainsAndIp" class="form-control"  id='inputTargetTLS' data-i18n-placeholder="Domain name or IP"  style="width: 7rem;"
    aria-label="TargetTLS" aria-describedby="basic-addon1" required name="TargetTLS">
{% endmacro %}
{% macro cert_input_port() %}
<span class="input-group-text" id="basic-addon1" data-i18n="PORT"></span>
<input type="text" class="form-control"  id='inputPort' placeholder="Port" aria-label="Port"
    aria-describedby="basic-addon1" required name="Port" value="443">
{% endmacro %}
{% macro cert_plus_button() %}
<button id="add_new_tls_form" onclick="addNewCertForm()" type="button" class="btn btn-success" style="width: 3rem">+</button>
<script>
    function addNewCertForm() {
            const original = document.getElementById('TargetTLS');
            const clone = original.cloneNode(true);
            const newInputTarget = clone.querySelector('[id^="inputTargetTLS"]');
            newInputTarget.id = 'inputTargetTLS_' + Date.now();
            const newInputPort = clone.querySelector('[id^="inputPort"]');
            newInputPort.id = 'inputPort_' + Date.now();
            const originalInputTarget = document.getElementById('inputTargetTLS');
            const originalInputPort = document.getElementById('inputPort');
            newInputTarget.value = originalInputTarget.value;
            newInputPort.value = originalInputPort.value;
            originalInputTarget.value = ''
            originalInputPort.value = 443

            let existingMinusButton = clone.querySelector('.btn-danger');
            if (existingMinusButton) {
                existingMinusButton.remove();
            }
        
            let removeButton = document.createElement('button');
            removeButton.textContent = '-';
            removeButton.type = 'button';
            removeButton.className = 'btn btn-danger';
            removeButton.style.width = '3rem';
            removeButton.onclick = () => {
                clone.remove();
            };
        
            clone.appendChild(removeButton);
        
            let addButton = clone.querySelector('#add_new_tls_form');
            if (addButton) {
                addButton.remove();
            }
        
            document.getElementById('TLSInputContainer').appendChild(clone);
        }
</script>

{% endmacro %}
{% macro cert_start() %}
<div class="btn-group d-flex my-2" role="group">
    <input class="btn btn-outline-secondary w-50" name="reset_params" type="reset" data-i18n-value="Reset Params">
    <button type="button" class="btn btn-primary w-50" id="startScanCert" onclick="
                    const requiredTLS = document.getElementById('CertForm');

                    const params = {};
                    const domains_tls = [];
                    const ports_tls = [];

                    for (const d of form.elements) {
                        if (d.name === 'TargetTLS') {
                            domains_tls.push(d.value);
                        }
                        if (d.name === 'Port') {
                            ports_tls.push(d.value);
                        }
                    }

                    const combinedParams = domains_tls.map((domain, index) => ({
                        target: domain,
                        port: ports_tls[index] || null,
                        agent_id: getAgent(),
                    }));

                    combinedParams.forEach(domainTlsParams => {
                        fetch('/api/v1/task/cert_info_task', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(domainTlsParams)
                        });
                    });
                    var myModal = bootstrap.Modal.getInstance(document.getElementById('certModalWindow'));
                                    if (myModal) {
                                        myModal.hide();
                                    }" data-i18n="Start">
    </button>

</div>
{% endmacro %}

{% macro nmap_script_modal_to_info_tabs() %}

<script>
     async function cert_script_modal_to_info_tabs(rows) {
        var myModal = new bootstrap.Modal(document.getElementById('certModalWindow'));        
        if (rows.length > 0) {
            addNewCertForm();
        }

        let inputForms = document.querySelectorAll('[id^="TargetTLS"]');
        
        for (let row = 0; row < rows.length; row++) {
            let currentForm = inputForms[row] || addNewCertForm();
            
            let inputIP = currentForm.querySelector('[id^="inputTargetTLS"]');
            let inputPort = currentForm.querySelector('[id^="inputPort"]');
            
            if (inputIP && rows[row].ipaddr) {
                inputIP.value = rows[row].ipaddr;
            }
            
            if (inputPort && rows[row].port) {
                inputPort.value = rows[row].port;
            }
            
            if (row < rows.length - 1 && row >= inputForms.length - 1) {
                addNewCertForm();
                inputForms = document.querySelectorAll('[id^="TargetTLS"]');
            }
        }
        
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('certModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("certModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}

{% macro cert_full_modal() %}
<div id="certModalWindow" class="modal fade" tabindex="-1" aria-labelledby="certModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="certModalLabel">TLS/SSL CERT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2" id="agent_interface_bar_cert">
                    <div data-agent-bar="agent_cert"></div>
                    <div data-interface-bar="interface_cert" class="ms-3"></div>
                    <div id="scans_bar_cert" class="ms-3"></div>
                </div>
                <div class="d-flex flex-column">
                    <div class="tab-content" id="dsa">
                        <form id="CertForm" name="CertFormName" class="needs-validation" novalidate>
                            <div id="TLSInputContainer"></div>
                            <div class="input-group" style="padding-top: 7px;" id="TargetTLS">
                                {{cert_input_ip()}}
                                {{cert_input_port()}}
                                {{cert_plus_button()}}

                            </div>
                            {{cert_start()}}
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer"> 
                <div class="d-flex flex-column w-100">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function get_cert_targets () {
                    const response = await axios.get('api/v1/scope/cert_data');
            };

    function cert_full_modal_window() {
        var myModal = new bootstrap.Modal(document.getElementById('certModalWindow'));
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('certModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("certModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}
{% macro cert_script_modal_to_node() %}
<script>
    async function get_cert_targets () {
                    const response = await axios.get('api/v1/scope/cert_data');
            };

    function cert_script_modal_to_node(ip) {
        var myModal = new bootstrap.Modal(document.getElementById('certModalWindow'));
        var inputIP = document.getElementById('inputTargetTLS')
        inputIP.value = ip
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('certModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("certModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}

{% macro show() %}
<div class="d-flex flex-column">
    <div class="tab-content" id="dsa">
        <form id="CertForm" name="CertFormName" class="needs-validation" novalidate>
            <div id="TLSInputContainer"></div>
            <div class="input-group" style="padding-top: 7px;" id="TargetTLS">
                {{cert_input_ip()}}
                {{cert_input_port()}}
                {{cert_plus_button()}}
            </div>
            {{cert_start()}}
        </form>
    </div>
</div>
{% endmacro %}