{% macro main_dns_a_screenshot() %}
<div class="d-flex flex-column">
    <form id="DNSAScreenshotForm">
        <div id="DNSAScreenshotInputContainer"></div>
        <div class="input-group mb-3" style="padding-top: 7px;" id="urlTarget">
            <span class="input-group-text" id="basic-addon1" data-i18n="URL"></span>
            <input type="url" class="form-control" id='inputURL' placeholder="https://example.com" aria-label="URL" aria-describedby="basic-addon1" required name="URL">
            <button id="add_new_url_form" onclick="addNewDNSAScreenshotForm()" type="button" class="btn btn-success" style="width: 3rem">+</button>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <div class="d-flex flex-row">
                    <label for="id_slider_timeout" data-i18n="Timeout"> </label>
                    <span id="id_slider_timeout_value" style="margin-left: 5px;">20</span>
                </div>
            </div>
            <div class="col-8">
                <div class="d-flex flex-row">
                    <span id="id_slider_timeout_min" class="me-2">20</span>
                    <input type="range" class="form-range w-100" id="id_slider_timeout" name="duration" min="10" max="100" step="5" value="20" oninput="document.getElementById('id_slider_timeout_value').textContent = value;">
                    <span id="id_slider_timeout_max" class="me-2">100</span>
                </div>
            </div>
        </div>
        <div class="btn-group d-flex my-2" style="margin-top: 1rem;" role="group">
            <input class="btn btn-outline-secondary w-50" type="reset" data-i18n-value="Reset Params">
            <button type="button" class="btn btn-primary w-50" id="startDNSAScreenshotBtn" onclick="startDNSAScreenshotTasks()" data-i18n="Start"></button>
        </div>
    </form>
</div>
{% endmacro %}

{% macro dns_a_screenshot_full_modal() %}
<div id="dnsAScreenshotModalWindow" class="modal fade" tabindex="-1" aria-labelledby="dnsAScreenshotModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dnsAScreenshotModalLabel">DNS A Screenshot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2" id="agent_interface_bar_dns_a_screenshot">
                    <div data-agent-bar="agent_dns_a_screenshot"></div>
                    <div id="scans_bar_dns_a_screenshot" class="ms-3"></div>
                </div>
                {{ main_dns_a_screenshot() }}
            </div>
        </div>
    </div>
</div>

<script>
    function addNewDNSAScreenshotForm() {
        const original = document.getElementById('urlTarget');
        const clone = original.cloneNode(true);
        const newInputTarget = clone.querySelector('[id^="inputURL"]');
        newInputTarget.id = 'inputURL_' + Date.now();
        const originalInputTarget = document.getElementById('inputURL');
        newInputTarget.value = originalInputTarget.value;
        originalInputTarget.value = ''

        let existingMinusButton = clone.querySelector('.btn-danger');
        if (existingMinusButton) {
            existingMinusButton.remove();
        }
    
        let removeButton = document.createElement('button');
        removeButton.textContent = '-';
        removeButton.type = 'button';
        removeButton.className = 'btn btn-danger';
        removeButton.style.width = '3rem';
        removeButton.onclick = () => {
            clone.remove();
        };
    
        clone.appendChild(removeButton);
    
        let addButton = clone.querySelector('#add_new_url_form');
        if (addButton) {
            addButton.remove();
        }
    
        document.getElementById('DNSAScreenshotInputContainer').appendChild(clone);
    }

    function startDNSAScreenshotTasks() {
        const urls = [];
        const inputs = document.querySelectorAll('#DNSAScreenshotForm input[type="url"]');
        const agent_id = getAgent();
        if (!agent_id) {
            create_toast('Error', 'Please select an agent', 'error');
            return;
        }
        for (const input of inputs) {
            if (input.value.trim()) {
                urls.push(input.value.trim());
            }
        }
        
        if (urls.length === 0) {
            create_toast('Error', 'Please enter at least one valid URL', 'error');
            return;
        }

        let timeout = document.getElementById('id_slider_timeout_value').textContent;

        for (const url of urls) {
            let dnsAScreenshotParams = {
                url: url,
                agent_id: agent_id,
                timeout: timeout
            }
            
            fetch('/api/v1/task/dns_a_screenshot_task', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dnsAScreenshotParams)
            }).then(response => {
                if (response.status !== 201) {
                    response.json().then(data => {
                        const errorMessage = data.detail?.[0]?.msg || 'Create task error';
                        create_toast('Error', errorMessage, 'error');
                    });
                } else {
                    create_toast('Success', `DNS A Screenshot task created for ${url}`, 'success');
                }
            }).catch(error => {
                create_toast('Error', 'An error occurred while sending the request', 'error');
                console.error('Error:', error);
            });
        }
        
        // Закрываем модалку
        var myModal = bootstrap.Modal.getInstance(document.getElementById('dnsAScreenshotModalWindow'));
        if (myModal) {
            myModal.hide();
        }
    }

    function dns_a_screenshot_full_modal_window() {
        var myModal = new bootstrap.Modal(document.getElementById('dnsAScreenshotModalWindow'));
        resetDNSAScreenshotModal();
        myModal.show();
    }

    function resetDNSAScreenshotModal() {
        const form = document.getElementById('DNSAScreenshotForm');
        if (form) form.reset();

        const container = document.getElementById('DNSAScreenshotInputContainer');
        if (container) container.innerHTML = '';

        const originalInput = document.getElementById('inputURL');
        if (originalInput) originalInput.value = '';
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('dnsAScreenshotModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("dnsAScreenshotModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}

{% macro dns_a_screenshot_script_modal_to_node() %}
<script>
    function dns_a_screenshot_script_modal_to_node(domain) {
        var myModal = new bootstrap.Modal(document.getElementById('dnsAScreenshotModalWindow'));
        resetDNSAScreenshotModal();
        var inputURL = document.getElementById('inputURL')
        if (inputURL) inputURL.value = 'https://' + domain
        myModal.show();
    }

    function resetDNSAScreenshotModal() {
        const form = document.getElementById('DNSAScreenshotForm');
        if (form) form.reset();

        const container = document.getElementById('DNSAScreenshotInputContainer');
        if (container) container.innerHTML = '';

        const originalInput = document.getElementById('inputURL');
        if (originalInput) originalInput.value = '';
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('dnsAScreenshotModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("dnsAScreenshotModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}

{% macro dns_a_screenshot_script_modal_to_info_tabs() %}
<script>
    async function dns_a_screenshot_script_modal_to_info_tabs(rows) {
        var myModal = new bootstrap.Modal(document.getElementById('dnsAScreenshotModalWindow'));        
        resetDNSAScreenshotModal();

        for (let row = 0; row < rows.length; row++) {
            let inputForms = document.querySelectorAll('[id^="urlTarget"]');
            let currentForm = inputForms[row];
            
            let inputURL = currentForm.querySelector('[id^="inputURL"]');
            if (inputURL && rows[row].domain) {
                inputURL.value = 'https://' + rows[row].domain;
            }

            if (rows.length > 1 && row < rows.length - 1) {
                addNewDNSAScreenshotForm();
                inputForms = document.querySelectorAll('[id^="urlTarget"]');
            }
        }
        myModal.show();
    }

    function resetDNSAScreenshotModal() {
        const form = document.getElementById('DNSAScreenshotForm');
        if (form) form.reset();

        const container = document.getElementById('DNSAScreenshotInputContainer');
        if (container) container.innerHTML = '';

        const originalInput = document.getElementById('inputURL');
        if (originalInput) originalInput.value = '';
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('dnsAScreenshotModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("dnsAScreenshotModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}

{% macro show() %}
<div class="d-flex flex-column">
    <form id="DNSAScreenshotForm">
        <div id="DNSAScreenshotInputContainer"></div>
        <div class="input-group mb-3" style="padding-top: 7px;" id="urlTarget">
            <span class="input-group-text" id="basic-addon1" data-i18n="URL"></span>
            <input type="url" class="form-control" id='inputURL' placeholder="https://example.com" aria-label="URL" aria-describedby="basic-addon1" required name="URL">
            <button id="add_new_url_form" onclick="addNewDNSAScreenshotForm()" type="button" class="btn btn-success" style="width: 3rem">+</button>
        </div>
        <div class="btn-group d-flex my-2" style="margin-top: 1rem;" role="group">
            <input class="btn btn-outline-secondary w-50" type="reset" data-i18n-value="Reset Params">
            <button type="button" class="btn btn-primary w-50" id="startDNSAScreenshotBtn" onclick="startDNSAScreenshotTasks()" data-i18n="Start"></button>
        </div>
    </form>
</div>
{% endmacro %}