{% macro domains_input() %}
<div id="DomainsInputContainer"></div>
<div class="input-group" style="padding-top: 7px;" id="domainTarget">

    <span class="input-group-text" id="basic-addon1" data-i18n="DOMAIN"></span>
    <datalist id="DomainsList"></datalist>
    <input type="text" list="DomainsList" class="form-control" id='inputDOMAIN' data-i18n-placeholder="Domain name"
        aria-label="IP" aria-describedby="basic-addon1" required name="targetDOMAIN">

    <button id="add_new_domains_form" onclick="addNewDomainsForm()" type="button" class="btn btn-success" style="width: 3rem">+</button>
</div>
<script>
    function addNewDomainsForm() {
        const original = document.getElementById('domainTarget');
            const clone = original.cloneNode(true);
            const newInputTarget = clone.querySelector('[id^="inputDOMAIN"]');
            newInputTarget.id = 'inputDOMAIN_' + Date.now();
            const originalInputTarget = document.getElementById('inputDOMAIN');
            newInputTarget.value = originalInputTarget.value;
            originalInputTarget.value = ''

            let existingMinusButton = clone.querySelector('.btn-danger');
            if (existingMinusButton) {
                existingMinusButton.remove();
            }
        
            let removeButton = document.createElement('button');
            removeButton.textContent = '-';
            removeButton.type = 'button';
            removeButton.className = 'btn btn-danger';
            removeButton.style.width = '3rem';
            removeButton.onclick = () => {
                clone.remove();
            };
        
            clone.appendChild(removeButton);
        
            let addButton = clone.querySelector('#add_new_domains_form');
            if (addButton) {
                addButton.remove();
            }
        
            document.getElementById('DomainsInputContainer').appendChild(clone);
        }
</script>
{% endmacro %}
{% macro domains_main() %}
<div class="d-flex flex-column py-1">
    <div class="form-check form-switch  pe-2" id="traceSwitch" data-bs-toggle="tooltip" data-bs-placement="top"
    data-i18n-title="Search for subdomains via crt.sh">
        <input class="form-check-input" type="checkbox" id="crt.sh" name="crt_sh">
        <label class="form-check-label" for="trace">crt.sh</label>
    </div>
    <!-- <div class="form-check form-switch" id="serviceSwitch" data-bs-toggle="tooltip" data-bs-placement="top" title="Use domain name brute force">
                        <input class="form-check-input" type="checkbox" id="brute_subdomains" name="brute_subdomains">
                        <label class="form-check-label" for="service">Brute subdomains</label>
                    </div> -->
    <div class="form-check form-switch" id="serviceSwitch" data-bs-toggle="tooltip" data-bs-placement="top"
    data-i18n-title="Find DNS records">
        <input class="form-check-input" type="checkbox" id="dns_search" name="dns_search">
        <label class="form-check-label" for="service" data-i18n="DNS search"></label>
    </div>
</div>
<hr class="my-3 bg-secondary">
<!-- <div class="d-flex flex-column py-1">
                    <div class="form-check form-switch  pe-2" id="traceSwitch" data-bs-toggle="tooltip" data-bs-placement="top" title="Enable recursive subdomain search">
                        <input class="form-check-input" type="checkbox" id="recursive_search" name="recursive_search">
                        <label class="form-check-label" for="trace">Recursive subdomain search</label>
                    </div>
                </div> -->
<div class="btn-group d-flex my-2" role="group">
    <input class="btn btn-outline-secondary w-50" name="reset_params" type="reset" data-i18n-value="Reset Params">
    <button type="button" class="btn btn-primary w-50" id="startSdFind" onclick="
                    const requiredDomain = document.getElementById('DomainForm');

                    const params = {};
                    params['crt_sh'] = document.getElementById('crt.sh').checked;
                    params['dns_search'] = document.getElementById('dns_search').checked;
                    const domains = [];
                    for (const d of document.getElementById('DomainForm').getElementsByClassName('form-control')) {
                        domains.push(d.value);
                    }
                    for (const domain of domains) {
                        let domainParams = {
                            ...params,
                            domain: domain,
                            agent_id: getAgent()
                        };
                        if (domainParams['dns_search']) {
                        fetch('/api/v1/task/dns_task', {method: 'POST', 
                        headers: {
                                    'Content-Type': 'application/json',
                                },
                        body: JSON.stringify(domainParams)});
                        }
                        fetch('/api/v1/task/sd_find', {method: 'POST', 
                        headers: {
                                    'Content-Type': 'application/json',
                                },
                        body: JSON.stringify(domainParams)});
                    }var myModal = bootstrap.Modal.getInstance(document.getElementById('domainsModalWindow'));
                                    if (myModal) {
                                        myModal.hide();
                                    }" data-i18n="Start"></button>

</div>
{% endmacro %}
{% macro domains_full_modal() %}
<div id="domainsModalWindow" class="modal fade" tabindex="-1" aria-labelledby="domainsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="domainsModalLabel">Domains</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2" id="agent_interface_bar_domains">
                    <div data-agent-bar="agent_domains"></div>
                    <div data-interface-bar="interface_domains" class="ms-3"></div>
                    <div id="scans_bar_domains" class="ms-3"></div>
                </div>
                <div class="d-flex flex-column">
                    <div class="tab-content" id="dsa">
                        <form id="DomainForm" name="DomainFormName" class="needs-validation" novalidate>
                            {{ domains_input() }}
                            {{ domains_main() }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function domains_full_modal_window() {
        var myModal = new bootstrap.Modal(document.getElementById('domainsModalWindow'));
        myModal.show();
    }

    // Код для закрытия модалки
    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('domainsModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("domainsModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}
{% macro domains_script_modal_to_node() %}
<script>
    function domains_script_modal_to_node(ip) {
        var myModal = new bootstrap.Modal(document.getElementById('domainsModalWindow'));
        var inputIP = document.getElementById('inputDOMAIN')
        inputIP.value = ip

        myModal.show();
    }

    // Код для закрытия модалки
    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('domainsModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("domainsModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}
{% macro domains_script_modal_to_info_tabs() %}
<script>
    async function domains_script_modal_to_info_tabs(rows) {
        var myModal = new bootstrap.Modal(document.getElementById('domainsModalWindow'));        
        if (rows.length > 0) {
            addNewDomainsForm();
        }

        let inputForms = document.querySelectorAll('[id^="domainTarget"]');
        
        for (let row = 0; row < rows.length; row++) {
            let currentForm = inputForms[row] || addNewDomainsForm();
            
            let inputIP = currentForm.querySelector('[id^="inputDOMAIN"]');
            

            if (inputIP && rows[row].domain){
                inputIP.value = rows[row].domain;
            }
            
            if (row < rows.length - 1 && row >= inputForms.length - 1) {
                addNewDomainsForm();
                inputForms = document.querySelectorAll('[id^="domainTarget"]');
            }
        }
        
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('domainsModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("domainsModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}

{% macro show() %}
<div class="d-flex flex-column">
    <div class="tab-content" id="dsa">
        <form id="DomainForm" name="DomainFormName" class="needs-validation" novalidate>
            {{ domains_input() }}
            {{ domains_main() }}
        </form>
    </div>
</div>
{% endmacro %}