{% extends 'base.html' %}
{% block title %}
Network Map
{% endblock title %}
{% block scripts %}
<link href="/static/css/tabulator.min.css" rel="stylesheet" type="text/css" />
<script src="/static/js/tabulator.min.js" type="text/javascript"></script>
<script src="/static/js/vis-network.min.js"></script>
<script src="/static/js/canvas2svg.js"></script>
<script src="/static/js/jquery.inputmask.js" type="text/javascript"></script>


<script type="module">
    import Tags from "/static/js/tags.js";
    Tags.init('select')
</script>
<script>
    var message_sock = create_websocket(`/api/v1/project/ws`, '{{user_id}}')
</script>
{% endblock scripts %}
{% block content %}
<div class="container-fluid d-flex justify-content-between h-100 bd-highlight mb-3">
    <div class="row w-100">
        <div class="col-9" id="network_map_div">
            <div class="p-2 flex-fill bd-highlight" id="div_network">
                {% from 'network/net_map.html' import net_map with context %}
                {{net_map(device_types)}}
            </div>
        </div>
        <div class="col-3" id="node_info_map_div">
            <div class="container-fluid my-2">
                <form name="findNodesByIPFormName" class="d-flex" onsubmit="findNodesByIP(event)">
                    <div class="input-group" id="ipTarget">
                        <span class="input-group-text" id="basic-addon1" >IP</span>
                        <input type="text" class="form-control" id='inputIP' data-i18n-placeholder="IP address or netmask"
                            aria-label="IP" aria-describedby="basic-addon1" required name="targetIP">
                    </div>
                    <input type="submit" class="btn btn-success ms-1" data-i18n-value="Find">
                </form>
            </div>
            <div class="container-fluid">
                <div class="row row-cols-xxxl-3 g-2  overflow-auto p-1" id="search_ip_addresses" style="max-height: 250px;">
                </div>
            </div>
            <div class="p-2 flex-fill bd-highlight" id="div_node_info">
                <h4 data-i18n="Select node to see the information"></h4>
            </div>
        </div>
    </div>
</div>
<script>
    var mask = new Inputmask({ mask: '9[9][9][-9[9][9]].9[9][9][-9[9][9]].9[9][9][-9[9][9]].9[9][9][-9[9][9]][/9[9]]' }).mask(document.getElementById('inputIP'))

    function findNodesByIP(event) {
        event.preventDefault();
        let payload = new FormData(event.target);
        let ip_addr = payload.get("targetIP");
        ip_addr = ip_addr.replaceAll("_", "")
        while (ip_addr.endsWith('..')) {
            ip_addr = ip_addr.replace("..", ".")
        }
        let result = ""
        for (let [key, value] of IPMap) {
            if (value.startsWith(ip_addr)) {
                result += `
                    <div class="col md-1">
                        <button class="btn btn-sm btn-success d-flex" onclick="findSingleNodeByIP('${key}')">${value}</button>
                    </div>`
            }
        }
        let el = document.getElementById('search_ip_addresses')
        if (result === ""){
            create_toast('Not found', `IP like ${ip_addr} not found`, 'error')
            el.classList.remove("border")
            el.classList.remove("border")
        }else{
            el.classList.add(['border'])
            el.classList.add(['border-3'])
        }
        el.innerHTML = result
    }
    async function findSingleNodeByIP(addr) {
        network.focus(addr, { scale: 5, locked: false, animation: { duration: 500 } })
        let nodesData = network.body.data.nodes;
        let nodeId = addr;
        let nodeInfo = nodesData.get(nodeId);
        createNodeInformation(nodeInfo)
    }
</script>
{% import 'acunetix/scan_modal.html' as acunetix_scan_modal with context%}
{{acunetix_scan_modal.show()}}
{% endblock content %}