{% macro nmap_ip() %}
<div id="NmapInputContainer"></div>
<div class="input-group" id="ipTarget">
    <span class="input-group-text" style="margin-bottom: 0.5rem;" id="basic-addon1">IP</span>
    <datalist id="IpList"></datalist>
    <input type="text" list="IpList" class="form-control ip" id='inputIP' data-i18n-placeholder="IP address or netmask" style="margin-bottom: 0.5rem;"
        aria-label="IP" aria-describedby="basic-addon1" required name="targetIP">
    <span class="input-group-text" style="margin-bottom: 0.5rem;" id="basic-addon1" data-i18n="PORT"></span>
    <input type="text" class="form-control port" id='inputPortNmap' data-i18n-placeholder="Port" aria-label="Port" style="margin-bottom: 0.5rem;"
    aria-describedby="basic-addon1" required name="Port">
    <button id="add_new_nmap_form" onclick="addNewNmapForm()" type="button" class="btn btn-success" style="width: 3rem; margin-bottom: 0.5rem;">+</button>
</div>

<script>
    function addNewNmapForm() {
        const original = document.getElementById('ipTarget');
        const clone = original.cloneNode(true);
        const newInputIP = clone.querySelector('[id^="inputIP"]');
        newInputIP.id = 'inputIP_' + Date.now();
        const newInputPort = clone.querySelector('[id^="inputPortNmap"]');
        newInputPort.id = 'inputPortNmap_' + Date.now();
        const originalInputIP = document.getElementById('inputIP');
        const originalInputPort = document.getElementById('inputPortNmap');
        newInputIP.value = originalInputIP.value;
        newInputPort.value = originalInputPort.value;
        originalInputIP.value = ''
        originalInputPort.value = ''
        

        const existingMinusButton = clone.querySelector('.btn-danger');
        if (existingMinusButton) {
            existingMinusButton.remove();
        }

        const removeButton = document.createElement('button');
        removeButton.textContent = '-';
        removeButton.type = 'button';
        removeButton.className = 'btn btn-danger';
        removeButton.style.width = '3rem';
        removeButton.style.marginBottom = '0.5rem';
        removeButton.onclick = () => {
            clone.remove();
        };

        clone.appendChild(removeButton);

        const addButton = clone.querySelector('#add_new_nmap_form');
        if (addButton) {
            addButton.remove();
        }

        document.getElementById('NmapInputContainer').appendChild(clone);
    }
</script>
{% endmacro %}

{% macro nmap_scope() %}
<div class="dropdown w-100 mt-2">
    <button class="btn btn dropdown-toggle w-100"
        style="--bs-btn-border-color:#d4d9de; --bs-btn-hover-border-color: #d4d9de; --bs-btn-active-border-color: #d4d9de"
        type="button" id="nmapScopeDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="Select scope">
        
    </button>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1" id="dropdownMenuForScopeNmapData">
    </ul>
</div>
<script>
    let selectedScopeForNmap = '';
    function get_nmap_scope_list() {
        axios.get('/api/v1/scope').then(resp => {
            const dropdownMenu = document.getElementById('dropdownMenuForScopeNmapData');
            const dropdownButton = document.getElementById('nmapScopeDropdown');
            dropdownMenu.innerHTML = '';

            resp.data.forEach((item, index) => {
                const li = document.createElement('li');
                const a = document.createElement('a');
                a.classList.add('dropdown-item');
                a.href = '#';
                a.textContent = `${item.name}`;

                a.addEventListener('click', () => {
                    dropdownButton.textContent = `${item.name}`;
                    selectedScopeForNmap = item.id;
                });

                li.appendChild(a);
                dropdownMenu.appendChild(li);
            });
        })
    }

    get_nmap_scope_list('')
</script>
{% endmacro %}


{% macro nmap_main() %}
<div class="d-flex justify-content-between py-2">
    <div class="form-check form-switch" id="portSwitch" >
        <input class="form-check-input" type="checkbox" id="portsScan">
        <label class="form-check-label" for="portsScan" data-i18n="Ports"></label>
    </div>
    <div class="w-50" id="portsSelectorDiv" >
        <datalist id="portsSelectorList">
            <option hidden disabled value="1" data-i18n="Choose a ports..."></option>
            <option value="--top-ports 1000" data-i18n="top-1000"></option>
            <option value="--top-ports 100" data-i18n="top-100"></option>
            <option value="-p 80,443,8080,8443" data-i18n="web ports"></option>
            <option value="-p 25,465,587,110,143,993,995" data-i18n="email ports"></option>
            <option value="-p-" data-i18n="All"></option>
        </datalist>
        <input type="text" list="portsSelectorList" id="portsSelector" name="targetPorts" class="form-control"
        data-i18n-placeholder="Ports" disabled>
    </div>
</div>

<div class="invalid-feedback" data-i18n="Please select a valid tag."></div>
<div class="d-flex justify-content-between py-1">
    <div class="form-check form-switch  pe-2" id="traceSwitch" data-bs-toggle="tooltip" data-bs-placement="top"
        data-i18n-title="Trace hop path to each host">
        <input class="form-check-input" type="checkbox" id="trace" name="traceroute" value="--traceroute" checked>
        <label class="form-check-label" for="trace" data-i18n="TraceRoute"></label>
    </div>
    <div class="form-check form-switch" id="serviceSwitch" data-bs-toggle="tooltip" data-bs-placement="top"
    data-i18n-title="Attempts to determine the version of the service running on port">
        <input class="form-check-input" type="checkbox" id="service" name="serviceVersion" value="-sV">
        <label class="form-check-label" for="service" data-i18n="Service Version"></label>
    </div>
</div>
<div class="d-flex justify-content-between py-1">
    <div class="form-check form-switch pe-2" id="stealthSwitch" data-bs-toggle="tooltip" data-bs-placement="top"
    data-i18n-title="OS detection">
        <input class="form-check-input" type="checkbox" id="stealth" name="stealthScan" value="-O">
        <label class="form-check-label" for="stealth" data-i18n="OS detection"></label>
    </div>
    <div class="form-check form-switch" id="pnSwitch" data-bs-toggle="tooltip" data-bs-placement="top"
    data-i18n-title="Disable host discovery. Port scan only.">
        <input class="form-check-input" type="checkbox" id="pn" name="skipDiscovery" value="-Pn">
        <label class="form-check-label" for="pn" data-i18n="Skip discovery"></label>
    </div>
</div>

<div class="my-2">
    <div align="center">
        <h6><b data-i18n="Scan Techniques"></b></h6>
    </div>
    <div class="d-flex justify-content-between" id="p3Group">
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" data-i18n-title="TCP SYN scan">
            <input class="form-check-input" type="radio" name="scanTechniques" id="ss" value="-sS">
            <label class="form-check-label" for="ss">sS</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" data-i18n-title="TCP Connect() scan">
            <input class="form-check-input" type="radio" name="scanTechniques" id="st" value="-sT">
            <label class="form-check-label" for="st">sT</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" data-i18n-title="TCP ACK scan">
            <input class="form-check-input" type="radio" name="scanTechniques" id="sa" value="-sA">
            <label class="form-check-label" for="sa">sA</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" data-i18n-title="TCP Window scan">
            <input class="form-check-input" type="radio" name="scanTechniques" id="sw" value="-sW">
            <label class="form-check-label" for="sw">sW</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" data-i18n-title="TCP Maimon scan">
            <input class="form-check-input" type="radio" name="scanTechniques" id="sm" value="-sM">
            <label class="form-check-label" for="sm">sM</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" data-i18n-title="UDP Scan">
            <input class="form-check-input" type="radio" name="scanTechniques" id="su" value="-sU">
            <label class="form-check-label" for="su">sU</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" data-i18n-title="Ping Scan">
            <input class="form-check-input" type="radio" name="scanTechniques" id="sp" value="-sP">
            <label class="form-check-label" for="sp">sP</label>
        </div>
    </div>
</div>

<div class="my-2">
    <div align="center">
        <h6><b data-i18n="TCP/UDP discovery"></b></h6>
    </div>
    <div class="d-flex justify-content-between" id="p1Group">
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top"
        data-i18n-title="TCP ACK discovery to given ports">
            <input class="form-check-input" type="radio" name="portsDiscovery" id="pa" value="-PA">
            <label class="form-check-label" for="pa">PA</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top"
        data-i18n-title="TCP SYN discovery to given ports">
            <input class="form-check-input" type="radio" name="portsDiscovery" id="ps" value="-PS">
            <label class="form-check-label" for="ps">PS</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" data-i18n-title="UDP discovery to given ports">
            <input class="form-check-input" type="radio" name="portsDiscovery" id="pu" value="-PU">
            <label class="form-check-label" for="pu">PU</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" data-i18n-title="SCTP discovery to given ports">
            <input class="form-check-input" type="radio" name="portsDiscovery" id="py" value="-PY">
            <label class="form-check-label" for="py">PY</label>
        </div>
    </div>
</div>

<div class="my-2">
    <div align="center">
        <h6><b data-i18n="ICMP request discovery"></b></h6>
    </div>
    <div class="d-flex justify-content-between" id="p2Group">
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top"
        data-i18n-title="ICMP echo request discovery probes">
            <input class="form-check-input" type="radio" name="requestDiscovery" id="pe" value="-PE">
            <label class="form-check-label" for="pe">PE</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top"
        data-i18n-title="ICMP timestamp request discovery probes">
            <input class="form-check-input" type="radio" name="requestDiscovery" id="pp" value="-PP">
            <label class="form-check-label" for="pp">PP</label>
        </div>
        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top"
        data-i18n-title="ICMP netmask request discovery probes">
            <input class="form-check-input" type="radio" name="requestDiscovery" id="pm" value="-PM">
            <label class="form-check-label" for="pm">PM</label>
        </div>
    </div>
</div>

<div class="btn-group d-flex my-2" role="group">
    <input class="btn btn-outline-secondary w-50" name="reset_params" type="reset" data-i18n-value="Reset Params">
    <button type="button" class="btn btn-primary w-50" id="startScanSimpleBtn" onclick="
                        let params = {};

                        params['traceroute'] = document.getElementById('trace').checked;
                        params['serviceVersion'] = document.getElementById('service').checked;
                        params['stealthScan'] = document.getElementById('stealth').checked;
                        params['skipDiscovery'] = document.getElementById('pn').checked;

                        if (!params['scanTechniques']) { params['scanTechniques'] = ''; }
                        if (!params['portsDiscovery']) { params['portsDiscovery'] = ''; }
                        if (!params['requestDiscovery']) { params['requestDiscovery'] = ''; }

                        params['scanTechniques'] = '';
                        for (let eee of document.getElementById('p3Group').children) {
                            if (eee.children[0].checked)
                                params['scanTechniques'] = eee.children[0].value;
                        }

                        params['portsDiscovery'] = '';
                        for (let eee of document.getElementById('p1Group').children) {
                            if (eee.children[0].checked)
                                params['portsDiscovery'] = eee.children[0].value;
                        }

                        params['requestDiscovery'] = '';
                        for (let eee of document.getElementById('p2Group').children) {
                            if (eee.children[0].checked)
                                params['requestDiscovery'] = eee.children[0].value;
                        }
                        
                        params['targetPorts'] = document.getElementById('portsSelector').value;
                        if (params['targetPorts'] === undefined || params['targetPorts'] === '') {
                            params['targetPorts'] = '-sn';
                        }
                        if (params.targetPorts[0] != '-') {
                            params['targetPorts'] = '-p ' + params.targetPorts;
                        }

                        params['agent_id'] = getAgent();
                        params['interface'] = getIface().name;
                        params['interface_ip_id'] = getIface().ip_id;


                        let isTargetTabActive = document.getElementById('nmap-simple-tab').classList.contains('active');

                        if (isTargetTabActive) {
                                let ipPortPairs = [];
                                let onlyIp = []
                                let ipElements = document.getElementById('NmapInputContainer').getElementsByClassName('form-control ip');
                                let portElements = document.getElementById('NmapInputContainer').getElementsByClassName('form-control port');

                                for (let i = 0; i < ipElements.length; i++){
                                    if(ipElements[i].value && portElements[i].value){
                                        ipPortPairs.push({
                                            ip: ipElements[i].value,
                                            port: portElements[i].value
                                        })
                                    } else if (ipElements[i].value && !portElements[i].value) {
                                        onlyIp.push({
                                            ip: ipElements[i].value})
                                    }
                                }
                                let mainIp = document.getElementById('inputIP').value;
                                let mainPort = document.getElementById('inputPortNmap').value;
                                if (mainIp && mainPort) {
                                    ipPortPairs.push({
                                        ip: mainIp,
                                        port: mainPort
                                    });
                                } else if (mainIp && !mainPort) {
                                    onlyIp.push({
                                        ip: mainIp})
                                }
                                for (let pair of ipPortPairs) {
                                    let IpParams = {
                                        ...params,
                                        targetPorts: '-p ' + pair.port,
                                        targetIP: pair.ip
                                    };
                                fetch('/api/v1/task/nmap_scan_task', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify(IpParams)
                                }).then(response => {
                                    if (response.status !== 201) {
                                        response.json().then(data => {
                                            let errorMessage = data.detail[0].msg || 'Create task error';
                                            create_toast('Error', errorMessage, 'error');
                                        });
                                    } else {
                                        var myModal = bootstrap.Modal.getInstance(document.getElementById('nmapModalWindow'));
                                        if (myModal) {
                                            myModal.hide();
                                        }
                                    }
                                }).catch(error => {
                                    create_toast('Error', 'An error occurred while sending the request', 'error');
                                    console.error('Error:', error);
                                });
                            } for (let ips of onlyIp) {
                                    console.log('params:', params)
                                    let IpParams = {
                                        ...params,
                                        targetIP: ips.ip
                                    };
                                fetch('/api/v1/task/nmap_scan_task', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify(IpParams)
                                }).then(response => {
                                    if (response.status !== 201) {
                                        response.json().then(data => {
                                            let errorMessage = data.detail[0].msg || 'Create task error';
                                            create_toast('Error', errorMessage, 'error');
                                        });
                                    } else {
                                        var myModal = bootstrap.Modal.getInstance(document.getElementById('nmapModalWindow'));
                                        if (myModal) {
                                            myModal.hide();
                                        }
                                    }
                                }).catch(error => {
                                    create_toast('Error', 'An error occurred while sending the request', 'error');
                                    console.error('Error:', error);
                                });}
                        } else {
                            if (selectedScopeForNmap != '') {
                                params['targetIP'] = null;
                                params['scope_id'] = selectedScopeForNmap;

                                fetch('/api/v1/task/nmap_scan_task', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify(params)
                                }).then(response => {
                                    if (response.status !== 201) {
                                        response.json().then(data => {
                                            const errorMessage = data.detail[0].msg || 'Create task error';
                                            create_toast('Error', errorMessage, 'error');
                                        });
                                    } else {
                                        var myModal = bootstrap.Modal.getInstance(document.getElementById('nmapModalWindow'));
                                        if (myModal) {
                                            myModal.hide();
                                        }
                                    }
                                }).catch(error => {
                                    create_toast('Error', 'An error occurred while sending the request', 'error');
                                    console.error('Error:', error);
                                });
                            } else {
                                create_toast('Error', 'Please select a scope', 'error');
                                return;
                            }
                        }
                    " data-i18n="Start scan"></button>
</div>

<script>
    $('#portSwitch').on('change.bootstrapSwitch', function (e, data) {
        document.getElementById('portsSelector').disabled = !e.target.checked;
        document.getElementById('portsSelectorDiv').firstElementChild.firstElementChild.lastElementChild.disabled = !e.target.checked
    })
    function initializeNmapScripts() {
        $('#' + 'ipTarget').on('change', function (e, data) {
            if ($('#' + 'inputIP').inputmask('isComplete')) {
                document.getElementById('startScanSimpleBtn').disabled = false;
            } else {
                document.getElementById('startScanSimpleBtn').disabled = true;
            }
        });

        $('#' + 'portSwitch').on('change.bootstrapSwitch', function (e, data) {
            document.getElementById('portsSelector').disabled = !e.target.checked;
            document.getElementById('portsSelectorDiv').firstElementChild.firstElementChild.lastElementChild.disabled = !e.target.checked;
        });

    }
</script>
{% endmacro %}

{% macro nmap_xml() %}
<button class="btn btn-primary w-100" id="nmap-dropdownMenuButton2" onclick="
        let input = document.createElement('input');
        input.type = 'file';
        input.multiple = true;
        input.accept = '.xml'
        input.onchange = e => { 
            for (var file of e.target.files)
            {
                var reader = new FileReader();
                reader.onload = (function (file) {
                    return async function (e) {
                        iface = getIface()
                        data = {file: e.target.result, filename: file.name, interface_ip_id: iface.ip_id, ip: iface.ip, mac: iface.mac, agent_id: agentData.default_agent}
                        resp = await fetch('/api/v1/task/nmap_parse_task', {method: 'POST', 
                        headers: {
                                    'Content-Type': 'application/json',
                                },
                        body: JSON.stringify(data)});
                    }
                })(file)
                reader.onerror = (function (file){
                    return function (e){
                        create_toast('Error', `Not enough permissions. Check file owner`, 'error')
                    }
                })(file)
                reader.readAsDataURL(file);            
            }
        }
        input.click(); 
        var myModal = bootstrap.Modal.getInstance(document.getElementById('nmapModalWindow'));
        if (myModal) {
            myModal.hide();
        }" style="min-width: 310px;" data-i18n="Parse xml logs">
    
</button>
{% endmacro %}

{% macro nmap_full_script_modal() %}

<div id="nmapModalWindow" class="modal fade" tabindex="-1" aria-labelledby="nmapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nmapModalLabel">Nmap</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2" id="agent_interface_bar_nmap">
                    <div data-agent-bar="agent_nmap"></div>
                    <div data-interface-bar="interface_nmap" class="ms-3"></div>
                    <div id="scans_bar_nmap" class="ms-3"></div>
                </div>
                <div class="d-flex flex-column">
                    <div class="tab-content" id="dsa" style="padding-top: 7px;">
                        <div class="nav nav-tabs me-3 mb-3" id="nmap-tab" role="tablist">
                            <button class="nav-link active" id="nmap-simple-tab" data-bs-toggle="tab" data-bs-target="#nmap-simple-mode"
                                type="button" role="tab" aria-controls="nmap-simple-mode" aria-selected="true" data-i18n="Target"></button>
                            <button class="nav-link" id="nmap-scope-tab" data-bs-toggle="tab" data-bs-target="#nmap-scope-mode"
                                type="button" role="tab" aria-controls="nmap-scope-mode" aria-selected="false" data-i18n="Scope"></button>
                        </div>
                
                        <div class="tab-pane fade show active" id="nmap-simple-mode" role="tabpanel" aria-labelledby="nmap-simple-tab">
                            <form id="nmapScanSimpleForm" name="nmapScanSimpleFormName" class="needs-validation" novalidate>
                                {{ nmap_ip() }}
                        </div>
                
                        <div class="tab-pane fade" id="nmap-scope-mode" role="tabpanel" aria-labelledby="nmap-scope-tab">
                            <form id="nmapScanScopeForm" name="nmapScanScopeFormName" class="needs-validation" novalidate>
                                {{ nmap_scope() }}
                        </div>
                        {{ nmap_main() }}
                        </form>
                        {{ nmap_xml() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function nmap_full_modal_window() {
        var myModal = new bootstrap.Modal(document.getElementById('nmapModalWindow'));
        $('#nmapModalWindow').on('hidden.bs.modal', function () {
                $(this).find('form').trigger('reset');
                $(this).find('#NmapInputContainer').html('');
            });
            let portsSelector = document.getElementById('portsSelector');
            portsSelector.value = ''
            document.getElementById('portsScan').checked = false
            portsSelector.setAttribute('disabled', 'disabled')
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('nmapModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("nmapModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>

{% endmacro %}

{% macro nmap_script_modal_to_node() %}
<script>
    async function nmap_script_modal_to_node(node) {
        var myModal = new bootstrap.Modal(document.getElementById('nmapModalWindow'));

        let inputIP = document.getElementById('inputIP')
        params = { ip_id: node.id }
        ip = node.label
        inputIP.value = ip
        url_address = '/api/v1/vis/node_info/' + node.id
        resp = await fetch(url_address, { method: 'GET' })
        json = await resp.json()
        let portsSelector = document.getElementById('portsSelector');
        if (json.ports.length) {
            document.getElementById('portsScan').checked = true
            portsSelector.removeAttribute('disabled')
            portsSelector.value = Array.from(new Set(json.ports.map(item => item.port))).join(',');
        } else {
            portsSelector.value = ''
            document.getElementById('portsScan').checked = false
            portsSelector.setAttribute('disabled', 'disabled')
        };
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('nmapModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("nmapModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>

{% endmacro %}

{% macro nmap_script_modal_to_info_tabs() %}

<script>

    async function nmap_script_modal_to_info_tabs(rows) {
        var myModal = new bootstrap.Modal(document.getElementById('nmapModalWindow'));
        let portsSelector = document.getElementById('portsSelector');

        $('#nmapModalWindow').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
            $(this).find('#NmapInputContainer').html('');
        });
        
        if (rows.length > 0) {
            addNewNmapForm();
        }

        let inputForms = document.querySelectorAll('[id^="ipTarget"]');
        
        for (let row = 0; row < rows.length; row++) {
            let currentForm = inputForms[row] || addNewNmapForm();
            
            let inputIP = currentForm.querySelector('[id^="inputIP"]');
            let inputPort = currentForm.querySelector('[id^="inputPortNmap"]');
            
            if (inputIP && rows[row].ipaddr) {
                inputIP.value = rows[row].ipaddr;
            }
            
            if (inputPort && rows[row].port) {
                inputPort.value = rows[row].port;
            }
            
            if (row < rows.length - 1 && row >= inputForms.length - 1) {
                addNewNmapForm();
                inputForms = document.querySelectorAll('[id^="ipTarget"]');
            }
                // if (rows[row].port || rows[row].port != null){
                //     document.getElementById('portsScan').checked = true
                //     portsSelector.removeAttribute('disabled')
                //     portsSelector.value = Array.from(new Set(rows.map(row => row.port))).join(',');
                // }

        }
        
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('nmapModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("nmapModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}



{% macro show() %}
<div class="d-flex flex-column">
    <div class="tab-content" id="dsa" style="width: 400px; padding-top: 7px;">
        <div class="nav nav-tabs me-3 mb-3" id="nmap-tab" role="tablist">
            <button class="nav-link active" id="nmap-simple-tab" data-bs-toggle="tab" data-bs-target="#nmap-simple-mode"
                type="button" role="tab" aria-controls="nmap-simple-mode" aria-selected="true" data-i18n="Target"></button>
            <button class="nav-link" id="nmap-scope-tab" data-bs-toggle="tab" data-bs-target="#nmap-scope-mode"
                type="button" role="tab" aria-controls="nmap-scope-mode" aria-selected="false" data-i18n="Scope"></button>
        </div>

        <div class="tab-pane fade show active" id="nmap-simple-mode" role="tabpanel" aria-labelledby="nmap-simple-tab">
            <form id="nmapScanSimpleForm" name="nmapScanSimpleFormName" class="needs-validation" novalidate>
                {{ nmap_ip() }}
        </div>

        <div class="tab-pane fade" id="nmap-scope-mode" role="tabpanel" aria-labelledby="nmap-scope-tab">
            <form id="nmapScanScopeForm" name="nmapScanScopeFormName" class="needs-validation" novalidate>
                {{ nmap_scope() }}
        </div>
        {{ nmap_main() }}
        </form>
        {{ nmap_xml() }}
    </div>
</div>
{% endmacro %}