{% macro main_scapy(is_scapy_running) %}

        <div class="btn-group d-flex" role="group">
            <button type="button" id="start_scapy" class="btn btn-primary w-50" onclick="fetch('/api/v1/task/scapy_sniff_task', {
                method:'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({iface: getIface().name, 'agent_id': getAgent()})
                });var myModal = bootstrap.Modal.getInstance(document.getElementById('scapyModalWindow'));
        if (myModal) {
            myModal.hide();
        }" data-i18n="Start">
                </button>
        </div>

{% endmacro %}
{% macro parse_scapy() %}

        <button type="button" class="btn btn-primary w-100" id="scapy-dropdownMenuButton2" onclick="
                var input = document.createElement('input');
                input.type = 'file';
                input.multiple = true;
                input.accept = '.pcap'
                input.onchange = e => { 
                    for (var file of e.target.files)
                    {
                        var reader = new FileReader();
                        reader.onload = (function (file) {
                            return async function (e) {
                                data = {file: e.target.result, agent_id: agentData.default_agent}
                                resp = await fetch(
                                    '/api/v1/task/scapy_parse_task', {method: 'POST',
                                    headers: {
                                    'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify(data)});
                            }
                        })(file)
                        reader.onerror = (function (file){
                            return function (e){
                                create_toast('Error', `Not enough permissions. Check file owner`, 'error')
                            }
                        })(file)
                        reader.readAsDataURL(file);            
                    }
                }
                input.click(); var myModal = bootstrap.Modal.getInstance(document.getElementById('scapyModalWindow'));
        if (myModal) {
            myModal.hide();
        }" data-i18n="Parse pcap logs">
            
        </button>

{% endmacro %}

{% macro scapy_full_script_modal() %}

<div id="scapyModalWindow" class="modal fade" tabindex="-1" aria-labelledby="scapyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scapyModalLabel">Scapy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2" id="agent_interface_bar_scapy">
                    <div data-agent-bar="agent_scapy"></div>
                    <div data-interface-bar="interface_scapy" class="ms-3"></div>
                    <div id="scans_bar_scapy" class="ms-3"></div>
                </div>
                <form id="scapyScanSimpleForm" name="scapyScanSimpleFormName" class="needs-validation" novalidate>
                    <div class="tab-content" id="dsa" style="padding-top: 7px;">
                        <div class="tab-pane fade show active" id="scapy-simple-mode" role="tabpanel"
                            aria-labelledby="scapy-simple-tab">
                            {{ main_scapy(is_scapy_running) }}
                            <div style="margin-bottom: 1rem;"></div>
                            {{ parse_scapy() }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function scapy_full_modal_window() {
        var myModal = new bootstrap.Modal(document.getElementById('scapyModalWindow'));
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('scapyModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("scapyModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>
{% endmacro %}

{% macro show(is_scapy_running) %}
<div class="d-flex flex-column">
    <div class="py-2 bg-highlight">
        <h3>Scapy sniffing</h3>
        {{main_scapy(is_scapy_running) }}
    </div>
    <div class="py-2 bg-highlight">
        {{parse_scapy() }}
    </div>
</div>
{% endmacro %}