{% macro search_vulns_main() %}


<div class="p2 tab-content">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <form onsubmit="saveToken(event)" name="tokenSaveSearchVulnsFormName" id="tokenSaveFormSearchVulns" class="flex-column">
                    <label for="cpeNameInput" class="form-label" data-i18n="Token"></label>
                    <div class="mb-3 d-flex">
                        <input type="text" class="form-control me-2" name="token" required>
                        <button type="submit" class="btn btn-primary" data-i18n="Set"></button>
                    </div>
                </form>
            </div>
            <div class="row">
                <form onsubmit="findVulnerabilities(event)" name="tokenSearchSearchVulnsFormName" id="tokenSearchFormSearchVulns">
                    <div class="mb-3">
                        <label for="cpeNameInput" class="form-label" data-i18n="Query String"></label>
                        <input type="text" class="form-control" name="query" id="queryInput" required>
                    </div>
                    <button type="submit" class="btn btn-success" data-i18n="Search"></button>
                </form>
            </div>
            <button class="btn btn-primary mt-2" onclick="refreshCVE()" data-i18n="Refresh CVE"></button>
        </div>
        <div class="col-9 overflow-auto" style="max-height: 700px;">
            <h5>CVE's</h5>
            <h6 id="softName"></h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th >ID</th>
                        <th data-i18n="Description"></th>
                        <th data-i18n="Links"></th>
                    </tr>
                </thead>
                <tbody id="vulnsList">
                </tbody>
            </table>
        </div>

    </div>


</div>

<script>
    document.getElementById("tokenSaveFormSearchVulns").reset()
    document.getElementById("tokenSearchFormSearchVulns").reset()
    async function saveToken(event) {
        event.preventDefault()
        let data = new FormData(event.target)
        resp = await fetch("/api/v1/project/search_vulns_token", { method: 'PUT', 
        headers: {"Content-Type": "application/json",},
        body: JSON.stringify(Object.fromEntries(data)) })
        if (resp.status == 200) {
            create_toast('Success', 'Token was set', 'success')
        }
        else {
            create_toast('Error', 'Invalid token SearchVulns', 'error')
        }
    }

    async function findVulnerabilities(event) {
        event.preventDefault()
        let el = document.getElementById("vulnsList")
        let data = new FormData(event.target)
        params = new URLSearchParams()
        for (const [key, value] of data) {
            params.set(key, value)
        }
        resp = await fetch("/api/v1/vulnerability/search_vulns?" + params)
        data = await resp.json()

        if (resp.status == 500) {
            create_toast('Error', data.error, 'error')
            return
        }
        el.innerHTML = `<div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>`
        if (resp.status == 200) {
            let result = ""
            for (let [key, value] of Object.entries(data)) {
                document.getElementById("softName").innerHTML = `${key}. Latest version: ${value.version_status.latest}`
                for (let [k, v] of Object.entries(value.vulns)) {
                    result += `
                    <tr>
                        <td>${k}</td>
                        <td>${v.description}</td>
                        <td>`
                    if (v.exploits != undefined){
                        for (let link of v.exploits) {
                            result += `<p>
                            <a href="${link}">${link}</a>
                            </p>`
                        }
                    }
                    result += `</td></tr>`
                }
            }
            el.innerHTML = result
        } else {
            create_toast('Error', data.error, 'error')
        }


    }
    async function refreshCVE() {
        await fetch("/api/v1/task/refresh_cve", { method: "POST" })
    }
</script>
{% endmacro %}


{% macro search_vulns_full_script_modal() %}

<div id="searchVulnsModalWindow" class="modal fade" tabindex="-1" aria-labelledby="searchVulnsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchVulnsModalLabel">SearchVulns</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2" id="agent_interface_bar_searchvulns">
                    <div data-agent-bar="agent_searchvulns"></div>
                    <div data-interface-bar="interface_searchvulns" class="ms-3"></div>
                    <div id="scans_bar_searchvulns" class="ms-3"></div>
                </div>
                <div class="d-flex flex-column">
                    <div class="tab-content" id="dsa" style="padding-top: 7px;">
                        {{ search_vulns_main() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function search_vulns_full_modal_window() {
        var myModal = new bootstrap.Modal(document.getElementById('searchVulnsModalWindow'));
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('searchVulnsModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("searchVulnsModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>


{% endmacro %}






{% macro show() %}

{{ search_vulns_main() }}

{% endmacro %}