{% macro show() %}

<!--  style="-moz-appearance: textfield;" -->

<div id="v-pills-snmp">
    <div id="snmp" class="row">
        <div class="col-4">
            <form class="row g-3" onsubmit=startScan161udpPort(event) id="SnmpForm">
                <div class="col-md-10">
                    <div id="snmpInputContainer"></div>

                    <div class="dropdown w-100 mt-2">
                        <button class="btn btn dropdown-toggle w-100" style="--bs-btn-border-color:#d4d9de; --bs-btn-hover-border-color: #d4d9de; --bs-btn-active-border-color: #d4d9de" type="button" id="snmpIpPortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                          Select target
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1" id="dropdownMenuForIpPortData">
                        </ul>
                    </div>
                </div>

                <div class="col-md-10">
                    <label for="">Community strings dictionary (default if empty):</label>
                <form id='idChoiceDictCommunityStrings'>
                    <div class="mb-3">
                            <input class="form-control me-3" type="file" accept=".txt" id="fileFromSNMPbrute_cs">
                    </div>
                </form>
            </div>
                <div class="col-md-10">
                    <div class="btn-group d-flex my-2" role="group">
                        <button class="btn btn-danger w-50" type="button" onclick="reset_community_string_lst()">Reset</button>
                        <button class="btn btn-primary w-50" type="button" onclick="startScan()"> Start </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function reset_community_string_lst() {
        document.getElementById("fileFromSNMPbrute_cs").value = "";
    }

    async function startScan() {
        let target_ip = selectedIp;
        let target_port = selectedPort;
        let files = document.getElementById('fileFromSNMPbrute_cs').files;

        if (files.length) {
                var reader = new FileReader()
                reader.onload = (
                    function (file) {
                        return async function (e) {
                                data = {community_strings_file: e.target.result, target_ip: target_ip, target_port: target_port, agent_id: agentData.default_agent}
                                resp = await fetch('/api/v1/task/snmp_brute_communitystring_task', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)});
                            }
                    }
                ) (files[0])
                data = reader.readAsDataURL(files[0]);
            }
        else {
            data = {community_strings_file: "", target_ip: target_ip, target_port: target_port, agent_id: agentData.default_agent}
            await fetch('/api/v1/task/snmp_brute_communitystring_task', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)});
            }
    }

    let selectedIp = '';
    let selectedPort = '';
    function get_snmp_ip_port_list() {
    axios.get('/api/v1/resource/get_resources_for_snmp').then(resp => {
        const dropdownMenu = document.getElementById('dropdownMenuForIpPortData');
        const dropdownButton = document.getElementById('snmpIpPortDropdown');

        dropdownMenu.innerHTML = '';

        resp.data.forEach((item, index) => {
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.classList.add('dropdown-item');
            a.href = '#';
            a.textContent = `${item.ip}:${item.port}`;

            a.addEventListener('click', () => {
                dropdownButton.textContent = `${item.ip}:${item.port}`;
                selectedIp = item.ip;
                selectedPort = item.port;
            });

            li.appendChild(a);
            dropdownMenu.appendChild(li);
        });
    })
}

    get_snmp_ip_port_list();

</script>

{% endmacro %}