{% macro snmp_main() %}



<!--  style="-moz-appearance: textfield;" -->

<div id="v-pills-snmp">
    <div id="snmp" class="row">

            <form onsubmit=startScan161udpPort(event) name="SnmpFormName" id="SnmpForm">

                    <div id="snmpInputContainer"></div>

                    <div class="dropdown w-100 mt-2">
                        <button class="btn btn dropdown-toggle w-100" style="--bs-btn-border-color:#d4d9de; --bs-btn-hover-border-color: #d4d9de; --bs-btn-active-border-color: #d4d9de"
                         type="button" id="snmpIpPortDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="Select target">
                          
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1" id="dropdownMenuForIpPortData">
                        </ul>
                    </div>

                        <label class="mt-3" for="" data-i18n="Community strings dictionary (default if empty):"></label>
                    <form id='idChoiceDictCommunityStrings' name="ChoiceDictCommunityStringsFormName">
                        <div class="mb-3">
                                <input class="form-control me-3" type="file" accept=".txt" id="fileFromSNMPbrute_cs">
                        </div>
                    </form>
                    <div class="btn-group d-flex my-2" role="group">
                        <button class="btn btn-danger w-50" type="button" onclick="reset_community_string_lst()" data-i18n="Reset"></button>
                        <button class="btn btn-primary w-50" type="button" onclick="startScan()" data-i18n="Start"></button>
                    </div>
            </form>
    </div>
</div>

<script>
    function reset_community_string_lst() {
        document.getElementById("fileFromSNMPbrute_cs").value = "";
    }

    async function startScan() {
        let target_ip = selectedIp;
        let target_port = selectedPort;
        let files = document.getElementById('fileFromSNMPbrute_cs').files;

        if (files.length) {
                var reader = new FileReader()
                reader.onload = (
                    function (file) {
                        return async function (e) {
                                data = {community_strings_file: e.target.result, target_ip: target_ip, target_port: target_port, agent_id: agentData.default_agent}
                                resp = await fetch('/api/v1/task/snmp_brute_communitystring_task', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)});
                            }
                    }
                ) (files[0])
                data = reader.readAsDataURL(files[0]);
            }
        else {
            data = {community_strings_file: "", target_ip: target_ip, target_port: target_port, agent_id: agentData.default_agent}
            await fetch('/api/v1/task/snmp_brute_communitystring_task', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)});
            }
    }

    let selectedIp = '';
    let selectedPort = '';
    function get_snmp_ip_port_list() {
    axios.get('/api/v1/l4/get_resources_for_snmp').then(resp => {
        const dropdownMenu = document.getElementById('dropdownMenuForIpPortData');
        const dropdownButton = document.getElementById('snmpIpPortDropdown');

        dropdownMenu.innerHTML = '';

        resp.data.forEach((item, index) => {
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.classList.add('dropdown-item');
            a.href = '#';
            a.textContent = `${item.ip}:${item.port}`;

            a.addEventListener('click', () => {
                dropdownButton.textContent = `${item.ip}:${item.port}`;
                selectedIp = item.ip;
                selectedPort = item.port;
            });

            li.appendChild(a);
            dropdownMenu.appendChild(li);
        });
    })
}

    get_snmp_ip_port_list();

</script>
{% endmacro %}


{% macro snmp_full_script_modal() %}

<div id="snmpModalWindow" class="modal fade" tabindex="-1" aria-labelledby="snmpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="snmpModalLabel">Snmp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2" id="agent_interface_bar_snmp">
                    <div data-agent-bar="agent_snmp"></div>
                    <div data-interface-bar="interface_snmp" class="ms-3"></div>
                    <div id="scans_bar_snmp" class="ms-3"></div>
                </div>
                <div class="d-flex flex-column">
                    <div class="tab-content" id="dsa" style="padding-top: 7px;">
                        {{ snmp_main() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function snmp_full_modal_window() {
        var myModal = new bootstrap.Modal(document.getElementById('snmpModalWindow'));
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('snmpModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("snmpModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>

{% endmacro %}


{% macro show() %}

{{ snmp_main() }}

{% endmacro %}