{% macro tools(is_scapy_running) %}

<div id="main_bar" class="d-flex bd-highlight mb-3" style="height: auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="d-flex flex-column flex-shrink-0 p-3">
                    <h4 data-i18n="Tools"></h4>
                    <div class="nav flex-column nav-pills me-1" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree" data-i18n="Vulnerability">
                                        
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse show"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <button class="nav-link active" id="v-pills-acunetix-tab" data-bs-toggle="pill"
                                            data-bs-target="#v-pills-acunetix" type="button" role="tab"
                                            aria-controls="v-pills-acunetix" aria-selected="false"
                                            tabindex="-1">ACUNETIX</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-10">
                <div class="p2 tab-content w-100" id="v-pills-tabContent">
                    <div class="d-flex mb-2" id="agent_interface_bar" style="margin-left: -1rem">
                        <div data-agent-bar="agent_tools" class="ms-3"></div>
                        <div data-interface-bar="interface_tools" class="ms-3"></div>
                        <div id="scans_bar_tools" class="ms-3">
                        </div>
                    </div>

                    <div class="tab-pane fade col-3" id="v-pills-screenshoter" role="tabpanel"
                        aria-labelledby="v-pills-screenshoter-tab">
                        {% import 'network/screenshots.html' as screenshots%}
                        {{screenshots.show()}}
                    </div>
                    <div class="tab-pane fade show active" id="v-pills-acunetix" role="tabpanel"
                        aria-labelledby="v-pills-acunetix-tab">
                        <div class="row ms-1">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-acunetix-groups" type="button" role="tab"
                                        aria-controls="v-pills-acunetix-groups" aria-selected="false"
                                        id="acunetix_groups_pill" tabindex="-1" data-i18n="Groups"></button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-acunetix-targets" type="button" role="tab"
                                        aria-controls="v-pills-acunetix-targets" aria-selected="false"
                                        id="acunetix_targets_pill" tabindex="-1" data-i18n="Targets"></button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-acunetix-scans" id="acunetix_scans_pill" type="button"
                                        role="tab" aria-controls="" aria-selected="false" tabindex="-1" data-i18n="Scans"></button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-acunetix-reports" type="button" role="tab"
                                        aria-controls="" aria-selected="false" id="acunetix_reports_pill"
                                        tabindex="-1" data-i18n="Reports"></button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-acunetix-settings" type="button" role="tab"
                                        aria-controls="" aria-selected="false" onclick="refreshConfigsTable()"
                                        tabindex="-1" data-i18n="Settings"></button>
                                </li>
                            </ul>
                        </div>
                        <div class="p2 tab-content" id="v-pills-acunetixContent">
                            <div class="tab-pane fade" id="v-pills-acunetix-groups" role="tabpanel"
                                aria-labelledby="v-pills-acunetix-groups-tab">
                                {% import 'acunetix/groups.html' as acunetix_groups with context%}
                                {{acunetix_groups.show()}}
                            </div>
                            <div class="tab-pane fade" id="v-pills-acunetix-targets" role="tabpanel"
                                aria-labelledby="v-pills-acunetix-targets-tab">
                                {% import 'acunetix/targets.html' as acunetix_targets with context%}
                                {{acunetix_targets.show()}}
                            </div>

                            <div class="tab-pane fade" id="v-pills-acunetix-scans" role="tabpanel"
                                aria-labelledby="v-pills-acunetix-scans-tab">
                                {% import 'acunetix/scans.html' as acunetix_scans with context%}
                                {{acunetix_scans.show()}}
                            </div>

                            <div class="tab-pane fade" id="v-pills-acunetix-reports" role="tabpanel"
                                aria-labelledby="v-pills-acunetix-reports-tab">
                                {% import 'acunetix/reports.html' as acunetix_reports with context%}
                                {{acunetix_reports.show()}}
                            </div>

                            <div class="tab-pane fade" id="v-pills-acunetix-settings" role="tabpanel"
                                aria-labelledby="v-pills-acunetix-settings-tab">
                                {% import 'acunetix/settings.html' as acunetix_settings%}
                                {{acunetix_settings.show()}}
                            </div>
                            {% import 'acunetix/scan_modal.html' as acunetix_scan_modal with context%}
                            {{acunetix_scan_modal.show()}}

                            {% import 'acunetix/target_add_modal.html' as acunetix_target_modal%}
                            {{acunetix_target_modal.show()}}

                            {% import 'acunetix/target_proxy_modal.html' as acunetix_target_proxy_modal%}
                            {{acunetix_target_proxy_modal.show()}}

                            {% import 'acunetix/target_cookies_modal.html' as acunetix_target_cookies_modal%}
                            {{acunetix_target_cookies_modal.show()}}

                            {% import 'acunetix/target_headers_modal.html' as acunetix_target_headers_modal%}
                            {{acunetix_target_headers_modal.show()}}

                            {% import 'acunetix/report_modal.html' as acunetix_report_modal with context%}
                            {{acunetix_report_modal.show()}}

                            {% import 'acunetix/targets_import_csv_modal.html' as acunetix_targets_import_csv_modal%}
                            {{acunetix_targets_import_csv_modal.show()}}

                            {% import 'acunetix/set_group_targets_modal.html' as acunetix_set_group_targets_modal%}
                            {{acunetix_set_group_targets_modal.show()}}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-search-vulns" role="tabpanel"
                        aria-labelledby="v-pills-search-vulns-tab">
                        {% import 'network/search_vulns.html' as search_vulns %}
                        {{ search_vulns.show() }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="addScanModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" data-i18n="Adding scan"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form onsubmit="addScan(event)" name="addScanFormName">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="scanNameID" class="col-form-label" data-i18n="Scan name"></label>
                        <input type="text" class="form-control" id="scanNameID" name="name" required>
                      </div>
                      <div class="mb-3">
                        <label for="scanDescriptionID" class="col-form-label" data-i18n="Description"></label>
                        <input type="text" class="form-control" id="scanDescriptionID" name="description">
                      </div>                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeAddScanModalButton" data-i18n="Close"></button>
                    <button type="submit" class="btn btn-primary" data-i18n="Add"></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endmacro %}