{% extends 'base.html' %}
{% block title %}
Tools
{% endblock title %}
{% block scripts %}
<link href="/static/css/tabulator.min.css" rel="stylesheet" type="text/css" />
<script src="/static/js/tabulator.min.js" type="text/javascript"></script>
<script src="/static/js/vis-network.min.js"></script>
<script src="/static/js/canvas2svg.js"></script>
<script src="/static/js/jquery.inputmask.js" type="text/javascript"></script>


<script type="module">
    import Tags from "/static/js/tags.js";
    Tags.init('select')
</script>
<script>
    var message_sock = create_websocket(`/api/v1/project/ws`, '{{user_id}}')
</script>
{% endblock scripts %}
{% block content %}
<div class="container-fluid d-flex justify-content-between h-100 bd-highlight mb-3">
    <div class="p-2 w-100">
        {% from 'network/tools.html' import tools with context %}
        {{tools(is_scapy_running)}}
    </div>
</div>
{% endblock content %}