{%macro show()%}

<div class="modal fade" id="unionNetworkModal" tabindex="-1" aria-labelledby="unionNetworkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unionNetworkModalLabel" data-i18n="Union Netmask"></h5>
                {# <button id='node-cancelButton' type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button> #}
            </div>
            <form id='unionNetworkModalForm' name="unionFormName">
                <div class="modal-body">
                        <div class="input-group" style="padding-bottom: 0.5rem;" id="unionIpAndMaskInput">
                        <input type="text" style="width: auto;" class="form-control" id='unionNetmaskIp'
                            aria-label="NetmaskIp" aria-describedby="basic-addon1"
                            name="NetmaskIp" disabled>
                        <span class="input-group-text" style="width: auto;" id="basic-addon1" data-i18n="MASK"></span>
                        <input type="number" min="1" max="32" class="form-control" style="width: 5rem;" id='unionInputMask' placeholder="Mask" aria-label="Mask"
                            aria-describedby="basic-addon1" required name="Mask">
                    </div>
                    <!-- <div class="input-group" id="ipTarget">
                        <span class="input-group-text" id="basic-addon1">gateway</span>
                        <input type="text" list="IpList" class="form-control" id='inputIP'
                            placeholder="IP address or netmask" aria-label="IP" aria-describedby="basic-addon1" required
                            name="targetIP">
                    </div> -->
                    <div id="scrollableMaskList" style="max-height: 300px; overflow-y: auto;">
                        <ul id="networksMaskList"></ul> </div>
                </div>
                <div class="modal-footer">
                    <button id="changeMaskButton" type="button" class="btn btn-success me-auto" onclick="union_mask(network_mask_data, ip)" disabled data-i18n="Union"></button>
                    <button id="node-cancelButton" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal" data-i18n="Close"></button>
                    <button id="viewMaskButton" type="button" class="btn btn-primary" onclick="view_new_netmasks(network_mask_data, ip)" data-i18n="View"></button>

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function union_netmask_modal_window(network_mask_data, ip) {
        let [ipAddress, networkMask] = network_mask_data.split('/');
        var myModal = new bootstrap.Modal(document.getElementById('unionNetworkModal'));
        if (ipAddress || networkMask) {
            document.getElementById("unionNetmaskIp").value = "IP - " + ipAddress
            document.getElementById("unionInputMask").value = networkMask
        } 
        else {
            alert("Mask or Ip not found")
        }
        myModal.show();
        
    }
    async function union_mask(network_mask_data, ip) {
        let [ipAddress, networkMask] = network_mask_data.split('/');
        var new_mask = document.getElementById("unionInputMask").value
        var network = network_mask_data
        var ip_target = ip
        const requiredMask = document.getElementById('unionNetworkModalForm');
        if (Number(new_mask) < 0 || Number(new_mask) > Number(networkMask)){
            alert ("The mask value when union cannot be greater than the original one and cannot be less than 0")}
        else {

            await fetch('/api/task/network_merge', {method: 'POST', body: JSON.stringify({network, new_mask, ip_target})});
            get_nodes_and_edges()
            var myModal = bootstrap.Modal.getInstance(document.getElementById('unionNetworkModal'));
            if (myModal) {
                myModal.hide();
            }
            }
    }

    async function view_new_netmasks(network_mask_data, ip) {
    let [ipAddress, networkMask] = network_mask_data.split('/');
    var new_mask = document.getElementById("unionInputMask").value;
    var ip_target = ip;

    if (Number(new_mask) < 0 || Number(new_mask) > Number(networkMask)) {
        alert("The mask value when union cannot be greater than the original one and cannot be less than 0");
        return;
    }

    let params = new URLSearchParams({ ip_target, new_mask }).toString();
    let response = await fetch(`/api/task/get_merged_networks?${params}`, { method: 'GET' });

    if (!response.ok) {
        alert('Error receiving data');
        return;
    }

    let netlst = await response.json();

    const networksList = document.getElementById('networksMaskList');

    networksList.innerHTML = '';
    const p = document.createElement('p');
    p.textContent = "Network that will be union:"
    networksList.appendChild(p);
    netlst.forEach(item => {

        const li = document.createElement('li');
        li.textContent = item;
        networksList.appendChild(li);
    });
    document.getElementById('changeMaskButton').disabled = false;
}
</script>

{% endmacro %}