{% macro main_whois() %}

<div class="d-flex flex-column">
    <div class="tab-content" id="dsa">
        <form id="WhoisForm" name="WhoisFormName" class="needs-validation" novalidate>
            <div id="WhoisInputContainer"></div>
            <div class="input-group" style="padding-top: 7px;" id="TargetForWhois">
                <span class="input-group-text" id="basic-addon1" data-i18n="TARGET"> </span>
                <datalist id="DomainsAndIp"></datalist>
                <input type="text" list="DomainsAndIp" class="form-control" id='inputTARGET'
                    data-i18n-placeholder="Domain name or IP" aria-label="Target"
                    aria-describedby="basic-addon1" required name="Target">

                    <button id="add_new_whois_form" onclick="addNewWhoisForm()" type="button" class="btn btn-success" style="width: 3rem">+</button>
            </div>

            <div class="btn-group d-flex my-2" style="margin-top: 1rem;" role="group">
                <input class="btn btn-outline-secondary w-50" type="reset" data-i18n-value="Reset Params">
                <button type="button" class="btn btn-primary w-50" id="startScanWhoisBtn"
                    onclick="
                    const requiredWhois = document.getElementById('WhoisForm');
                        const params = {};
                        const domains_and_ips = [];
                        for (const d of document.getElementById('WhoisForm').getElementsByClassName('form-control')) {
                            domains_and_ips.push(d.value);
                        }
                        for (const domain_and_ip of domains_and_ips) {
                            let domainAndIpParams = {
                                target: domain_and_ip,
                                agent_id : getAgent()
                            }
                            fetch('/api/v1/task/whois_task', {
                            method: 'POST', 
                            headers: {
                                    'Content-Type': 'application/json',
                                },
                            body: JSON.stringify(domainAndIpParams)
                        })};var myModal = bootstrap.Modal.getInstance(document.getElementById('whoisModalWindow'));
                                    if (myModal) {
                                        myModal.hide();
                                    }" data-i18n="Start"></button>
            </div>
        </form>
    </div>
</div>
<script>
    function addNewWhoisForm() {
        const original = document.getElementById('TargetForWhois');
            const clone = original.cloneNode(true);
            const newInputTarget = clone.querySelector('[id^="inputTARGET"]');
            newInputTarget.id = 'inputTARGET_' + Date.now();
            const originalInputTarget = document.getElementById('inputTARGET');
            newInputTarget.value = originalInputTarget.value;
            originalInputTarget.value = ''

            let existingMinusButton = clone.querySelector('.btn-danger');
            if (existingMinusButton) {
                existingMinusButton.remove();
            }
        
            let removeButton = document.createElement('button');
            removeButton.textContent = '-';
            removeButton.type = 'button';
            removeButton.className = 'btn btn-danger';
            removeButton.style.width = '3rem';
            removeButton.onclick = () => {
                clone.remove();
            };
        
            clone.appendChild(removeButton);
        
            let addButton = clone.querySelector('#add_new_whois_form');
            if (addButton) {
                addButton.remove();
            }
        
            document.getElementById('WhoisInputContainer').appendChild(clone);
        }
</script>
{% endmacro %}

{% macro whois_full_modal() %}

<div id="whoisModalWindow" class="modal fade" tabindex="-1" aria-labelledby="whoisModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="whoisModalLabel">Whois</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2" id="agent_interface_bar_whois">
                    <div data-agent-bar="agent_whois"></div>
                    <div data-interface-bar="interface_whois" class="ms-3"></div>
                    <div id="scans_bar_whois" class="ms-3"></div>
                </div>
                <!-- <form id="whoisScanForm" class="needs-validation" style="padding-top: 7px;" novalidate> -->
                    {{ main_whois() }}
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>

<script>
    function whois_full_modal_window() {
        var myModal = new bootstrap.Modal(document.getElementById('whoisModalWindow'));
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('whoisModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("whoisModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>

{% endmacro %}

{% macro whois_script_modal_to_node() %}
<script>
    function whois_script_modal_to_node(ip) {
        var myModal = new bootstrap.Modal(document.getElementById('whoisModalWindow'));
        var inputIP = document.getElementById('inputTARGET')
        inputIP.value = ip
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('whoisModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("whoisModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>

{% endmacro %}
{% macro whois_script_modal_to_info_tabs() %}
<script>
    async function whois_script_modal_to_info_tabs(rows) {
        var myModal = new bootstrap.Modal(document.getElementById('whoisModalWindow'));        
        if (rows.length > 0) {
            addNewWhoisForm();
        }

        let inputForms = document.querySelectorAll('[id^="TargetForWhois"]');
        
        for (let row = 0; row < rows.length; row++) {
            let currentForm = inputForms[row] || addNewWhoisForm();
            
            let inputIP = currentForm.querySelector('[id^="inputTARGET"]');
            
            if (inputIP && rows[row].ipaddr) {
                inputIP.value = rows[row].ipaddr;
            } else if (inputIP && rows[row].domain){
                inputIP.value = rows[row].domain;
            }
            
            if (row < rows.length - 1 && row >= inputForms.length - 1) {
                addNewWhoisForm();
                inputForms = document.querySelectorAll('[id^="TargetForWhois"]');
            }
        }
        
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('whoisModalWindow'), {
            keyboard: false
        });

        document.querySelector(".btn-close").onclick = function () {
            myModal.hide();
        };

        window.onclick = function (event) {
            if (event.target === document.getElementById("whoisModalWindow")) {
                myModal.hide();
            }
        };
    });
</script>

{% endmacro %}




{% macro show() %}

{{ main_whois() }}

{% endmacro %}