cryptography==2.8
scapy==2.4.5
iptools==0.7.0
pandas==1.4.1
aiohttp_jinja2==1.5
SQLAlchemy==1.4.32
xmltodict==0.12.0
aiohttp==3.8.1
aiohttp_session==2.11.0
Jinja2==3.1.2
sqlalchemy_schemadisplay==1.3
aiojobs==1.0.0
