
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Setezor: Projects</title>
<link rel="icon" href="/static/assets/favicon.ico">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bootstrap-icons.css" />
<script src="/static/js/bootstrap.bundle.min.js" type="module"></script>
<script src="/static/js/plotly-2.29.1.min.js.js"></script>
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="/static/js/i18next.min.js"></script>
<script src="/static/js/translate_i18n.js"></script>
<script src="/static/js/donut.js" type="text/javascript"></script>
</head>
<body>
<header id="myHeader">
		<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
			<div class="container-fluid d-flex justify-content-between" style="--bs-gutter-x: 0.5rem;">
				<div class="bd-highlight" style="margin-left: 40px;">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item d-inline">
							<a class="navbar-brand"  href="/projects">
								<img src="/static/assets/logo.png" width="120px" height="auto"
									style="margin-left: 0.5rem; margin-bottom:0.2rem" />
							</a>
						</li>
					</ul>
				</div>
				<div class="d-flex align-items-center gap-2 ">
					{% if is_superuser %}
          <button class="btn btn-success" data-bs-toggle="modal" 
          onclick='document.getElementById("inviteToSetezorToken").value=""; document.getElementById("inviteToSetezorURL").value = "";'
          data-bs-target="#inviteToSetezorTokenModal" data-i18n="Invite to Setezor">
          </button>
            {% endif %}
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown" style="--bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C;"
                data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-translate"></i>
              <span id="currentLanguage">EN</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
              <li><a class="dropdown-item language-option" href="#" data-value="en">English</a></li>
              <li><a class="dropdown-item language-option" href="#" data-value="ru">Русский</a></li>
            </ul>
          </div>
          <a type="button" class="btn btn-outline-primary ms-auto" href="/admin_settings"
            style="--bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C;">
            <i class="bi bi-gear" data-i18n-title="Admin settings"></i>
          </a>
					<a type="button" class="btn btn-outline-primary ms-auto" href="https://help.setezor.net/?utm_source=public"
						target="_blank" style="--bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C;"
						data-testid="wiki_help">
						<i class="bi bi-book" style="font-family: 'Times New Roman', Times, serif" data-i18n-title="Wiki"></i>
					</a>
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
						data-bs-target="#aboutModal" style=" --bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C"
						data-testid="about_project">
						<i class="bi bi-question-circle" style="font-family: 'Times New Roman', Times, serif"
            data-i18n-title="About project"></i>
					</button>
					<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 data-i18n="About project"></h4>
								</div>
								<div class="modal-body">
									<div data-i18n="About Setezor text">
									</div>
									<div class="list-group">
										<a href="https://setezor.ru"
											class="list-group-item list-group-item-action list-group-item-success"
											target="_blank">Site</a>
										<a href="https://t.me/lmsecurity"
											class="list-group-item list-group-item-action list-group-item-primary"
											target="_blank">Telegram</a>
										<a href="https://github.com/lmsecure/Setezor"
											class="list-group-item list-group-item-action list-group-item-secondary"
											target="_blank">GitHub</a>
										<a href="https://hub.docker.com/r/lmsecure/setezor"
											class="list-group-item list-group-item-action list-group-item-danger"
											target="_blank">DockerHub</a>
									</div>
                  <hr>
									<div data-i18n="Donates" style="margin-top: 1rem; margin-bottom: 0.5rem; font-size: large;">
									</div>
                  <div class="list-group">
										<span>Bitcoin: </span>
											<div class="input-group mb-3">
												<input type="text" class="form-control" name="Bitcoin" value="bc1qa2evk7khm246lhvljy8ujqu7m9m88gt84am9rz" disabled>
												<button class="btn btn-outline-secondary" type="button" id="copyBitcoinBtn" data-i18n="Copy"></button>
											  </div>
										<span>Dash: </span>
											<div class="input-group mb-3">
												<input type="text" class="form-control" name="Dash" value="XoJ3pBDG6f5L6NwoqUqg7dpeT9MHKcNtwT" disabled>
												<button class="btn btn-outline-secondary" type="button" id="copyDashBtn" data-i18n="Copy"></button>
											  </div>
									</div>
								</div>
								<div class="modal-footer flex-row justify-content-between bd-highlight mb-3">
									<h6 data-i18n="SetezorVersion"></h6>
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal" data-i18n="Close"></button>
								</div>
							</div>
						</div>
					</div>

					<button class="btn btn-outline-danger" type="submit" onclick="logoutFromProfile()"
					style="margin-right: 0.5rem; --bs-btn-color: #54B49C; --bs-btn-border-color: #54B49C">
					<i class="bi bi-box-arrow-right" style="font-family: 'Times New Roman', Times, serif;"
						data-i18n-title="Logout"></i>
				</button>
				</div>
			</div>
			</div>
		</nav>

		<script>
      var levels = {info: "#0d6efd", error: "#dc3545", warning: "#ffc107",success:"#198754"};
      function create_toast(title, message, level="info", time="just now") {
        var toast_holder = document.getElementById("toast_holder")
        var toast = document.createElement("div")
        toast.classList.add("toast", "fade")
        toast.innerHTML = create_html_toast(title, message, time, levels[level])
        var toast_instance = new bootstrap.Toast(toast)
        toast_holder.prepend(toast)
        toast_instance.show()
    
        var notification_holder = document.getElementById("notifications_body")
        var notification_toast = document.createElement("div")
        notification_toast.classList.add("toast", "fade")
        notification_toast.innerHTML = create_html_toast(title, message, time, levels[level])
        notification_toast.setAttribute("data-bs-autohide",false)
        var notification_toast_instance = new bootstrap.Toast(notification_toast)
        notification_holder.prepend(notification_toast)
        notification_toast_instance.show()
    };
    function create_html_toast(title, message, time, level) {
        return `
                <div class="toast-header">
                    <svg width="25" height="25">
                        <rect fill=${level} y="3" width="20" height="20" rx="3" />
                    </svg>
                    <strong class="me-auto">${title}</strong>
                    <small class="text-muted">${time}</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    ${message}
                </div>`
    };
			const logoutFromProfile = async () => {
				await fetch('/api/v1/auth/logout_from_profile', { method: 'POST' }).then(response => {
					window.location.href = "/login"
				})
			}
		</script>
	</header>
<div class="modal fade" id="inviteToSetezorTokenModal" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="inviteToSetezorTokenModalLabel" data-i18n="Registration token"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form onsubmit="generateRegisterToken(event)" name="generateRegisterTokenFormName">
        <div class="modal-body">
          <div class="mb-3">
            <label for="inviteToSetezorCount" class="col-form-label" data-i18n="Person count"></label>
            <input type="number" id="inviteToSetezorCount" min="1" value="1" class="form-control" name="count">
            <label for="inviteToSetezorToken" class="col-form-label" data-i18n="Token"></label>
            <input type="text" class="form-control" name="invite_to_setezor_token" disabled id="inviteToSetezorToken">
            <label for="inviteToSetezorURL" class="col-form-label" data-i18n="Registration link"></label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="invite_to_setezor_url" id="inviteToSetezorURL" readonly>
              <button class="btn btn-outline-secondary" type="button" id="copyLinkBtn" data-i18n="Copy"></button>
            </div>
            <!-- <div class="mt-2">
                            <a href="#" id="inviteToSetezorURLLink" target="_blank">Open registration page</a>
                        </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="Close"></button>
          <button type="submit" class="btn btn-success" data-i18n="Create"></button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="particles-js" class="h-100"></div>
<div class="position-fixed top-0 end-0 pe-1" id="toastHolderParent" style="margin-top: 5px;">
  <div id="toast_holder"></div>
</div>
<div class="container">
    <h4 class="form-label" data-i18n="Choose project"></h4>

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
        {% if projects %}
        {% for items in projects %}
        <div class="col mb-3">
            {% import 'projects/project_card.html' as project_cards with context%}
            {{project_cards.show(items.project, items.analytics, items.role)}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="col mb-3">
            {% import 'projects/new_project_card.html' as new_project_card with context%}
            {{new_project_card.show()}}
        </div>
    </div>
</div>


<style>
  body {
  font-family: "Lato", sans-serif;
}
canvas {
  display: block;
  /* vertical-align: bottom; */
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: calc(100% - 58px);
  background-color: rgb(252, 252, 255);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
#content{
			padding-left: initial !important;
		}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: rgb(2, 144, 214);
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
/* .count-particles{
  -webkit-user-select: none;
} */

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
</style>
<script>
  particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 150,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#367278"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#367278",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 2,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});


/* ---- stats.js config ---- */

var count_particles, update;
count_particles = document.querySelector('.js-count-particles');
update = function() {
  requestAnimationFrame(update);
};
requestAnimationFrame(update);



async function generateRegisterToken(event) {
    event.preventDefault();
    let formdata = new FormData(event.target);
    
    try {
        let resp = await fetch("/api/v1/auth/generate_register_token", {
            method: "POST",
            body: JSON.stringify(Object.fromEntries(formdata)),
            headers: { "Content-type": "application/json" },
        });
        
        if (!resp.ok) throw new Error("Network response was not ok");
        
        let data = await resp.json();
        let tokenEl = document.getElementById("inviteToSetezorToken");
        let urlInput = document.getElementById("inviteToSetezorURL");
        // let urlLink = document.getElementById("inviteToSetezorURLLink");
        
        tokenEl.value = data.token;
        
        const baseUrl = window.location.origin;
        const registrationLink = `${baseUrl}/registration?token=${data.token}`;
        
        urlInput.value = registrationLink;
        // urlLink.href = registrationLink;
        
        document.getElementById("copyLinkBtn").addEventListener("click", function() {
            urlInput.select();
            document.execCommand("copy");
            this.classList.remove('btn-outline-secondary');
            this.classList.add('btn-outline-success');
        });
        
    } catch (error) {
        console.error("Error:", error);
        alert("Error generating token: " + error.message);
    }
}
document.addEventListener('DOMContentLoaded', function() {
    function handleCopy(event) {
        const button = event.target;
        const input = button.closest('.input-group').querySelector('input');
        
        navigator.clipboard.writeText(input.value)
            .then(() => {
                button.classList.remove('btn-outline-secondary');
                button.classList.add('btn-success');
                button.textContent = i18next.t('Copied!');
                
                setTimeout(() => {
                    button.classList.remove('btn-success');
                    button.classList.add('btn-outline-secondary');
                    button.textContent = i18next.t('Copy');
                }, 2000);
            })
            .catch(err => {
                console.error('Ошибка при копировании: ', err);
            });
    }
    
    document.getElementById('copyBitcoinBtn').addEventListener('click', handleCopy);
    document.getElementById('copyDashBtn').addEventListener('click', handleCopy);
});
</script>
<script defer src="static/js/update_language.js"></script>
</body>
</html>
{% endblock content %}