{% macro net_map(device_types) %}
<div class="btn-group" role="group">
    <button class="btn btn-primary" id="cluster_nodes" onclick="cluster_by_netmask(); 
            if (cluster) {
                this.textContent = 'Decluster'
            } else {
                this.textContent = 'Cluster'
            }">Cluster</button>
    <button class="btn btn-primary" id="full_screen_network" data-bs-toggle="tooltip" data-bs-toggle="top" title="Fullscreen mode" 
            onclick="fullscreen_network()"><i class="bi bi-arrows-fullscreen"></i></button>
    <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-toggle="top" title="Import from JSON"
            onclick="openFile()"><i class="bi bi-upload"></i></button>
    <input id="inp" type='file' style="display:none" onchange="readFile(event)"/>
    <div class="btn-group" role="group">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-download" data-bs-toggle="tooltip" data-bs-toggle="top" title="Export to"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#" onclick="export_to_svg()">SVG</a></li>
            <li><a class="dropdown-item" href="#" onclick="exportNetwork()">JSON</a></li>
            <li><a class="dropdown-item" href="#" onclick="exportToPNG()">PNG</a></li>
        </ul>
    </div>
    <button class="btn btn-primary" id="updateNetwork"  data-bs-toggle="tooltip" data-bs-toggle="top" title="Update network"
            onclick="get_nodes_and_edges(true);"><i class="bi bi-arrow-clockwise"></i></button>

</div>



<div id="edge-popUp" style="display: none;">
    <span id="edge-operation">Add Edge</span> <br>
    <table style="margin: auto">
    <tbody><tr>
        <td>label</td>
        <td><input id="edge-label" value="new value"></td>
    </tr>
    </tbody></table>
    <input type="button" value="save" id="edge-saveButton">
    <input type="button" value="cancel" id="edge-cancelButton">
</div>


<div id="netwrok_container" class="p-2 bd-highlight">
    <div id="network_topology">
        <div class="vis-network" style="position: relative; overflow: hidden; touch-action: pan-y; user-select: none; width: 100%; height: 100%;" tabindex="0">
            <canvas style="position: relative; touch-action: none; user-select: none; width: 100%; height: 100%;"></canvas>
        </div>
    </div>
</div>

<div class="dropdown xs" id="nodeDropdownMenu" style="display:none">
    <ul class="dropdown-menu" id="contextMenu" style="position: static;display: block">
        <li><a class="dropdown-item" href="#" id="deviceTypeDD" data-bs-toggle="dropdown" aria-expanded="false">Device type &raquo;</a>
            <ul class="dropdown-menu dropdown-submenu" aria-labelledby="deviceTypeDD">
                {% for device_type in device_types %}
                <li><a class="dropdown-item" href="#" onclick="set_device_type(this)" value="{{device_type.value}}">{{device_type.label}}</a></li>
                {% endfor %}
            </ul>
        </li> 
        <!-- <li><a class="dropdown-item" href="#" id="ScanDD" data-bs-toggle="dropdown" aria-expanded="false">Scan &raquo;</a>
            <ul class="dropdown-menu dropdown-submenu" aria-labelledby="ScanDD">
                <li><a class="dropdown-item disabled" href="#">Nmap</a></li>
                <li><a class="dropdown-item disabled" href="#">Scapy</a></li>
            </ul>
        </li> -->
    </ul>
</div>

<div id="ModalCreateNode">
</div>

<script>

    // disable default context menu
    document.onkeydown = keyboardDown;
    document.onkeyup = keyboardUp;
    document.oncontextmenu = function(e){
        var evt = new Object({keyCode:93});
        stopEvent(e);
        keyboardUp(evt);
    }
    function stopEvent(event){
        if(event.preventDefault != undefined)
            event.preventDefault();
        if(event.stopPropagation != undefined)
            event.stopPropagation();
    };
    function keyboardDown(e){
    };
    function keyboardUp(e){
    };
    var dd_div = $('#nodeDropdownMenu')
    dd_div.on('mouseleave', function() {
        dd_div.hide();
    });
    var cluster = false;
    var network;
    var networkData = {nodes: new vis.DataSet(), edges: new vis.DataSet()}
    function set_device_type (elem) {
        var value = elem.attributes.value.value
        var node_id = network.getSelectedNodes()[0]
        var request = ajax_and_toast('/api/object/', 'put', {ip_id: node_id, to_update: {object_type: value}}, 'Device type setted', 'info', `To node with id "${node_id}" set device type "${value}"`)
        networkData.nodes.update(ajax_request(`/api/ip/vis/${node_id}`, 'get').node)
    }
    function fullscreen_network () {
        var div_tools = document.getElementById("div_tools")
        var div_tools_options = document.getElementById("v-pills-tabContent")
        var div_network = document.getElementById("div_network")
        var netwrok_container = document.getElementById("netwrok_container")
        var network_topology = document.getElementById("network_topology")
        if (div_tools.style.display != "none" && div_tools_options.style.display != "none") {
            div_network.className = "bd-highlight w-100"
            div_tools.style.display = "none";
            div_tools_options.style.display = "none";
            netwrok_container.style.cssText = "position: relative;width: 100%;height: 100%;"
            network_topology.style.cssText = "position: relative;top: 0px;right: 0px;bottom: 0px;left: 0px;"
        } else {
            div_network.className = "p-2 bd-highlight"
            div_tools.style.display = '';
            div_tools_options.style.display = '';
            netwrok_container.style.cssText = ""
            netwrok_container.classList
            network_topology.style.cssText = "background-color: #ffffff;border: 1px solid lightgray;position: relative;float: left;"
        }
    }
    function get_nodes_and_edges (update=false) {
        var nodes = ajax_request('/api/ip/vis', 'get', async=true).nodes;
        var edges = ajax_request('/api/l3link/vis', 'get', async=true).edges;
        {% for col in table %}{% if col.editor_entity%}
        foriegnData{{col.field}} = getForiegnKeys("/api/{{col.editor_entity}}/all_short"){% endif %}{% endfor %}
        if (update == true) {
            nodes.forEach(elem => networkData.nodes.update(elem))
            edges.forEach(elem => networkData.edges.update(elem))
        }
        else {
            networkData.nodes.clear()
            networkData.edges.clear()
            networkData.nodes.add(nodes)
            networkData.edges.add(edges)
        }
    }
    function get_last_node_id() {
        if (networkData.nodes) {
            return networkData.nodes.max('id').id 
        }
        else {
            return 0
        }
            
    }
    function get_id_for_next_node() {
        return get_last_node_id() + 1
    }
    function create_group_for_node(label) {
        parts = label.split('.')
        if (parts.lenght == 4) {
            return parts.slice(0, -1).join('.')
        }
        else {
            return ''
        }
    }
    async function deleteNodeInDatabase(data, callback) {
        node = networkData.nodes.get(data.nodes[0])
        ip = node.label
        resp = await fetch('/api/object/delete_object', {method: 'DELETE', body: ip})
    }
    async function deleteEdgeInDatabase(data, callback) {
        edge = networkData.edges.get(data.edges[0])
        first = networkData.nodes.get(edge.from).label
        second = networkData.nodes.get(edge.to).label
        data = {first_ip: first, second_ip: second}
        resp = await fetch('/api/l3link/delete_edge', {method: 'DELETE', body: JSON.stringify(data)})
    }
    async function createEdgeInDatabase(data, callback) {
        nodes = networkData.nodes
        first = nodes.get(data.from).label
        second = nodes.get(data.to).label
        data = {first_ip: first, second_ip: second}
        resp = await fetch('/api/l3link/create_edge', {method: 'PUT', body: JSON.stringify(data)})
    }
    async function editNode(data, cancelAction, callback, create) {
        params = {ip_id: JSON.stringify(data.id)}
        url_address = '/api/pivot/node_info?' + new URLSearchParams(params)
        resp = await fetch(url_address, {method: 'GET'})
        json = await resp.json()
        if (json.ip) {
            document.getElementById("node-label").value = json.ip
        }
        if (json.mac) {
        document.getElementById("node-mac").value = json.mac
        }
        if (json.domain) {
        document.getElementById("node-domain").value = json.domain
        }
        if (json.os) {
        document.getElementById("node-os").value = json.os
        }
        if (json.vendor) {
        document.getElementById("node-vendor").value = json.vendor
        }
        document.getElementById("node-saveButton").onclick = saveNodeData.bind(
          this,
          data,
          callback,
          create
        );
        document.getElementById("node-cancelButton").onclick =
          cancelAction.bind(this, callback);
      }

      // Callback passed as parameter is ignored
      function clearNodePopUp() {
        document.getElementById("node-saveButton").onclick = null;
        document.getElementById("node-cancelButton").onclick = null;
        document.getElementById("node-popUp").style.display = "none";

        document.getElementById("node-label").value = ''
        document.getElementById("node-mac").value = ''
        document.getElementById("node-vendor").value = ''
        document.getElementById("node-domain").value = ''
        document.getElementById("node-os").value = ''
      }

      function cancelNodeEdit(callback) {
        clearNodePopUp();
        callback(null);
      }
    const nodes_data = {
                size: 50,
                scaling: {
                    min: 10,
                    max: 30,
                },
                font: {
                    size: 12,
                    face: "Tahoma",
                },
            }
    function saveNodeData(data, callback, create) {
        data.id = get_id_for_next_node();
        data.label = document.getElementById("node-label").value
        mac = document.getElementById("node-mac").value;
        if (mac) {
            data.mac = mac
        }
        os = document.getElementById("node-os").value;
        if (os) {
            data.os = os
        }
        else {
            data.os = null
        }
        vendor = document.getElementById("node-vendor").value;
        if (vendor) {
            data.vendor = vendor
        }
        else {
            data.vendor = null
        }
        domain = document.getElementById("node-domain").value;
        if (domain) {
            data.domain = domain
        }
        else {
            data.domain = null
        }
        data.value = 1
        data.shape = 'dot'
        data.group = create_group_for_node(data.label)
        modal.hide()
        clearNodePopUp();
        if (create) {
            prom = saveNodeInDatabase(data)
        }
        else {
            prom = editNodeInDatabase(data)
        }
        
        
        prom.then((response) => {
            if (response.status == 200) {
                obj_id = null
                response.json().then((value) => {
                    data.id = value.object_id
                    callback(data)
                    createNodeInformation(data.id)
                })
            }
        })
      }

    
    async function saveNodeInDatabase(data) {
        resp = await fetch('/api/object/create_object', {method: 'PUT', body: JSON.stringify(data)})
        return resp
    }

    async function editNodeInDatabase(data) {
        body = JSON.stringify(data)
        resp = await fetch('/api/object/update_object', {method: 'PUT', body: body})
        return resp
    }

      function saveEdgeData(data, callback) {
        if (typeof data.to === "object") data.to = data.to.id;
        if (typeof data.from === "object") data.from = data.from.id;
        data.label = '';
        createEdgeInDatabase(data, callback)
        callback(data);
      }
    function createCreateNodeModal(editing) {
        if (editing) {
            text = 'Editing node'
            action_button = 'Edit'
        }
        else {
            text = 'Add node info'
            action_button = 'Create'
        }
        
        var modal_elem = document.getElementById('ModalCreateNode')
        modal_elem.innerHTML = `<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">${text}</h5>
                        {# <button id='node-cancelButton' type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
                    </div>
                    <div class="modal-body">
                        <form id='createNodeModal'>
                            <div id="node-popUp" style="">
                                <table style="margin: auto">
                                <tbody>
                                    <tr>
                                        <td>ip</td>
                                        <td><input id="node-label" class="form-control" value="" required></td>
                                        <td id="invalid-ip" class="invalid-feedback">Please, type correct ip</td>
                                    </tr>
                                    <tr>
                                        <td>mac</td>
                                        <td><input id="node-mac" class="form-control" value="" required></td>
                                        <td id="invalid-mac" class="invalid-feedback">Please, type correct mac</td>
                                    </tr>
                                    <tr>
                                        <td>domain</td>
                                        <td><input id="node-domain" class="form-control" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>os</td>
                                        <td><input id="node-os" class="form-control" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>vendor</td>
                                        <td><input id="node-vendor" class="form-control" value=""></td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="node-cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="node-saveButton" type="button" class="btn btn-primary">${action_button}</button>
                    </div>
                </div>
            </div>
        </div>
        `
        var modal = new bootstrap.Modal(modal_elem.children[0])
        var maskMAC = new Inputmask("ip").mask(document.getElementById('node-label'))
        var maskMAC = new Inputmask("mac").mask(document.getElementById('node-mac'))
        return modal
    };

    redrawAll("network_topology", true);
    function redrawAll(elem_name, to_update_data) {
        var network_topology = document.getElementById("network_topology")
        var container = document.getElementById(elem_name);
        container.style.cssText = `height: 500px; width 1500px;background-color: #ffffff;border: 1px solid lightgray;position: relative;float: left;`
        var options = {
            nodes: nodes_data,
            edges: {
                color: { inherit: true },
                width: 0.15,
                smooth: {
                    type: "continuous",
                },
            },
            interaction: {
                hideEdgesOnDrag: true,
                tooltipDelay: 100,
                hover: true,
                navigationButtons: true,
                keyboard: true
            },
            physics: {
                stabilization: false,
                barnesHut: {
                    gravitationalConstant: -30000,
                    springConstant: 0.07,
                    springLength: 100,
                },
          },
          manipulation: {
            addNode: function (data, callback) {
              // filling in the popup DOM elements
              modal = createCreateNodeModal(false)
              modal.show()
              editNode(data, clearNodePopUp, callback, true);
              modal.hide()
            },
            editNode: function (data, callback) {
              // filling in the popup DOM elements
              modal = createCreateNodeModal(true)
              modal.show()
              editNode(data, cancelNodeEdit, callback, false);
              modal.hide()
            },
            addEdge: function (data, callback) {
                saveEdgeData(data, callback)
            },
            deleteNode: function (data, callback) {
                deleteNodeInDatabase(data, callback)
                callback(data)
            },
            deleteEdge: function (data, callback) {
                deleteEdgeInDatabase(data, callback)
                callback(data)
            },
            editEdge: {
              editWithoutDrag: function (data, callback) {
                document.getElementById("edge-operation").innerText =
                  "Edit Edge";
                saveEdgeData(data, callback);
              }
            },
          },
        };
        
        if (to_update_data == true) {
            get_nodes_and_edges()
        }
        network = new vis.Network(container, networkData, options);
        };
    network.on ("doubleClick", function (params) {
        if (params.nodes.length == 1) {
            if (network.isCluster(params.nodes[0]) == true) {
                network.openCluster(params.nodes[0]);
            } 
            else {
                network.moveTo({position: network.getPosition(params.nodes[0]), scale: 2})
            }
        }
    });
    network.on ("click", function (params) {
        if (params.nodes.length == 1) {
            createNodeInformation(params.nodes[0])
        }
    });
    function cluster_by_netmask() {
        if (cluster != true) {
            var unique_groups = [...new Set(networkData.nodes.map(item => item.group))];
            var cluster_options_by_data;
            for (var i = 0; i < unique_groups.length; i++) {
                var group = unique_groups[i]
                cluster_options_by_data = {
                    joinCondition: function (childOptions) {
                        return childOptions.group == group;
                    }, 
                    processProperties: function (
                        clusterOptions,
                        childNodes,
                        childEdges
                    ) {
                    var totalMass = 0;
                    for (var i = 0; i < childNodes.length; i++) {
                        totalMass += childNodes[i].mass;
                    }
                    clusterOptions.mass = 1;
                    return clusterOptions;
                    },
                    clusterNodeProperties: {
                        id: group,
                        borderWidth: 3,
                        shape: "dot",
                        label: group + ".0/24"
                    }
                }
                network.cluster(cluster_options_by_data)
            }
            cluster = true
        } else {
            for (const [key, node] of Object.entries(network.body.nodes)) {
                if (network.isCluster(key) == true) {
                    network.openCluster(key)
                }
            }
            cluster = false
        }
    };
    network.on('hoverNode', function(params) {
        network.selectNodes([params.node])
        createNodeInformation(params.node)
        // show_selected_node_ports(params.node)
    })
    network.on('oncontext', function(params) {
        if (network.getNodeAt(params.pointer.DOM) != undefined) {
            node_menu = document.getElementById('nodeDropdownMenu')
            node_menu.style.position = 'absolute'
            node_menu.style.top = `${params.event.clientY - 5}px`
            node_menu.style.left = `${params.event.clientX - 5}px`
            node_menu.style.zIndex = 1000
            $('#nodeDropdownMenu').show()
        };
    });
    function create_node_table(ports_data) {
        function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            };
        };
        function generateTable(table, data) {
            tbody = table.createTBody();
            for (let element of data) {
                let row = tbody.insertRow();
                for (key of element) {
                let cell = row.insertCell();
                let text = document.createTextNode(key);
                cell.appendChild(text);
                };
            };
        };
        let table = document.getElementById("node_info");
        generateTableHead(table, ports_data.headers);
        generateTable(table, ports_data.data);
    }
    function export_to_svg() {
        var networkContainer = network.body.container;
        var ctx = new C2S({width: networkContainer.clientWidth, height: networkContainer.clientWidth, embedImages: true});
        var canvasProto = network.canvas.__proto__;
        var currentGetContext = canvasProto.getContext;
        canvasProto.getContext = function()
        {
            return ctx;
        }
        var svgOptions = {
            nodes: {
                shapeProperties: {
                    interpolation: false //so images are not scaled svg will get full image
                },
                scaling: { label: { drawThreshold : 0} },
                font:{color:'#000000'}
            },
            edges: {
                scaling: { label: { drawThreshold : 0} }
            }
        };
        network.setOptions(svgOptions);
        network.redraw();
        canvasProto.getContext = currentGetContext;
        ctx.waitForComplete(function()
            {
                var svg = ctx.getSerializedSvg();
                showSvg(svg);
            });
    };
    function showSvg(svg)
    {
        var svgBlob = new Blob([svg], {type: 'image/svg+xml'});
        openBlob(svgBlob, "network.svg");
    }
    function openBlob(blob, fileName)
	  {
		if(window.navigator && window.navigator.msSaveOrOpenBlob)
        {

            //blobToDataURL(blob, function(dataurl){window.open(dataurl);});
            window.navigator.msSaveOrOpenBlob(blob,fileName);
        }
        else
        {
			var a = document.getElementById("blobLink");
			if(!a)
			{
				a = document.createElement("a");
				document.body.appendChild(a);
				a.setAttribute("id", "blobLink");
				a.style = "display: none";
			}
			var data = window.URL.createObjectURL(blob);
			a.href = data;
			a.download = fileName;
			a.click();
			setTimeout(function()
				{
				window.URL.revokeObjectURL(data);
				}
				, 100);
        }
    }
    function exportNetwork() {
        var nodes = []
        Object.values(network.body.nodes).forEach(element => nodes.push(element.options))
        var edges = []
        Object.values(network.body.edges).forEach(element => edges.push(element.options))
        var exportValue = JSON.stringify({data: {nodes: nodes, edges: edges}}, undefined, 4);
        download(exportValue, 'network.json', 'text/plain')
    }
    function importNetwork(inputValue) {
        var inputData = JSON.parse(inputValue);
        networkData.nodes.clear()
        networkData.edges.clear()
        networkData.nodes.add(inputData.data.nodes)
        networkData.edges.add(inputData.data.edges)
    }
    function download(content, fileName, contentType) {
        var a = document.createElement("a");
        if (contentType === 'image/png') {
            a.href = content
        } else {
            var file = new Blob([content], {type: contentType});
            a.href = URL.createObjectURL(file);
        }
        a.download = fileName;
        a.click();
    }
    function openFile() {
        document.getElementById('inp').click();
    }
    function readFile(e) {
        var file = e.target.files[0];
        if (!file) return;
        var reader = new FileReader();

    reader.onload = function(e) {
        importNetwork(e.target.result)
    }
        reader.readAsText(file)
    }
    function exportToPNG() {
        download(network.canvas.getContext().canvas.toDataURL(), 'network.png', 'image/png');
    }

    async function createNodeInformation(node_id) {
        if (Number.isInteger(node_id)) {
            params = {ip_id: JSON.stringify(node_id)}
            url_address = '/api/pivot/node_info?' + new URLSearchParams(params)
            resp = await fetch(url_address, {method: 'GET'})
            json = await resp.json()
            source_table = document.getElementById('div_node_info')
            html_text = `<div><h4>Node ${node_id}</h4></div>\n`
            table = '<table class="table table-bordered table-hover" style="min-width: 325px; max-width: 325px;">'
            
            if (json.ip != undefined) {
                table += `
                        <tr>
                            <td> ip </td>
                            <td> ${json.ip} </td>
                        </tr>`
            }
            if (json.domain != undefined) {
                table += `
                        <tr>
                            <td> domain </td>
                            <td> ${json.domain} </td>
                        </tr>`
            }
            if (json.mac != undefined) {
                table += `
                        <tr>
                            <td> mac </td>
                            <td> ${json.mac} </td>
                        </tr>`
            }
            if (json.os != undefined) {
                table += `
                        <tr>
                            <td> os </td>
                            <td> ${json.os} </td>
                        </tr>`
            }
            if (json.vendor != undefined) {
                table += `
                        <tr>
                            <td> vendor </td>
                            <td> ${json.vendor} </td>
                        </tr>`
            }
            table += '</table>\n'
            html_text += table
            if (json.ports) {
                html_ports = '<div><h4>Ports</h4>\n</div><table class="table table-bordered table-hover align-middle"">\n'
                html_ports += `
                        <tr>
                            <td> Number </td>
                            <td> Protocol </td>
                            <td> Soft </td>
                            <td> Product </td>
                        </tr>`
                    
                json.ports.forEach((port) => {
                    html_ports += `
                        <tr>
                            <td> ${port.number} </td>
                            <td> ${port.protocol} </td>
                            <td> ${port.name} </td>
                            <td> ${port.product} </td>
                        </tr>
                    `
                })
            html_ports += '</table>\n'
            html_text += html_ports
            }
            source_table.innerHTML = html_text
        }
        
    }
</script>
{% endmacro %}