{% extends "base.html" %}
{% block title %}
Project settings
{% endblock title %}
{% block scripts %}

{% endblock %}
{% block content %}
<link href="/static/css/tabulator.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/tabulator_bootstrap4.min.css" rel="stylesheet">
<script src="/static/js/tabulator.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.inputmask.js" type="text/javascript"></script>


<div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-row">
        <h2 class="p-2" style="margin-left: 2rem;" data-i18n="All Agents"></h2>
        <div style="margin-top: 0.69rem;">
            <a href="https://help.setezor.net/Settings.html?utm_source=public" target="_blank">
            <i class="bi bi-question-circle fs-3" style="font-family: 'Times New Roman', Times, serif"></i>
            </a>
        </div>
    </div>

    {% if role.name == "owner" or role.name == "executor" %}
    <div class="mt-3 ms-1" style="margin-right: 2rem;">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-i18n-title="create agent"
            onclick="fillPossibleAgents();   document.getElementById('agent-color').value = getRandomColor();" data-i18n="Connect agents" data-testid="connect-agents"></button>
    </div>
    {% endif %}
</div>

<div id="agent_table">
</div>
{% if role.name == 'owner' %}
<div class="d-flex flex-row justify-content-between mt-3">
    <div class="d-flex flex-row">
        <h2 class="p-2" style="margin-left: 2rem;" data-i18n="All Users"></h2>
    </div>
    <div class="mt-3 ms-1" style="margin-right: 2rem;">
        <button class="btn btn-success" 
        data-bs-toggle="modal" 
        onclick='document.getElementById("inviteToSetezorToken").value=""'
        data-bs-target="#inviteToProjectTokenModal" data-i18n="Invite to Project"></button>
    </div>
</div>
<div id="users_table" >
</div>
{% endif %}



<!--Creation agent modal window-->
<div class="modal fade" id="agentModal" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agentModalLabel" data-i18n="Connected agents"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="agentsInProjectConnected">
            </div>
            <div class="modal-footer">
                <button id="close-create-agent" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal" data-i18n="Close"></button>
                <button type="button" class="btn btn-primary" onclick="addAgentsToProject()" data-i18n="Save changes"></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editAgentInterfaces" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agentModalLabel" data-i18n="Add agent interfaces"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="interfaces_list_container">
                </div>
            </div>
            <div class="modal-footer">
                <button id="close-create-agent" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal" data-i18n="Close"></button>
                <button type="button" class="btn btn-primary" onclick="saveInterfaces()" data-i18n="Save changes"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editAgentInterfacesWhichDoesNotExist" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form onsubmit="saveSynthInterface(event)" name="saveSynthInterfaceFormName">
                <div class="modal-header">
                    <h5 class="modal-title" id="agentModalLabel" data-i18n="Agent is unreachable. You can create synthetic interface"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <label for="synthAgentInterfaceName" class="form-label" data-i18n="Interface name"></label>
                        <input class="form-control" type="text" id="synthAgentInterfaceName" required name="name">
                    </div>
                    <div class="mb-2">
                        <label for="synthAgentInterfaceIP" class="form-label" data-i18n="Interface ip"></label>
                        <input class="form-control" type="text" id="synthAgentInterfaceIP" required name="ip">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close-create-agent" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal" data-i18n="Close"></button>
                    <button type="submit" class="btn btn-primary" data-i18n="Save changes"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="inviteToProjectTokenModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="inviteToProjectTokenModalLabel" data-i18n="Invite to project token"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form onsubmit="generateInviteLink(event)" name="generateInviteLinkFormName">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inviteToProjectCount" class="col-form-label" data-i18n="Person count"></label>
                        <input type="number" id="inviteToProjectCount" min="1" value="1" class="form-control" name="count">
                        <label for="inviteToProjectToken" class="col-form-label" data-i18n="Token"></label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="invite_to_project_token" id="inviteToProjectToken" disabled>
                            <button class="btn btn-outline-secondary" type="button" id="inviteToProjectTokenButton" data-i18n="Copy"></button>
                        </div>
                        <label for="inviteToProjectURL" class="col-form-label" data-i18n="Link to enter the project"></label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="invite_to_project_url" id="inviteToProjectURL" readonly>
                            <button class="btn btn-outline-secondary" type="button" id="copyLinkProjectBtn" data-i18n="Copy"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close-create-agent" type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="Close"></button>
                    <button id="close-create-agent" type="submit" class="btn btn-success" data-i18n="Create"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .tabulator {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
}

.tabulator .tabulator-header {
    background-color: #007bff;
    font-weight: bold;
}

.tabulator .tabulator-row {
    background-color: white;
}

.tabulator .tabulator-row:nth-child(odd) {
    background-color: #f8f9fa;
}

.tabulator .tabulator-row:hover {
    background-color: #e9ecef;
}

.tabulator .tabulator-cell {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dee2e6;
}
</style>
<script>
    var message_sock = create_websocket(`/api/v1/project/ws`, '{{user_id}}')

    $(document).ready(function(){
            $('#agent-rest-url').inputmask({
                mask: 'https\\://9{1,3}.9{1,3}.9{1,3}.9{1,3}:9{1,5}',
                definitions: {
                    '9': {
                        validator: '[0-9]',
                        cardinality: 1
                    }
                },
                placeholder: ' ',
                clearIncomplete: true
            });
        });

    /* ip mask */
    var maskMAC = new Inputmask("ip").mask(document.getElementById('agent-ip'))
    /* Agent create callback */
    async function fillPossibleAgents() {
        let resp = await fetch("/api/v1/agents_in_project/settings/possible_agents")
        let agents = await resp.json()
        if (agents.length == 0){
            create_toast(
                'No agents available', 
                `There are no agents available in this project, please create an agent on this page <a href="/admin_settings" class="alert-link">Admin Settings</a>`, 
                'warning'
                );
            return
        }
        let agents_container = document.getElementById("agentsInProjectConnected")
        result = ``
        for (const agent of agents){
            result += `
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" 
                    id="agent_${agent.id}" agent_id=${agent.id}>
                    <label class="form-check-label" for="agent_${agent.id}">
                        ${agent.name} - ${agent.rest_url}
                    </label>
                </div>
            `
        }
        agents_container.innerHTML = result
        let myModal = new bootstrap.Modal(document.getElementById('agentModal'));
        myModal.show();
    }
    async function addAgentsToProject() {
        let el = document.getElementById("agentsInProjectConnected")
        let agents = new Object({agents: new Object()})
            for (const check of el.children){
                for (const elem of check.children){
                    if (elem.localName != "input"){
                        continue
                    }
                    agents.agents[elem.attributes.agent_id.nodeValue] = elem.checked
                }
            }
        resp = await fetch('/api/v1/agents_in_project/settings/possible_agents',
            {
                method: 'PATCH',
                body: JSON.stringify(agents),
                headers: {
                    'Content-Type': 'application/json',
                },
            }
        )
        if (resp.ok) {
            location.reload()
        }
        else {
            console.log(`Error on create agent, response status ${resp.status}`)
            close_button = document.getElementById('close-create-agent')
            close_button.click()
            text = await resp.text()
            create_toast('Error on create agent', text, 'error')
        }
    }
    async function saveInterfaces(){
        let el = document.getElementById("interfaces_list_container")
        let result = []
        for (const children of el.children){
            for (const sub_child of children.children){
                if (sub_child.tagName == "INPUT"){
                    if (sub_child.checked){
                        let new_interface = new Object()
                        new_interface.mac = sub_child.attributes.mac.value
                        new_interface.ip = sub_child.attributes.ip.value
                        new_interface.name = sub_child.attributes.name.value
                        result.push(new_interface)
                    }
                }
            }
        }
        let resp = await fetch(`/api/v1/agents_in_project/${currentAgent}/interfaces`,
        { method: 'PATCH',
        headers: {"Content-Type": "application/json",},
        body: JSON.stringify(result) 
        }
        )
        getAgentData().then((data) => {
            agentData = data
            fillAgentBar("agent_tools");
            fillAgentBar("agent_net_map");
            fillAgentBar("agent_nmap");
            fillAgentBar("agent_scapy");
            fillAgentBar("agent_masscan");
            fillAgentBar("agent_snmp");
            fillAgentBar("agent_domains");
            fillAgentBar("agent_cert");
            fillAgentBar("agent_whois");
            fillAgentBar("agent_acunetix");
            fillAgentBar("agent_screenshoter");
            fillAgentBar("agent_wappalyzer");
            fillAgentBar("agent_cpeguess");
            fillAgentBar("agent_searchvulns");
            getInterfaceData(agentData.default_agent).then((data) => {
                interfaceData = data
                fillInterfaceBar("interface_tools");
                fillInterfaceBar("interface_net_map");
                fillInterfaceBar("interface_nmap");
                fillInterfaceBar("interface_scapy");
                fillInterfaceBar("interface_masscan");
                fillInterfaceBar("interface_snmp");
                fillInterfaceBar("interface_domains");
                fillInterfaceBar("interface_cert");
                fillInterfaceBar("interface_whois");
                fillInterfaceBar("interface_acunetix");
                fillInterfaceBar("interface_screenshoter");
                fillInterfaceBar("interface_wappalyzer");
                fillInterfaceBar("interface_cpeguess");
                fillInterfaceBar("interface_searchvulns");
            })
        })
        $('#editAgentInterfaces').modal('hide');
    }
    async function saveSynthInterface(event){
        event.preventDefault()
        let data = new FormData(event.target)
        let new_interface = new Object()
        data.forEach(function(value, key){
            new_interface[key] = value;
        });
        new_interface.mac=''
        let result = [new_interface]
        let resp = await fetch(`/api/v1/agents/${currentAgent}/interfaces`,
        { method: 'PATCH',
        headers: {"Content-Type": "application/json",},
        body: JSON.stringify(result) 
        }
        )
        $('#editAgentInterfacesWhichDoesNotExist').modal('hide');
    }
</script>

<script>
    async function generateInviteLink(event){
        event.preventDefault()
        let formdata = new FormData(event.target)
        let resp = await fetch("/api/v1/project/generate_invite_link",{
            method: "POST",
            body: JSON.stringify(Object.fromEntries(formdata)),
            headers: { "Content-type": "application/json" },})
            let data = await resp.json()
            let tokenEl = document.getElementById("inviteToProjectToken")
            tokenEl.value = data.token

            let urlInput = document.getElementById("inviteToProjectURL");
            // let urlLink = document.getElementById("inviteToSetezorURLLink");
            
            tokenEl.value = data.token;
            
            const baseUrl = window.location.origin;
            const registrationLink = `${baseUrl}/projects?token=${data.token}`;
            
            urlInput.value = registrationLink;      
    }
    document.addEventListener('DOMContentLoaded', function() {
            function handleCopy(event) {
                const button = event.target;
                const input = button.closest('.input-group').querySelector('input');
                
                navigator.clipboard.writeText(input.value)
                    .then(() => {
                        button.classList.remove('btn-outline-secondary');
                        button.classList.add('btn-success');
                        button.textContent = i18next.t('Copied!');
                        
                        setTimeout(() => {
                            button.classList.remove('btn-success');
                            button.classList.add('btn-outline-secondary');
                            button.textContent = i18next.t('Copy');
                        }, 2000);
                    })
                    .catch(err => {
                        console.error('Ошибка при копировании: ', err);
                    });
            }
            
                document.getElementById('inviteToProjectTokenButton').addEventListener('click', handleCopy);
                document.getElementById('copyLinkProjectBtn').addEventListener('click', handleCopy);
        });
</script>

<script>

    var headerMenu = function () {
        var menu = [];
        var columns = this.getColumns();
        for (let column of columns) {
            if (column.getDefinition().field) {
                let icon = document.createElement("i");
                icon.classList.add("bi");
                icon.classList.add(column.isVisible() ? "bi-check-square" : "bi-square");
                let label = document.createElement("span");
                let title = document.createElement("span");
                title.textContent = " " + column.getDefinition().title;
                label.appendChild(icon);
                label.appendChild(title);
                menu.push({
                    label: label,
                    action: function (e) {
                        e.stopPropagation();
                        column.toggle();
                        if (column.isVisible()) {
                            icon.classList.remove("bi-square");
                            icon.classList.add("bi-check-square");
                        } else {
                            icon.classList.remove("bi-check-square");
                            icon.classList.add("bi-square");
                        }
                        { { tab.name } } _table.redraw()
                    }
                });
            }
        }
        return menu;
    }

    /* color functions */
    function getRandomColor() {
    const letters = '0123456789ABCDEF';
    let color = '#';
    for (let i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }



    function hexToRgb(hex) {
        result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }

    function componentToHex(color) {
        hex = color.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }
    function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    /* change color callback */
    async function changeAgentData(agent_id) {
        element = document.getElementById(`agent-${agent_id}`)
        value = element.value
        body = { color: value }
        resp = await fetch(
            '/api/v1/agents_in_project/' + agent_id + '/update_color', 
            { method: 'PATCH',
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(body) })
        if (resp.ok) {
            console.log(`Agent ${agent_id} successfully updated with color <${JSON.stringify(value)}>`)
        }
        else {
            console.log(`Can not update agent ${agent_id} with value ${field}: <${value}>`)
        }
    }

    /* color input creater */
    function formatColor(cell, formatterParams, onRendered) {
        agent_id = cell.getRow().getData().id
        value = cell.getValue()
        return `<input id="agent-${agent_id}" name="agent-${agent_id}" type="color" value="${value}" onchange="changeAgentData('${agent_id}')"/>`; //return the contents of the cell;
    }

    /* default cell edit callback */
    async function editCell(cell) {
        agent_id = cell.getRow().getCells()[0].getValue()
        value = cell.getValue()
        field = cell.getField()
        body = { id: agent_id, field: field, value: value }
        resp = await fetch('/api/agent/update', { method: 'put', body: JSON.stringify(body) })
        text = await resp.text()
        if (resp.ok) {
            console.log(`Agent ${agent_id} successfuly updated with value ${field}: <${value}>`)
        }
        else {
            console.log(`Can not update agent ${agent_id} with value ${field}: <${value}>`)
            create_toast('Error on edit cell', text, 'error')
            cell.restoreOldValue();
        }
    }

    let currentAgent = 0
    function configureAgentFormatter(cell) {
        let agent_id = cell.getRow().getData().id
        if (cell.getRow().getData().parent_agent_name == ""){
            return ''
        }
        if (cell.getRow().getData().rest_url == ""){
            return ''
        }
        return `<div class="d-flex justify-content-start align-items-center">
                    <div class="btn btn-primary btn-sm" onclick="currentAgent='${agent_id}';getAgentInterfaces(currentAgent)">
                        ${i18next.t('Configure interfaces')}
                    </div>
                </div>`
    }
    let currentAgentInterfaces = []
    async function getAgentInterfaces(id) {
        currentAgentInterfaces = []
        resp = await fetch(`/api/v1/agents_in_project/${id}/remote_interfaces`)
        if (resp.ok) {
            data = await resp.json()
            if (data.length == 0){
                $('#editAgentInterfacesWhichDoesNotExist').modal('show');
            }else{
                currentAgentInterfaces = data
                fillInterfacesTable()
                $('#editAgentInterfaces').modal('show');
            }
        }
    }
    async function connectAgent(id) {
        resp = await fetch(`/api/v1/agents/${id}/connect`, {method:"POST"})
    }
    function fillInterfacesTable(){
        let el = document.getElementById("interfaces_list_container")
        let result = ``
        for (const [index, interface] of currentAgentInterfaces.entries()){
            let checkboxId = `interface-checkbox-${index}`;
            result += `
                <div class="form-check" style="margin-bottom:-1rem">
                    <input id="${checkboxId}" class="form-check-input" type="checkbox" mac="${interface.mac}" ip="${interface.ip}" name="${interface.name}">
                    <label for="${checkboxId}"><pre style="font-size:1.05rem" class="form-check-label">${interface.ip != null ? interface.ip.padEnd(18):""}${interface.name}</pre></label>
                </div>
            `
        }
        el.innerHTML = result
    }

    /* delete row callback */
    async function delteRowCallback(element) {
        attributes = element.attributes
        agent_id = attributes['agent_id'].value
        row_id = attributes['row_id'].value
        body = JSON.stringify({ id: agent_id })
        resp = await fetch(`/api/agent/`, { method: 'delete', body: body })
        if (resp.ok) {
            agent_table.getRow(row_id).delete()
            console.log(`Successfuly delete agent ${agent_id}`)
        }
        else {
            console.log(`Error on deleting agent ${agent_id}`)
        }
    }

    var agent_table = new Tabulator('#agent_table', {
        layout: "fitColumns",
        ajaxURL: "/api/v1/agents_in_project/settings",
        selectable: false,
        sortMode: "remote",
        filterMode: "remote",
        pagination: true,
        paginationMode: "local",
        paginationSize: 10,
        paginationInitialPage: 1,
        paginationSizeSelector: [5, 10, 25, 50, 100],
        columns: [
            { title: 'ID', field: 'id', headerMenu: headerMenu },
            { title: 'NAME', field: 'name', headerMenu: headerMenu },
            { title: 'DESCRIPTION', field: 'description', headerMenu: headerMenu },
            { title: 'PARENT_AGENT', field: 'parent_agent_name', headerMenu: headerMenu },
            { title: 'URL', field: 'rest_url', headerMenu: headerMenu },
            { title: 'COLOR', field: 'color', headerMenu: headerMenu, editor: true, formatter: formatColor },
            { title: 'CONFIGURE', field: 'configure', headerMenu: headerMenu, formatter: configureAgentFormatter }

        ]
    }
    )
    {% if role.name == 'owner' %}
    let rolesDict = undefined
    function getRolesDict(){
        axios.get("/api/v1/roles").then(resp =>{
            rolesDict = resp.data
        })
    }
    getRolesDict()
    async function changeRole(event, user_id){
        axios.patch('/api/v1/user_project/change_role', {user_id: user_id, role_id: event.target.value})
    }
    function formatRoles(cell, formatterParams, onRendered) {
        let current_role_id = cell.getRow().getData().role_id
        let result = `<select class="form-select" onchange="changeRole(event, '${cell.getRow().getData().id}')">`
        for (const role of rolesDict){
            if (current_role_id == role.id){
                result += `<option value="${role.id}" selected>${role.name}</option>`
            }else{
                result += `<option value="${role.id}">${role.name}</option>`
            }
        }
                        
        result +=  `</select>`
        return result;
    }
    var users_table = new Tabulator('#users_table', {
        layout: "fitColumns",
        ajaxURL: "/api/v1/user_project",
        selectable: false,
        sortMode: "remote",
        filterMode: "remote",
        pagination: true,
        paginationMode: "local",
        paginationSize: 10,
        paginationInitialPage: 1,
        paginationSizeSelector: [5, 10, 25, 50, 100],
        columns: [
            { title: 'ID', field: 'id', headerMenu: headerMenu },
            { title: 'LOGIN', field: 'login', headerMenu: headerMenu },
            { title: 'ROLE', field: 'role', headerMenu: headerMenu, formatter: formatRoles},
        ]
    })
    {% endif %}
</script>

{% endblock content %}