{% macro show() %}
<div class="p-3">
    <button class="btn btn-primary mt-1" id="updateGroups" data-bs-toggle="tooltip" data-bs-toggle="top"
        title="Update groups" onclick="groups_table.dataLoader.reloadData()"><i
            class="bi bi-arrow-clockwise"></i></button>
    <div class="d-flex flex-column mt-2">
        <div class="d-flex">
            <div>
                <div id="groups_table">
                </div>
            </div>
            <div class="ms-1">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addGroup"
                    onclick="document.getElementById('groupAddForm').reset();
                    fillAcunetixInstances('acunetix_instance_group_add','acunetixTargetGroupAdd')" data-i18n="Add Group"></button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="addGroup" tabindex="-1" aria-labelledby="addGroupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGroupLabel" data-i18n="Adding group"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="add_group(event)" name="groupAddFormName" id="groupAddForm">
                <div class="modal-body">
                    <div id="acunetix_instance_group_add">

                    </div>
                    <input type="text" class="form-control mt-1" name="name" required data-i18n-placeholder="Group Name">
                    <input type="text" class="form-control mt-1" name="description" data-i18n-placeholder="Description">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancel_adding"
                        data-bs-dismiss="modal" data-i18n="Close"></button>
                    <button type="submit" class="btn btn-success" data-i18n="Add"></button>
                </div>
            </form>

        </div>
    </div>
</div>


<link href="/static/css/tabulator.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/tabulator_bootstrap4.min.css" rel="stylesheet">
<script src="/static/js/tabulator.min.js" type="text/javascript"></script>
<script>
    var headerMenu = function () {
        var menu = [];
        var columns = this.getColumns();
        for (let column of columns) {
            if (column.getDefinition().field) {
                let icon = document.createElement("i");
                icon.classList.add("bi");
                icon.classList.add(column.isVisible() ? "bi-check-square" : "bi-square");
                let label = document.createElement("span");
                let title = document.createElement("span");
                title.textContent = " " + column.getDefinition().title;
                label.appendChild(icon);
                label.appendChild(title);
                menu.push({
                    label: label,
                    action: function (e) {
                        e.stopPropagation();
                        column.toggle();
                        if (column.isVisible()) {
                            icon.classList.remove("bi-square");
                            icon.classList.add("bi-check-square");
                        } else {
                            icon.classList.remove("bi-check-square");
                            icon.classList.add("bi-square");
                        }
                        { { groups_tab.name } } _table.redraw()
                    }
                });
            }
        }
        return menu;
    }

    async function fillAcunetixInstances(acunetix_id, groups_id){
        resp = await fetch("/api/v1/acunetix/config")
        data = await resp.json()
        result = `<select name='acunetix_id' required onchange='fillGroups(event, "${groups_id}")' class='form-select'>
            <option value=''>${i18next.t('Acunetix Name')}</option>`
        for (const instance of data){
            result += `<option value='${instance.id}'>${instance.name}</option>`
        }
        result += "</select>"
        document.getElementById(acunetix_id).innerHTML = result;
        document.getElementById(groups_id).innerHTML="";
    }

    function groups_buttons_formatter(cell, formatterParams, onRendered) {
        return `
        <div class="row d-flex flex-column">
            <div class="col">
                <button class='btn btn-primary btn-sm' id="{{groups_tab.name}}-scan-${cell.getRow().getData().group_id}" 
                        data-bs-toggle="modal" data-bs-target="#addScan"
                        onclick="document.getElementById('scanAddForm').reset();
                        document.getElementById('acunetix_scan_target_id').value='';
                        document.getElementById('acunetix_scan_target_db_id').value='';
                        document.getElementById('acunetix_scan_interval_div').style.display='';
                        document.getElementById('scan_interval').required = true;
                        document.getElementById('acunetix_scan_ports').style.display='none';
                        fillAcunetixScanSpeeds();
                        fillAcunetixScanProfiles();
                        currentAcunetixName='${cell.getRow().getData().acunetix_id}';
                        document.getElementById('acunetix_scan_group_id').value='${cell.getRow().getData().group_id}'">${i18next.t('Scan')}</button>
                        <button class='btn btn-secondary btn-sm' id="{{groups_tab.name}}-target-${cell.getRow().getData().group_id}"
                        onclick="currentAcunetixName='${cell.getRow().getData().acunetix_id}';
                        getGroupTargets('${cell.getRow().getData().group_id}')"
                        data-bs-toggle="modal" data-bs-target="#setGroupTargetsModal">${i18next.t('Edit membership')}</button>
                        
            </div>
            <div class="col mt-1">
                <button class="btn btn-warning btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#setProxy" onclick="document.getElementById('setProxyForm').reset();
                currentAcunetixName='${cell.getRow().getData().acunetix_id}';
                document.getElementById('acunetix_proxy_group_id').value='${cell.getRow().getData().group_id}';
                document.getElementById('acunetix_proxy_target_id').value=''">${i18next.t('Set Proxy')}</button>
            </div>
        </div>`;
    }
    var groups_table = new Tabulator('#groups_table', {
        layout: "fitData",
        ajaxURL: "{{groups_tab.base_url}}",
        selectable: false,
        sortMode: "remote",
        filterMode: "remote",
        pagination: true,
        paginationMode: "local",
        paginationSize: 5,
        paginationInitialPage: 1,
        paginationSizeSelector: [5, 10, 25, 50, 100],
        columns: [
            {% for col in groups_tab.columns %}
        {{ '{'}}title: "{{col.title}}", field: "{{col.field}}",
        {% if col.headerSort == False %}
    headerSort: false,
        {% endif %}
    headerMenu: headerMenu},
    {% endfor %}
    { title: "Actions", formatter: groups_buttons_formatter, headerSort: false }
    
        ]
}
)
    groups_table.on("dataLoadError",function (error){
        document.getElementById("acunetix_groups_pill").style.display = 'none';
    })
    async function add_group(event) {
        event.preventDefault();
        let payload = new FormData(event.target);
        let params = (new URLSearchParams({acunetix_id:payload.get("acunetix_id")})).toString()
        payload.delete("acunetix_id")
        resp = await fetch('/api/v1/acunetix/groups?'+ params, 
        { method: 'post', 
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(Object.fromEntries(payload)) 
    })
        if (resp.status === 201) {
            document.getElementById("cancel_adding").click();
            groups_table.dataLoader.reloadData();
        }
    }

</script>
{% endmacro %}