{% macro show()%}
<div class="modal fade" id="setGroupTargetsModal" tabindex="-1" aria-labelledby="createReportLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addScanLabel">Editing membership</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-5">
                            <h4>Current groups</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Address</th>
                                    </tr>
                                </thead>
                                <tbody id="currentGroupTargets">

                                </tbody>
                            </table>
                        </div>
                        <div class="col-2">
                            <div class="row mt-5">
                                <button class="btn btn-success mb-1" onclick="addTargets()">&larr; Add</button>
                                <button class="btn btn-danger mt-1" onclick="removeTargets()">Remove &rarr;</button>
                            </div>
                        </div>
                        <div class="col-5">
                            <h4>Remaining groups</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Address</th>
                                    </tr>
                                </thead>
                                <tbody id="allGroupTargets">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancel_editing_membership"
                    data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" onclick="saveGroupTargets()">Save</button>
            </div>

        </div>
    </div>
</div>
<script>
    let currentGroupTargetsMap = new Map();
    let notCurrentGroupTargetsMap = new Map();
    let currentGroupIDForEditingMembership = "";
    async function getGroupTargets(id) {
        currentGroupIDForEditingMembership = id;
        document.getElementById("currentGroupTargets").innerHTML = "";
        document.getElementById("allGroupTargets").innerHTML = "";
        currentGroupTargetsMap = new Map();
        notCurrentGroupTargetsMap = new Map();
        let currentTargetsResp = await fetch(`/api/v1/acunetix/groups/${id}/targets?acunetix_id=${currentAcunetixName}`, { method: "get" });
        let allTargetsResp = await fetch(`/api/v1/acunetix/targets?acunetix_id=${currentAcunetixName}`, { method: "get" });

        let currentTargets = await currentTargetsResp.json();
        let allTargets = await allTargetsResp.json();
        console.log(currentTargets)
        for (let target of currentTargets) {
            currentGroupTargetsMap.set(target.target_id, target);
        }
        for (let target of allTargets) {
            if (!currentGroupTargetsMap.get(target.target_id)) {
                notCurrentGroupTargetsMap.set(target.target_id, target);
            }
        }
        redrawTargetsInModal()
    }
    function redrawTargetsInModal() {
        let result = "";
        for (let [key, value] of currentGroupTargetsMap) {
            result += `
                <tr>
                    <td>
                        <input type="checkbox" onchange="pickCurrentTarget(event,'${key}')">
                    </td>
                    <td>
                        ${value.address}
                    </td>
                </tr>
            `
        }
        document.getElementById("currentGroupTargets").innerHTML = result
        result = ""
        for (let [key, value] of notCurrentGroupTargetsMap) {
            if (!currentGroupTargetsMap.get(key)) {
                result += `
                <tr>
                    <td>
                        <input type="checkbox" onchange="pickInAllTarget(event,'${key}')">
                    </td>
                    <td>
                        ${value.address}
                    </td>
                </tr>
            `
            }
        }
        document.getElementById("allGroupTargets").innerHTML = result
    }
    function pickCurrentTarget(event, id) {
        let target = currentGroupTargetsMap.get(id)
        if (event.target.checked) {
            target.checked = true
        } else {
            target.checked = false
        }
    }
    function pickInAllTarget(event, id) {
        let target = notCurrentGroupTargetsMap.get(id)
        if (event.target.checked) {
            target.checked = true
        } else {
            target.checked = false
        }
    }
    function removeTargets() {
        let found = false
        for (let [key, value] of currentGroupTargetsMap) {
            if (value.checked) {
                value.checked = false;
                notCurrentGroupTargetsMap.set(key, value)
                currentGroupTargetsMap.delete(key)
                found = true
            }
        }
        if (found) {
            redrawTargetsInModal()
        }
    }
    function addTargets() {
        let found = false
        for (let [key, value] of notCurrentGroupTargetsMap) {
            if (value.checked) {
                value.checked = false;
                currentGroupTargetsMap.set(key, value)
                notCurrentGroupTargetsMap.delete(key)
                found = true
            }
        }
        if (found) {
            redrawTargetsInModal()
        }
    }
    async function saveGroupTargets() {
        let new_group_targets = [];
        for (let [key, value] of currentGroupTargetsMap) {
            new_group_targets.push(key)
        }
        
        resp = await fetch(`/api/v1/acunetix/groups/${currentGroupIDForEditingMembership}/targets?acunetix_id=${currentAcunetixName}`, { method: 'put', headers: {"Content-Type": "application/json",}, body: JSON.stringify({ "new_targets": new_group_targets }) })
        if (resp.status === 204) {
            create_toast('Success', `Targets was set`, 'success')
            groups_table.dataLoader.reloadData();
            document.getElementById("cancel_editing_membership").click();
        }else{
            create_toast('Error', `Wrong format`, 'error')
        }
    }
</script>
{% endmacro %}