{% macro show() %}
<div class="modal fade" id="importTargetsCSV" tabindex="-1" aria-labelledby="addScanLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importTargetsLabel" data-i18n="Importing targets"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="import_targets_from_csv(event)" name="targetImportFormName" id="targetImportForm">
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <div id="acunetix_instance_target_import" class="mb-3">
                            </div>
                            <div class="mb-3" id="acunetix_groups_import">
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label" data-i18n="Tagets CSV file (each url should be on a new line)"></label>
                                <input class="form-control" type="file" multiple id="targetsFile" name="targets_csv">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancel_importing"
                        data-bs-dismiss="modal" data-i18n="Close"></button>
                    <button type="submit" class="btn btn-success" data-i18n="Import"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    async function import_targets_from_csv(event) {
        event.preventDefault();
        let payload = new FormData(event.target);
        let params = (new URLSearchParams({acunetix_id:payload.get("acunetix_id")})).toString()
        payload.delete("acunetix_id")
        let group_id = payload.get("group_id")
        payload.delete("group_id")
        for (const obj of payload.entries()){
            let newPayload = new FormData();
            let file = obj[1]
            newPayload.set("group_id", group_id)
            newPayload.set("targets_csv", file)
            let resp = await fetch(`/api/v1/acunetix/targets/import_csv?`+params, { method: 'post', body: newPayload })
            if (resp.status === 204) {
                document.getElementById("cancel_importing").click();
                create_toast('Success', `Successfully imported ${file.name}`, 'success');
            } else {
                create_toast('Error', `Wrong format`, 'error');
            }
        }
        targets_table.dataLoader.reloadData();
        groups_table.dataLoader.reloadData();
    }
    async function fillGroups(event, selector) {
        document.getElementById(selector).innerHTML = ""
        if (event.target.value === ""){
            return
        }
        let resp = await fetch(`/api/v1/acunetix/groups?acunetix_id=${event.target.value}`)
        let groups = await resp.json()
        let result = `<label for="acunetix_groups_import" class="form-label">${i18next.t('Group (not required)')}</label>
                                <select name="group_id" class="form-select">
                                    <option value=""></option>`
        for (group of groups) {
            result += `<option value="${group.group_id}">${group.name}</option>`
        }
        result += `</select>`
        document.getElementById(selector).innerHTML = result
    }
</script>
{% endmacro %}