{% macro show(project) %}
{% import 'projects/donut_card.html' as charts %}
<script src="/static/js/plotly-2.29.1.min.js.js"></script>
<script>

    function createDashboardChar(elementId, values, labels, text_inside = '') {
        let data;

        if (values.length === 0 || labels.length === 0) {
            data = [{
                values: [1],
                labels: ['No Data'],
                type: 'pie',
                textinfo: "label",
                textposition: "inside",
                hole: 0.4,
                marker: { colors: ['#ddd'] }
            }];
        } else {
            data = [{
                values: values,
                labels: labels,
                type: 'pie',
                textinfo: "label",
                textposition: "inside",
                hole: 0.4,
            }];
        }

        layout = {
            margin: { "t": 5, "b": 5, "l": 5, "r": 5 },
            showlegend: false,

            annotations: [{ text: text_inside, showarrow: false }]
        };

        const sizeInRem = 12;
        layout.height = sizeInRem * parseFloat(getComputedStyle(document.documentElement).fontSize);
        layout.width = sizeInRem * parseFloat(getComputedStyle(document.documentElement).fontSize);

        Plotly.newPlot(elementId, data, layout, { displayModeBar: false });

        return chart;
    }
</script>

<div id="{{project.project_id}}" class="h-100">
    <div class="card mb-3 h-100">
        <h6 class="card-header"
            style="display: flex; align-items: center; word-break: break-word; overflow-wrap: break-word;">
            <label class="form-check-label me-2" for="{{ project.name }}" style="flex-grow: 1;">
                {{ project.name }}
            </label>
            <div class="dropdown">
                <i class="bi bi-three-dots" type="button" id="dropdownMenuButton_{{ project.project_id }}"
                    data-bs-toggle="dropdown" aria-expanded="false">
                </i>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ project.project_id }}">
                    <li>
                        <a class="dropdown-item" href="#">
                            <button type="button" class="btn btn-danger flex-fill w-100"
                                onclick="deleteProject('{{ project.project_id }}')">
                                Delete
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </h6>
        <div id="projectCarousel{{ project.project_id }}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div class="text-center">

                            Top ports

                            {{ charts.create_donut('Top ports', 'top_ports_' ~ project.project_id,
                            project.top_ports | map(attribute='count') | list | tojson,
                            project.top_ports | map(attribute='value') | list | tojson,
                            project_id=project.project_id) }}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div class="text-center">

                            Top protocols

                            {{ charts.create_donut('Top protocols', 'top_protocols_' ~ project.project_id,
                            project.top_protocols | map(attribute='count') | list | tojson,
                            project.top_protocols | map(attribute='value') | list | tojson,
                            project_id=project.project_id) }}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div class="text-center">

                            Top objects

                            {{ charts.create_donut('Top objects', 'top_object_type_' ~ project.project_id,
                            project.top_object_type | map(attribute='count') | list | tojson,
                            project.top_object_type | map(attribute='value') | list | tojson,
                            project_id=project.project_id) }}
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div class="text-center">

                            Top products

                            {{ charts.create_donut('Top products', 'top_products_' ~ project.project_id,
                            project.top_products | map(attribute='count') | list | tojson,
                            project.top_products | map(attribute='value') | list | tojson,
                            project_id=project.project_id) }}
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button"
                data-bs-target="#projectCarousel{{ project.project_id }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button"
                data-bs-target="#projectCarousel{{ project.project_id }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
        <div class="card-body d-flex flex-column" style="padding-top: 0px;">
            <div class="mt-auto" style="padding-top: 0px;">


                <ul>
                    <li><strong>Node count: </strong>{{ project.ip_count | safe }}</li>
                    <li><strong>Port count: </strong>{{ project.port_count | safe }}</li>
                </ul>


                <button type="button" class="btn btn-success flex-fill w-100"
                    onclick="chooseProject('{{ project.project_id }}')">Choose
                </button>
            </div>
        </div>
    </div>
</div>

<div id="deleteProjectModal"></div>
<!-- <style>.carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black; /* Черный фон для стрелок */
        border-radius: 50%; /* Круглая форма */
    }</style> -->
<script>
    function chooseProject(project_id) {
        if (true) {
            let project = projectData.find(obj => obj.project_id === project_id);
            if (project) {
                redirect_fetch('/api/project/' + project.project_id, 'GET');
            }
        } else {
            document.getElementById('projectsForm').classList.add('was-validated');
        }
    }
    function deleteProject(project_id) {
        if (true) {
            let project = projectData.find(obj => obj.project_id === project_id);
            if (project) {
                create_modal('deleteProjectModal', 'Project deletion', 'Are you sure?', 'Delete',
                    function () {
                        fetch('/api/project/', {
                            method: 'delete',
                            body: JSON.stringify({ project_id: project.project_id })
                        }).then(() => { location.reload() })
                    }).show()
            } else {
                document.getElementById('projectsForm').classList.add('was-validated')
            }
        }
    }
</script>

{% endmacro %}