{% macro show() %}


<div class="tab-pane fade show active col-3" id="v-pills-snmp" role="tabpanel" aria-labelledby="v-pills-snmp-tab">
    <div class="d-flex flex-column">
        <div class="nav nav-tabs me-3 mb-3" id="snmp-tab" role="tablist">
            <button class="nav-link active" id="snmp-brute-cs-tab" data-bs-toggle="tab"
                data-bs-target="#snmp-brute-cs-mode" type="button" role="tab"
                aria-controls="snmp-brute-cs-mode" aria-selected="true">Brute community string</button>
            <button class="nav-link d-none" id="snmp-crawler-tab" data-bs-toggle="tab"
                data-bs-target="#snmp-crawler-mode" type="button" role="tab"
                aria-controls="snmp-crawler-mode" aria-selected="false">SNMP crawler</button>
        </div>


        <div class="tab-content" id="snmp" style="width: 28rem">

            <div class="tab-pane fage show active" id="snmp-brute-cs-mode" role="tabpanel" aria-labelledby="snmp-brute-cs-tab">
                <form id="SNMPbrutecommunitystring" class="needs-validation" novalidate>
                    <div class="input-group mb-3" id="ipTargetSNMPbrute">
                        <span class="input-group-text" id="ip_snmp_brute">IP</span>
                        <input type="text" class="form-control" id='inputIP_SNMPbrute'
                        placeholder="IP address or netmask" aria-label="IP"
                        aria-describedby="basic-addon1" required name="inputIP_SNMPbrute">
                    </div>

                    <div class="mb-3">
                        <label for="fileFromSNMPbrute_cs" class="form-label">Community strings dictionary (default if empty):</label>
                        <div class="d-flex">
                            <input class="form-control me-3" type="file" accept=".txt" id="fileFromSNMPbrute_cs">
                            <button class="btn btn-danger" type="button" onclick="reset_community_string_lst()">Reset</button>
                        </div>
                    </div>

                    <div class="btn-group d-flex my-2" role="group">
                        <button class="btn btn-outline-secondary" type="button" onclick="reset_params_from_SNMP_brute()">Reset params</button>
                        <button class="btn btn-primary" type="button" id="button_SNMP_start_brute" disabled onclick="start_brute_community_string()">Start brute</button>
                    </div>
                </form>
            </div>
            


            <div class="tab-pane fage show" id="snmp-crawler-mode" role="tabpanel" aria-labelledby="snmp-crawler-tab">
                <form id="SNMPcrawler" class="needs-validation" onsubmit="start_snmp_crawler(event)">
                    <div class="input-group mb-3" id="ipTargetSNMPcrawler">
                        <span class="input-group-text" id="ip_snmp_crawler">IP</span>
                        <input type="text" class="form-control" id='inputIP_SNMPcrawler'
                        placeholder="IP address or netmask" aria-label="IP"
                        aria-describedby="basic-addon1" required name="inputIP_SNMPcrawler">
                    </div>

                    <div class="input-group mb-3" id="id_class_communitystringSNMPcrawler">
                        <span class="input-group-text" id="id_span_communitystringSNMPcrawler">Community string</span>
                        <input type="text" class="form-control" id='id_inputCommunityString_SNMPcrawler'
                        aria-describedby="basic-addon1" required name="inputCommunityString_SNMPcrawler">
                    </div>

                    <div class="mb-3">
                        <label for="selectOIDforSNMPcrawler" class="form-label">OID:</label>
                        <div class="d-flex">
                            <label for="selectOIDforSNMPcrawler" class="form-label">...</label>
                        </div>
                    </div>

                    <div class="btn-group d-flex my-2" role="group">
                        <button class="btn btn-outline-secondary" type="button" onclick="reset_params_from_SNMP_crawler()">Reset params</button>
                        <button class="btn btn-primary" type="submit" id="button_SNMP_start_crawler" disabled>Start crawler</button>
                    </div>
                </form>
            </div>
        
        </div>

    </div>
</div>


<script>
    var mask = new Inputmask("ip").mask(document.getElementById('ipTargetSNMPbrute').lastElementChild)

    $('#ipTargetSNMPbrute').on
    (
        'change',
        function (e, data)
            {
                if ($('#inputIP_SNMPbrute').inputmask('isComplete')) {
                    document.getElementById('button_SNMP_start_brute').disabled = false;
                } else {
                    document.getElementById('button_SNMP_start_brute').disabled = true;
                }
            }
    )

    // <!--данные-->
    function reset_community_string_lst()
    {
        document.getElementById("fileFromSNMPbrute_cs").value = "";
    }

    function reset_params_from_SNMP_brute()
    {
        reset_community_string_lst();
        document.getElementById("inputIP_SNMPbrute").value = "";
        document.getElementById('button_SNMP_start_brute').disabled = true;
    }

    function start_brute_community_string()
    {
        let files = document.getElementById("fileFromSNMPbrute_cs").files;
        if (files.length)
        {
            var reader = new FileReader()
            reader.onload =
            (
                function (file)
                {
                    return async function (e) 
                        {
                            data = {community_string_lst: e.target.result, filename: file.name, ip: document.getElementById("inputIP_SNMPbrute").value}
                            resp = await fetch('/api/task/SNMP_brute_communitystring', {method: 'POST', body: JSON.stringify(data)});
                        }
                }
            ) (files[0])
            data = reader.readAsDataURL(files[0]);
        }
        else
        {
            return async function ()
            {
                data = {filename: "default.txt", ip: document.getElementById("inputIP_SNMPbrute").value};
                resp = await fetch('/api/task/SNMP_brute_communitystring', {method: 'POST', body: JSON.stringify(data)});
            } ()
        }
    }


    var mask = new Inputmask("ip").mask(document.getElementById('ipTargetSNMPcrawler').lastElementChild)

    $('#ipTargetSNMPcrawler').on
    (
        'change',
        function (e, data)
            {
                if ($('#inputIP_SNMPcrawler').inputmask('isComplete')) {
                    document.getElementById('button_SNMP_start_crawler').disabled = false;
                } else {
                    document.getElementById('button_SNMP_start_crawler').disabled = true;
                }
            }
    )


    function reset_params_from_SNMP_crawler()
    {
        document.getElementById("inputIP_SNMPcrawler").value = "";
        document.getElementById("id_inputCommunityString_SNMPcrawler").value = "";
        document.getElementById('button_SNMP_start_crawler').disabled = true
    }

    function start_snmp_crawler(event){
        event.preventDefault()   
        console.log(event);
        return async function ()
            {
                data = {ip: document.getElementById("inputIP_SNMPcrawler").value, community_string: document.getElementById("id_inputCommunityString_SNMPcrawler").value};
                resp = await fetch('/api/task/SNMP_crawler', {method: 'POST', body: JSON.stringify(data)});
            } ()
    }


</script>


{% endmacro %}