{% extends "base.html" %}
{% block title %}
    Projects
{% endblock title %}
{% block scripts %}

{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="d-flex align-items-center flex-column w-25">
    {% if projects %}
        <div class="d-flex flex-column w-75 p-3 justify-content-center">
            <h4 class="form-label">Choose project</h4>
            <form id="projectsForm">
                    {% for project in projects %}
                        <div class="form-check" id="radio-{{project}}">
                            <input class="form-check-input" type="radio" name="radio_button_project"  value="{{ project }}" id="{{ project }}" required>
                            <label class="form-check-label" for="{{ project }}">
                                {{project}}
                            </label>
                        {% if loop.last %}
                            <div class="invalid-feedback">Please, choose project</div>
                        {% endif %}
                        </div>

                    {% endfor %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-success flex-fill" 
                        onclick="if (document.getElementById('projectsForm').checkValidity()!= false) 
                        {
                            redirect_fetch('/api/project/' + $('input:radio[name=radio_button_project]:checked').val(), 'GET')
                        } else {
                            document.getElementById('projectsForm').classList.add('was-validated')
                        }">Choose</button>
                        <button type="button" class="btn btn-success flex-fill" onclick="if (document.getElementById('projectsForm').checkValidity()!= false) 
                        {
                            create_modal('deleteProjectModal', 'Project deletion', 'Are you sure?', 'Delete',
                                function() {fetch('/api/project/', {
                                        method: 'delete', 
                                        body: JSON.stringify({project_name: $('input:radio[name=radio_button_project]:checked').val()})
                                    }).then(() => {location.reload()})
                                    .catch(function(error) {
                                        create_toast('Deletion error', `Faile to delete project with name ${$('input:radio[name=radio_button_project]:checked').val()}. Message: ${error}`, 'error')
                                    })}).show()
                        } else {
                            document.getElementById('projectsForm').classList.add('was-validated')
                        }"
                            >Delete</button>
                        <div id="deleteProjectModal"></div>
                </div>
            </form>
        </div>
    {% endif %}
        <div class="d-flex flex-column w-75 p-3 justify-content-center">
            <h4>Create Project</h4>
                <form id="formCreateProject">
                    <div class="pb-2">
                        <input id="new_project_name" name="project_name" type="text" class="form-control" placeholder="Project name" required>
                        <div class="invalid-feedback">Please, type project name</div>
                    </div>
                    <div class="pb-2">
                        <select class="form-select" id="iface_select" name="iface" required>
                            <option value="" selected disabled>Select network interface</option>
                            {% for i in ifaces%}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please, choose interface</div>
                    </div>
                </form>
                <div class="d-flex flex-column pt-1">
                    <button class="btn btn-success" onclick="if (document.getElementById('formCreateProject').checkValidity() == false) {
                        document.getElementById('formCreateProject').classList.add('was-validated')
                        return false
                    } else {
                        fetch('/api/project/', {method: 'POST', body: JSON.stringify({
                                    project_name: document.getElementById('new_project_name').value,
                                    iface: document.getElementById('iface_select').value
                                    })
                                }
                            )
                            .catch(function(err) {
                                console.log(err)
                            })
                            .then(response => {
                                if (response.redirected) {window.location.href = response.url }
                            })
                    }">Create</button>
                </div>
        </div>
    </div>
</div>
{% endblock content %}