{% macro create_donut(title, main_id, data, lables, heigth=none, width=none) %}

<div id="{{main_id|safe}}" class="card m-1" {% if width %} style="width: {{width}}px;" {% else %} style="width: 300px" {% endif %}>
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <div id="{{main_id|safe}}_donut"></div>
    </div>

</div>
<script>
createDashboardChar("{{main_id|safe}}_donut", JSON.parse({{data}}), JSON.parse({{lables}}), {% if heigth %} {{heigth}} {% endif %})
</script>

{% endmacro %}