{% extends "base.html" %}
{% block title %}
Projects
{% endblock title %}
{% block scripts %}

{% endblock %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>
<link href="/static/css/tabulator.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/tabulator_bootstrap4.min.css" rel="stylesheet">
<script src="/static/js/tabulator.min.js" type="text/javascript"></script>
<script>

    function createDashboardChar(elementId, values, labels, height = null, text_inside = '') {
        data = [{
            values: values,
            labels: labels,
            type: 'pie',
            textinfo: "label",
            textposition: "inside",
            automargin: true,
            hole: 0.4,
        }]
        layout = {
            autosize: true,
            margin: { "t": 0, "b": 0, "l": 0, "r": 0 },
            showlegend: false,
            annotations: [{text: text_inside, showarrow: false}]
        }
        if (height != null) {
            layout.height = height
        }
        chart = Plotly.newPlot(elementId, data, layout, { displayModeBar: false })
        return chart
    }

</script>

<div class="row m-1">

    <div class="col-2 bg-light">
        <div class="d-flex flex-column bd-highlight mb-3">
            <h5 class="p-2 d-flex justify-content-center">
                Quantitative data
            </h5>

            <div class="d-flex flex-fill justify-content-between">
                <div class="p-2">Objects count</div>
                <div class="p-2">{{project_info.object_count}}</div>
            </div>
            <div class="d-flex flex-fill justify-content-between">
                <div class="p-2">IP count</div>
                <div class="p-2">{{project_info.ip_count}}</div>
            </div>
            <div class="d-flex flex-fill justify-content-between">
                <div class="p-2">Mac count</div>
                <div class="p-2">{{project_info.mac_count}}</div>
            </div>
            <div class="d-flex flex-fill justify-content-between">
                <div class="p-2">Ports count</div>
                <div class="p-2">{{project_info.port_count}}</div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="d-flex flex-column bd-highlight mb-3">
            <h5 class="p-2 d-flex justify-content-center">
                Graphical data
            </h5>

            <div class="d-flex flex-wrap">
                {% import 'donut.html' as charts %}
                {% if project_info.top_ports %}
                    {{charts.create_donut('Top ports', 'top_ports',
                    project_info.top_ports.data|tojson,
                    project_info.top_ports.lables|tojson, 
                    width=350, heigth=350)}}
                {% endif %}

                {% if project_info.top_protocols %}
                    {{charts.create_donut('Top protocols', 'top_protocols',
                    project_info.top_protocols.data|tojson,
                    project_info.top_protocols.lables|tojson, 
                    width=350, heigth=350)}}
                {% endif %}

                {% if project_info.top_object_type %}
                    {{charts.create_donut('Top objects', 'top_object_type',
                    project_info.top_object_type.data|tojson,
                    project_info.top_object_type.lables|tojson, 
                    width=350, heigth=350)}}
                {% endif %}

                {% if project_info.top_products %}
                    {{charts.create_donut('Top products', 'top_products',
                    project_info.top_products.data|tojson,
                    project_info.top_products.lables|tojson, 
                    width=350, heigth=350)}}
                {% endif %}
                
            </div>

            <h5 class="p-2 d-flex justify-content-center">
                Pivot table
            </h5>
            <div id="pivot_table">

            </div>

        </div>
    </div>

</div>

<script>

var headerMenu = function(){
    var menu = [];
    var columns = this.getColumns();
    for(let column of columns){
        if (column.getDefinition().field) {
            let icon = document.createElement("i");
            icon.classList.add("bi");
            icon.classList.add(column.isVisible() ? "bi-check-square" : "bi-square");
            let label = document.createElement("span");
            let title = document.createElement("span");
            title.textContent = " " + column.getDefinition().title;
            label.appendChild(icon);
            label.appendChild(title);
            menu.push({
                label:label,
                action:function(e){
                    e.stopPropagation();
                    column.toggle();
                    if(column.isVisible()){
                        icon.classList.remove("bi-square");
                        icon.classList.add("bi-check-square");
                    }else{
                        icon.classList.remove("bi-check-square");
                        icon.classList.add("bi-square");
                    }
                    {{tab.name}}_table.redraw()
                }
            });
        }
    }
    return menu;
}

var pivot_table = new Tabulator('#pivot_table',{
    layout: "fitColumns",
    ajaxURL: "{{tab.base_url}}/all",
    
    ajaxURLGenerator:function(url, config, params){
        //url - the url from the ajaxURL property or setData function
        //config - the request config object from the ajaxConfig property
        //params - the params object from the ajaxParams property, this will also include any pagination, filter and sorting properties based on table setup
        //return request url
        return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
    },
    selectable: false,
    sortMode: "remote",
    filterMode: "remote",
    pagination: true,
    paginationMode: "remote",
    paginationSize: 10,
    paginationInitialPage: 1,
    paginationSizeSelector: [5, 10, 25, 50, 100],
    columns: [
        {% for col in tab.columns %}
        {{'{'}}title: "{{col.title}}", field: "{{col.field}}", headerMenu: headerMenu},
        {% endfor %}
        ]
}
)
</script>
    



{% endblock content %}