{% macro show() %}


<div class="p-3">
    <button class="btn btn-primary mt-1" id="updateReports" data-bs-toggle="tooltip" data-bs-toggle="top"
        title="Update reports" onclick="reports_table.dataLoader.reloadData()"><i
            class="bi bi-arrow-clockwise"></i></button>
    <div id="reports_table" class="mt-2">

    </div>
</div>


<script>
    function reports_buttons_formatter(cell, formatterParams, onRendered) {
        return `
        <a href="/api/acunetix/reports/${cell.getRow().getData().report_id}/download/?format=pdf&acunetix_name=${cell.getRow().getData().acunetix_name}" id="{{reports_tab.name}}-pdf-${cell.getRow().getData().report_id}" class="btn btn-primary btn-sm">PDF</a>
        <a href="/api/acunetix/reports/${cell.getRow().getData().report_id}/download/?format=html&acunetix_name=${cell.getRow().getData().acunetix_name}" id="{{reports_tab.name}}-html-${cell.getRow().getData().report_id}" class="btn btn-secondary btn-sm">HTML</a>`;
    }
    var reports_table = new Tabulator('#reports_table', {
        layout: "fitColumns",
        ajaxURL: "{{reports_tab.base_url}}",

        ajaxURLGenerator: function (url, config, params) {
            //url - the url from the ajaxURL property or setData function
            //config - the request config object from the ajaxConfig property
            //params - the params object from the ajaxParams property, this will also include any pagination, filter and sorting properties based on table setup
            //return request url
            return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
        },
        selectable: false,
        sortMode: "local",
        filterMode: "remote",
        pagination: true,
        paginationMode: "local",
        paginationSize: 5,
        paginationInitialPage: 1,
        paginationSizeSelector: [5, 10, 25, 50, 100],
        columns: [
            {% for col in reports_tab.columns %}
        {{ '{'}}title: "{{col.title}}", field: "{{col.field}}",
        {% if col.headerSort == False %}
    headerSort: false,
        {% endif %}
    headerMenu: headerMenu},
    {% endfor %}
    { title: "Files", formatter: reports_buttons_formatter, headerSort: false }
        ]
}
)
reports_table.on("dataLoadError",function (error){
        document.getElementById("acunetix_reports_pill").style.display = 'none';
    })
</script>
{% endmacro %}