{% macro show()%}
<div class="modal fade" id="createReport" tabindex="-1" aria-labelledby="createReportLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addScanLabel">Creating report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="createReport(event)" id="createReportForm">
                <input type="hidden" name="scan_id" id="acunetix_report_scan_id">
                <div class="modal-body">
                    <div class="row mb-1">
                        <div class="col-4">
                            <label for="scan_profile_id" class="col-form-label">Scan Profile</label>
                        </div>
                        <div class="col-6">
                            <select name="template_id" id="scan_profile_id" class="form-select mt-1" data-allow-clear="1" data-suggestions-threshold="0" required>
                                <option selected value=""></option>
                                {% for template in report_templates %}
                                <option value="{{template.template_id}}">{{template.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancel_creating_report"
                        data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    async function createReport(event) {
        event.preventDefault();
        let payload = new FormData(event.target);
        resp = await fetch("/api/acunetix/reports/", { method: 'post', body: JSON.stringify(Object.fromEntries(payload)) })
        if (resp.status === 201) {
            document.getElementById("cancel_creating_report").click();
            reports_table.dataLoader.reloadData();
            data = await resp.json()
            create_toast('Success', `Queued report for ${data.source.description}`, 'success')
        }
    }
</script>
{% endmacro %}