{% macro show() %}
<div class="d-flex flex-row">
    <div class="card mt-1" style="width: 30rem;">
        <div class="card-header">
            Acunetix Settings
        </div>
        <form onsubmit="set_config(event)" id="acunetix_config_form">
            <div class="mb-3 mt-3 mx-2">
                <input type="text" class="form-control mt-1" id="acunetixSettingsInstanceName" name="name" required
                    placeholder="Acunetix Instance Name">
            </div>
            <div class="mb-3 mx-2">
                <input type="text" id="acunetixSettingsPassword" class="form-control mt-1" name="url" required
                    placeholder="Acunetix URL (e.g. https://localhost:8080)">
            </div>
            <div class="mb-2 mx-2">
                <input type="password" id="acunetixSettingsToken" class="form-control mt-1" name="token" required
                    placeholder="Acunetix Token">
            </div>
            <div class="mb-2 mx-2">
                <input type="text" id="acunetixSettingsUTCOffset" placeholder="UTC offset e.g. +05:00 or -03:30"
                    class="form-control mt-1" name="timeUTCOffset" value="+05:00" required>
            </div>
            <div class="mb-1 mx-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success mt-1">Save</button>
            </div>
        </form>
    </div>
    <div class="ms-4">
        <h3>Registered Acunetix</h3>
        <table class="table table-bordered mt-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody id="acunetix_configs">

            </tbody>
        </table>
    </div>
</div>

<script>
    var mask = new Inputmask({
        regex: "([+-])([0-9][0-9]:[0-9][0-9])"
    }).mask(document.getElementById('acunetixSettingsUTCOffset'))
    document.getElementById("acunetix_config_form").reset();
    let set_config = async function (event) {
        event.preventDefault();
        let payload = new FormData(event.target);
        resp = await fetch('/api/acunetix/config/', { method: 'post', body: JSON.stringify(Object.fromEntries(payload)) })
        if (resp.status === 200) {
            create_toast('Success', `Credentials were saved`, 'success')
            document.getElementById("acunetix_targets_pill").style.display = '';
            document.getElementById("acunetix_groups_pill").style.display = '';
            document.getElementById("acunetix_reports_pill").style.display = '';
            document.getElementById("acunetix_scans_pill").style.display = '';
            document.getElementById("updateTargets").click();
            document.getElementById("updateGroups").click();
            document.getElementById("updateReports").click();
            document.getElementById("updateScans").click();
            refreshConfigsTable();
            document.getElementById("acunetix_config_form").reset();
        } else {
            create_toast('Error', `Wrong credentials`, 'error')
        }
    }

    async function refreshConfigsTable() {
        resp = await fetch("/api/acunetix/config/")
        configs = await resp.json()
        result = ""
        for (config of configs) {
            result += `
            <tr>
                <td>${config.name}</td>
                <td>${config.url}</td>
                </tr>`
        }
        document.getElementById("acunetix_configs").innerHTML = result
    }
</script>
{% endmacro %}